
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySubjectLabel" data-translate="netbedlooApp.subject.home.createOrEditLabel">Create or edit a Subject</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.subject.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.subject.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="netbedlooApp.subject.publication" for="field_publication">Publication</label>
            <input type="text" class="form-control" name="publication" id="field_publication"
                    ng-model="vm.subject.publication"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="netbedlooApp.subject.publicationTime" for="field_publicationTime">Publication Time</label>
                <div class="input-group">
                    <input id="field_publicationTime" type="text" class="form-control" name="publicationTime" datetime-picker="{{dateformat}}" ng-model="vm.subject.publicationTime" is-open="vm.datePickerOpenStatus.publicationTime"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('publicationTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label data-translate="netbedlooApp.subject.forum" for="field_forum">Forum</label>
            <select class="form-control" id="field_forum" name="forum" ng-model="vm.subject.forum" ng-options="forum as forum.id for forum in vm.forums track by forum.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="netbedlooApp.subject.profile" for="field_profile">Profile</label>
            <select class="form-control" id="field_profile" name="profile" ng-model="vm.subject.profile" ng-options="profile as profile.id for profile in vm.profiles track by profile.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
