
<div>
    <h2><span data-translate="netbedlooApp.subject.detail.title">Subject</span> {{vm.subject.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="netbedlooApp.subject.publication">Publication</span></dt>
        <dd>
            <span>{{vm.subject.publication}}</span>
        </dd>
        <dt><span data-translate="netbedlooApp.subject.publicationTime">Publication Time</span></dt>
        <dd>
            <span>{{vm.subject.publicationTime | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="netbedlooApp.subject.forum">Forum</span></dt>
        <dd>
            <a ui-sref="forum-detail({id:vm.subject.forum.id})">{{vm.subject.forum.id}}</a>
        </dd>
        <dt><span data-translate="netbedlooApp.subject.profile">Profile</span></dt>
        <dd>
            <a ui-sref="profile-detail({pseudo:vm.subject.profile.pseudo})">{{vm.subject.profile.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="subject-detail.edit({id:vm.subject.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
