<style>
    .md-autocomplete-suggestions-container {
        z-index: 100000 !important;
    }

    html,
    body {
        overflow-x: hidden;
    }
</style>
<div class="modal-content" style="padding: 0px; min-height:100%">
    <div ng-hide="loading" class="row">
        <div class="col-md-5" style="padding: 0px; margin: 0px">
            <!--
            <a ng-show="avilable!=1&&cat===2" data-toggle="modal" data-target="#myModal2">
                <img ng-show="myCroppedImage!=''" style="width: 100%; height: auto;" ng-src="{{myCroppedImage}}" ng-class="rounded-circle" />
                <img ng-hide="myCroppedImage!=''" style="width: 100%; height: auto;" ng-src="{{coverImage}}" ng-class="rounded-circle" />


            </a>-->
            <a ng-hide="avilable===1" data-toggle="modal" data-target="#myModal">
                <img ng-show="myCroppedImage!=''" style="width: 100%; height: auto;" ng-src="{{myCroppedImage}}" />
                <img ng-hide="myCroppedImage!=''" style="width: 100%; height: auto;" ng-src="{{coverImage}}" />


            </a>
            <img ng-show="avilable===1" style="width: 100%; height: auto;" ng-src="{{myCroppedImage}}" />


        </div>
        <div class="col-md-7">
            <div style="margin:5%">
                    <div class="alert alert-danger" ng-show="error!=null" data-translate="netbedlooApp.article.add.fail">
                            Something went wrong ! Please try again later or <a href="mailto:contact@netbedloo.com">contact Us</a> if the error persist.
                         </div>
                <form name="newBookForm" ng-submit="save()">
                    <center>
                        <h2 ng-hide="avilable===1||cat===2">{{'netbedlooApp.article.add.newbook' | translate}}</h2>

                        <strong ng-show="avilable===1">
                            <a style="color:#3498db" ui-sref="book-detail({id:Tid})" ng-click="$close()">{{title}}</a> {{'netbedlooApp.article.add.exist' | translate}}</strong>
                    </center>
                    <md-autocomplete required md-select-on-match="true" md-selected-item="selectedLanguage" md-search-text="vm.searchLg" md-items="language in querySearchLanguage(vm.searchLg)"
                        md-item-text="language.name" md-selected-item-change="selectedItemChange(language)" md-min-length="0"
                        md-floating-label="{{'netbedlooApp.article.add.language' | translate}}">
                        <md-item-template>
                            <span md-highlight-text="vm.searchLg">{{language.name}}</span>
                        </md-item-template>

                    </md-autocomplete>

                    <md-autocomplete ng-show="selectedLanguage!=null" required md-select-on-match="true" ng-disabled="avilable===1" md-selected-item="vm.selectedItem" md-search-text="vm.searchText"
                        md-items="item in querySearch(vm.searchText)" md-item-text="item.title" md-delay="500" md-floating-label="{{'netbedlooApp.article.add.title' | translate}}">
                        <div ui-keypress="{13:'updateInfo(item)'}" ng-click="updateInfo(item)" layout="row" class="item" layout-align="start center">
                            <img ng-src="{{item.normalImage}}" height="30px" width="auto" /> &nbsp;&nbsp;
                            <span md-highlight-text="vm.searchText">{{item.title}}</span>
                        </div>

                    </md-autocomplete>
                    <md-input-container ng-show="title!=''" class="md-block">
                        <label ng-show="cat===1" >{{'netbedlooApp.article.add.author' | translate}}</label>
                        <input ng-disabled="avilable===1" name="author" ng-model="author" md-maxlength="100" required/>
                    </md-input-container>
                    <center ng-hide="author===''||avilable===1||hide"> 
                        <md-button type="button"  ng-click="getInformations()" class="md-raised" style="color:black; font-family: 'Share Tech Mono', monospace;font-size:14px" tooltip-animation="false"  tooltip-placement="bottom" uib-tooltip="{{'netbedlooApp.article.add.help' | translate}}">
                            {{'netbedlooApp.article.add.sbewlou' | translate}} <img style="vertical-align:middle" width="20px" src="content/images/magic-wand.svg"/>
                        </md-button>
                    </center>
                
                    <md-input-container ng-hide="!hide" class="md-block">
                        <label ng-show="cat===1">{{'netbedlooApp.article.add.description' | translate}}</label>
                        <textarea md-select-on-focus ng-disabled="avilable===1" ng-model="description"  rows="5" required></textarea>

                    </md-input-container>
                    <md-chips  ng-model="selectedTags" md-autocomplete-snap md-transform-chip="transformChipTag($chip)" md-require-match="false">
                        <md-autocomplete md-select-on-match="true" md-selected-item="vm.selectedTag" md-search-text="vm.searchTag" md-items="tag in querySearchTag(vm.searchTag)"
                            md-item-text="tag.tag" md-min-length="0" md-delay="500" placeholder="{{'netbedlooApp.article.add.tags' | translate}}" md-autofocus>
                            <md-item-template>
                                <span md-highlight-text="vm.searchTag">{{tag.tag}}</span>
                            </md-item-template>

                        </md-autocomplete>
                        <md-chip-template>
                            <span>
                                <em>{{$chip.tag}} </em>
                            </span>
                        </md-chip-template>
                    </md-chips>







                    <div ng-hide="avilable===1">
                        <center>
                            <md-button style="background: #3498db" type="submit" ng-disabled="newBookForm.$invalid || vm.isSaving || myCroppedImage===''"
                                class="md-raised md-primary">{{'netbedlooApp.article.add.add' | translate}}</md-button>
                            <md-button ng-click="clear()" type="button" class="md-raised" data-dismiss="modal">{{'netbedlooApp.article.add.cancel' | translate}}</md-button>
                        </center>

                    </div>
                    <div class="row" style="margin:5%" ng-show="avilable===1">

                        <div class="col-xs-4 breveStats">
                            <a tooltip-animation="false" tooltip-append-to-body="true" tooltip-placement="bottom" uib-tooltip="{{own===0? 'Have it': 'Not Anymore'}}"
                                ng-click="changeOwnState()">
                                <span>
                                    <i ng-class="{ 'fa fa-bookmark-o fa-3x' : own===0,
                    'fa fa-bookmark fa-3x' : own===1}" aria-hidden="true"></i>
                                </span>
                            </a>
                        </div>
                        <div class="col-xs-4 breveStats">
                            <a tooltip-animation="false" tooltip-append-to-body="true" tooltip-placement="bottom" uib-tooltip="{{want===0? 'Want it': 'Not Anymore'}}"
                                ng-click="changeWantState()">
                                <span>
                                    <i ng-class="{ 'fa fa-heart-o fa-3x' : want===0,
                    'fa fa-heart fa-3x' : want===1}" aria-hidden="true"></i>
                                </span>
                            </a>
                        </div>
                        <div class="col-xs-4 breveStats">
                            <a style="color:#3498db" ui-sref="book-detail({id:Tid})" ng-click="$close()" tooltip-animation=" false" tooltip-placement="bottom"
                                uib-tooltip="{{'netbedlooApp.article.modal.go' | translate}}">
                                <span>
                                    <i class="fa fa-comments-o fa-3x" aria-hidden="true"></i>
                                </span>
                            </a>
                        </div>

                    </div>
                    <center ng-show="avilable===1">
                        <md-button ng-click="clear()" type="button" class="md-raised" data-dismiss="modal">{{'netbedlooApp.article.add.done' | translate}}</md-button>
                    </center>
                </form>


            </div>
        </div>
    </div>
    <div class="loading" ng-show="loading" style="margin:30% auto">
            <div class='loader'>
                <span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
                <div class='base'>
                    <span></span>
                    <div class='face'></div>
                </div>
            </div>
            <div class='longfazers'>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <h1>{{'netbedlooApp.article.add.loading' | translate}}</h1>
        </div>
    <div class="modal-footer visible-xs">
        <button type="button" ng-click="clear()" class="btn btn-secondary" data-dismiss="modal">{{'netbedlooApp.article.modal.close' | translate}}</button>
    </div>


</div>


<!-- modal-->
<div style="    background: rgba(0, 0, 0, 0.8);
" id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content needs fix-->
        <div style="background:black;color: white" class="modal-content">

            <div class="modal-body">

                <center>
                    <div>
                        <input accept="image/*" type="file" id="fileInput" custom-on-change="handleFileSelect" />
                    </div>

                    <div style="min-height: 300px; height: 100%; width: 100%; background:black" class="cropArea">
                        <ui-cropper result-image-size="{w:600,h:1000}" style="height: 100%" image="myImage" area-type="rectangle" aspect-ratio="0.6"
                            chargement="'Chargment en cours '" result-image="myCroppedImage" canvas-scalemode="true" init-max-area="true"></ui-cropper>

                    </div>

                </center>
            </div>
            <div class="modal-footer">
                <button style="float: right" ng-show="myCroppedImage===''" type="button" class="btn btn-secondary" data-dismiss="modal">{{'netbedlooApp.article.add.cancel' | translate}}</button>
                <button ng-hide="myCroppedImage===''" type="button" class="btn btn-primary" data-dismiss="modal">{{'netbedlooApp.article.add.done' | translate}}</button>

            </div>
        </div>

    </div>
</div>
<!-- end of modal -->

<!--<div style="    background: rgba(0, 0, 0, 0.8);
" id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <div style="background:black;color: white" class="modal-content">

            <div class="modal-body">

                <center>
                    <div>
                        <input accept="image/*" type="file" id="fileInput" custom-on-change="handleFileSelect" />
                    </div>

                    <div style="min-height: 300px; height: 100%; width: 100%; background:black" class="cropArea">
                        <ui-cropper style="height: 100%" image="myImage" area-type="circle" chargement="'Chargment en cours '" result-image="myCroppedImage" canvas-scalemode="true" result-image-size="200" canvas-scalemode="true" init-max-area="true"></ui-cropper>

                    </div>

                </center>
            </div>
            <div class="modal-footer">
                <button style="float: right" ng-show="myCroppedImage===''" type="button" class="btn btn-secondary" data-dismiss="modal">fermer</button>
                <button ng-hide="myCroppedImage===''" type="button" class="btn btn-primary" data-dismiss="modal">Mettre à jour</button>

            </div>
        </div>

    </div>
</div>-->