
<style>
    .ratings_wrapper .imdbRating {
        font-size: 11px;
        height: 40px;
        line-height: 13px;
        padding: 2px 0 0 34px;
        margin-left: 10px;
    }

    .ratings_wrapper .imdbRating .notEnoughRatings {
        padding-top: 5px
    }

    .ratings_wrapper .imdbRating .ratingValue {
        margin-bottom: -2px;
        white-space: nowrap;
        position: relative;
        top: -53px;
        right: 20px;
    }

    .ratings_wrapper .imdbRating .ratingValue strong {
        font-size: 24px;
        font-weight: normal;
        font-family: Arial;
        line-height: 24px
    }

    .ratings_wrapper .imdbRating .grey {
        color: #6b6b6b;
        font-size: 10px
    }

    .ratings_wrapper .imdbRating .small {
        font-size: 10px
    }

    .ratings_wrapper .star-rating-widget {
        height: 42px;
        position: absolute;
        right: 0;
        top: 0;
        width: 92px
    }

    .ratings_wrapper .star-rating-widget .star-rating {
        background-color: #484A48;
        border-color: #AAA;
        border-radius: 5px;
        padding: 10px
    }

    .ratings_wrapper .star-rating-widget .star-rating-stars>a {
        background: url("/images/G/01/imdb/images/sitewide/imdb_global_sprite-1857117761._V_.png") no-repeat;
        background-position: -227px -1px
    }

    .ratings_wrapper .star-rating-widget .star-rating-stars>a.on,
    .ratings_wrapper .star-rating-widget .star-rating-stars>a.hover {
        background-position: -227px -61px
    }

    .ratings_wrapper .star-rating-widget .star-rating-button {
        height: 42px;
        width: 91px
    }

    .ratings_wrapper .star-rating-widget .star-rating-button button {
        border-left: 1px solid #6b6b6b;
        color: #fff;
        font: normal 11px/13px Verdana, Arial, sans-serif;
        text-align: left;
        white-space: normal;
        padding: 1px 0 1px 1px;
        height: 42px;
        width: 91px;
        border-radius: 0
    }

    .ratings_wrapper .star-rating-widget .star-rating-button button:hover {
        background-color: #136CB2;
        border-left: 1px solid #136CB2
    }

    .ratings_wrapper .star-rating-widget .star-rating-button button .star-rating-value {
        font: normal 24px/24px Arial;
        display: block;
        padding-top: 1px
    }

    .asir {
        position: relative;
        top: -50px;
        right: 15px;
    }

    .bookstar {
        height: 42px;
        position: relative;
        width: 92px;
        right: 100px;
        top: -15px;
    }

</style>
<div class="modal-content" ng-hide="book.category.id=='1102'" style="padding: 0px; min-height:100%; background:white">
    <div class="row">
        <div class="col-md-5" style="padding: 0px; margin: 0px">
            <div class="show-image ">
                <img ng-show="book.normalImage!=null" ng-src="{{book.normalImage}}" style="width: 100%; height: auto;" class="book_detail_image"
                />
                <img ng-hide="book.normalImage!=null" class="book_detail_image" style="width:100%;  height:auto;" ng-src="content/images/NaruLogoposter2.jpg"
                />

                <div ng-show="hasAccount" class="edit">
                    <a data-toggle="modal" data-target="#bookReport">
                        <i tooltip-animation="false" tooltip-append-to-body="true" tooltip-placement="bottom" uib-tooltip="{{'netbedlooApp.article.reportit' | translate}}"
                            style="margin-bottom: 80px;margin-left: 10px;text-shadow: 1px 1px 5px black" class="fa fa-ban fa-2x"></i>
                    </a>
                    <a has-authority="ROLE_ADMIN" data-toggle="modal" data-target="#myModalImage">
                        <i tooltip-animation="false" tooltip-append-to-body="true" tooltip-placement="right" uib-tooltip="Change Book Image" style="margin-bottom: 80px;margin-left: 60px;text-shadow: 1px 1px 5px black"
                            class="fa fa-picture-o fa-2x"></i>
                    </a>
                </div>

            </div>
        </div>
        <div class="col-md-7">
            <div style="margin:5% ">

                <center>
                    <a ui-sref="book-detail({id:book.id}) " ng-click="$close()">
                        <h2 style="color:#3498db">{{book.title}}</h2>
                    </a>
                </center>
                <center>
                    <p> de {{book.author}}
                    </p>
                </center>

                <div class="row" style="margin-top:30px">


                    <div class="col-md-5">
                        <p>
                            <span class="label label-default" style="background:#3498db;text-align:center;font-size:14px">{{book.spec.name}}</span>
                        </p>
                    </div>
                    <div ng-show="edit===0" class="col-md-7" style="float:right">
                        <div class="ratings_wrapper">
                            <div class="imdbRating">

                                <img class="bookstar" src="content/images/all-rating-book.svg">

                                <div class="ratingValue">

                                    <span itemprop="ratingValue">
                                        <strong>{{rate}}</strong>
                                    </span>

                                    <span class="grey">/</span>
                                    <span class="grey" itemprop="bestRating">5</span>

                                </div>
                                <a ng-hide="isArab" tooltip-animation="false" tooltip-placement="bottom" uib-tooltip="{{'netbedlooApp.article.rateof' | translate}} {{book.title}} :  {{rate}} {{'netbedlooApp.article.based' | translate}} {{raters}} {{'netbedlooApp.article.raters' | translate}}"
                                    href="#" class="asir" style="color:#3498db ">
                                    <span class="small " itemprop="ratingCount ">{{raters}}</span>

                                </a>
                                <a ng-show="isArab" tooltip-animation="false" tooltip-placement="bottom" uib-tooltip="{{'netbedlooApp.article.raters' | translate}}"
                                    href="#" class="asir" style="color:#3498db ">
                                    <span class="small " itemprop="ratingCount ">{{raters}}</span>

                                </a>
                                <div style="position:relative;right:20px;top:-129px">
                                    <md-fab-speed-dial ng-hide="hidden" md-direction="left" md-open="isOpen" class="md-scale md-fab-top-right" ng-class="{ 'md-hover-full': hover }"
                                        ng-mouseenter="isOpen=true" ng-mouseleave="isOpen=false">
                                        <md-fab-trigger>
                                            <md-button aria-label="rating" style="background:#3498db" class="md-fab md-warn">
                                                <md-tooltip md-direction="bottom" md-visible="tooltipVisible">{{'netbedlooApp.article.yours' | translate}}</md-tooltip>
                                                <md-icon md-svg-src="content/images/star.svg" aria-label="rating"></md-icon>
                                            </md-button>
                                        </md-fab-trigger>
                                        <md-fab-actions style="width:300px">
                                            <h3>
                                                <div ng-hide="hasAccount" style='border:2px solid #3498db;background:white;margin:10px;border-radius:5px;padding:10px'>
                                                    <span style="color:#daa520;" data-toggle="modal" data-target="#rate" uib-rating ng-model="vm.rate" max="max" read-only="false"
                                                        on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['1 Star','2 Stars','3 Stars','4 Stars','5 Stars']"
                                                        aria-labelledby="default-rating"></span>
                                                </div>
                                                <div ng-show="hasAccount" style='border:2px solid #3498db;background:white;margin:10px;border-radius:5px;padding:10px'>
                                                    <span style="color:#daa520;" ng-change="change(vm.rate)" uib-rating ng-model="vm.rate" max="max" read-only="false" on-hover="hoveringOver(value)"
                                                        on-leave="overStar = null" titles="['1 Star','2 Stars','3 Stars','4 Stars','5 Stars']"
                                                        aria-labelledby="default-rating"></span>
                                                </div>
                                            </h3>
                                        </md-fab-actions>
                                    </md-fab-speed-dial>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <br>
                <blockquote ng-show="!arabBook&&edit===0">{{shortdesc}}...</blockquote>
                <blockquote ng-show="arabBook&&edit===0" dir="rtl">{{shortdesc}}...</blockquote>
                <form name="editForm" ng-submit="saveDescription()">
                    <md-input-container style="margin-bottom:5px" ng-show="edit===1" class="md-block">
                        <label data-translate="netbedlooApp.article.title">Title</label>
                        <input ng-model="book.title" type="text" />
                    </md-input-container>
                    <md-input-container style="margin-bottom:5px" ng-show="edit===1" class="md-block">
                        <label data-translate="netbedlooApp.article.author">Author</label>
                        <input ng-model="book.author" type="text" />
                    </md-input-container>
                    <md-input-container style="margin-bottom:5px" ng-show="edit===1" class="md-block">
                        <label data-translate="netbedlooApp.article.description">Description</label>
                        <textarea ng-model="book.description" rows="3" md-select-on-focus md-no-autogrow></textarea>
                    </md-input-container>

                    <md-button style="background: #3498db" ng-show="edit===1" type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="md-raised md-primary">Update Done!</md-button>
                    <md-button ng-show="edit===1" ng-click="edit=0" type="button" class="md-raised">Cancel</md-button>

                </form>

                <a has-authority="ROLE_ADMIN" ng-click="editBio()" ng-show="edit===0">
                    <i tooltip-animation="false" tooltip-append-to-body="true" tooltip-placement="bottom" uib-tooltip="Update Book Description"
                        style="float: right;" class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                <a  ng-click="add()" ng-show="addtags===0&&edit===0">
                    <i tooltip-animation="false" tooltip-append-to-body="true" tooltip-placement="bottom" uib-tooltip="{{'netbedlooApp.article.add.tags' | translate}}" style="float: right;margin-right:10px"
                        class="fa fa-tags" aria-hidden="true"></i>
                </a>
                <form name="editForm" ng-submit="saveTags()">
                    <md-chips ng-show="addtags===1" ng-model="selectedBookTags" md-autocomplete-snap md-transform-chip="transformChipTag($chip)"
                        md-require-match="false">
                        <md-autocomplete md-select-on-match="true" md-selected-item="selectedBookTag" md-search-text="searchBookTag" md-items="tag in querySearchBookTag(searchBookTag)"
                            md-item-text="tag.tag" md-min-length="0" md-delay="500" placeholder="{{'netbedlooApp.article.add.tags' | translate}}"
                            md-autofocus>
                            <md-item-template>
                                <span md-highlight-text="searchBookTag">{{tag.tag}}</span>
                            </md-item-template>

                        </md-autocomplete>
                        <md-chip-template>
                            <span>
                                <em>{{$chip.tag}} </em>
                            </span>
                        </md-chip-template>
                    </md-chips>
                    <md-button style="background: #3498db" ng-show="addtags===1" type="submit" ng-disabled="editForm.$invalid || vm.isSaving"
                        class="md-raised md-primary">Done !</md-button>
                    <md-button ng-show="addtags===1" ng-click="addtags=0" type="button" class="md-raised">Cancel</md-button>
                </form>
                <br>
                <Strong dir="rtl" style="float:right" ng-show="wanteds.length>0&&isArab">{{'netbedlooApp.article.want' | translate}}</Strong>
                <Strong ng-show="wanteds.length>0&&!isArab">{{'netbedlooApp.article.want' | translate}}</Strong>
                <div ng-show="wanteds.length>0" class="row" style="margin-top:2%; margin-bottom: 2%">

                    <div ng-hide="wanteds.length>6" class="col-xs-2" ng-repeat="wanted in wanteds | limitTo:6 ">
                        <a tooltip-append-to-body="true" tooltip-placement="top" uib-tooltip="{{wanted.wanter.firstName}} {{wanted.wanter.lastName}}"
                            ng-click="clear()" ui-sref="profile-detail({pseudo:wanted.wanter.pseudo})">
                            <img class="rounded-circle" ng-src="{{wanted.wanter.thumbnailImage}}" style="width: 100%; height: auto;" />
                        </a>
                    </div>
                    <div ng-show="wanteds.length>6" class="col-xs-2" ng-repeat="wanted in wanteds | limitTo:5 ">
                        <a tooltip-append-to-body="true" tooltip-placement="top" uib-tooltip="{{wanted.wanter.firstName}} {{wanted.wanter.lastName}}"
                            ng-click="clear()" ui-sref="profile-detail({pseudo:wanted.wanter.pseudo})">
                            <img class="rounded-circle" ng-src="{{wanted.wanter.thumbnailImage}}" style="width: 100%; height: auto;" />
                        </a>
                    </div>
                    <div ng-show="wanteds.length>6" class="col-xs-2">
                        <button tooltip-append-to-body="true" tooltip-placement="top" uib-tooltip="{{'netbedlooApp.article.seeallw' | translate}}"
                            data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#wantedModal" style="background:white;"
                            type="button" class="btn btn-default btn-circle  btn-xl">+{{wanters.length - 5}}
                        </button>
                    </div>
                </div>
                <p dir="rtl" class="well" ng-show="wanteds.length<1&&isArab">{{'netbedlooApp.article.nowant' | translate}}
                </p>
                <p class="well" ng-show="wanteds.length<1&&!isArab">{{'netbedlooApp.article.nowant' | translate}}
                </p>

                <Strong dir="rtl" style="float:right" ng-show="owneds.length>0&&isArab">{{'netbedlooApp.article.own' | translate}}</Strong>
                <Strong ng-show="owneds.length>0&&!isArab">{{'netbedlooApp.article.own' | translate}}</Strong>
                <div ng-show="owneds.length>0" class="row" style="margin-top:2%; margin-bottom: 2%">
                    <div ng-hide="owneds.length>6" class="col-xs-2" ng-repeat="owned in owneds | limitTo:6 ">
                        <a tooltip-append-to-body="true" tooltip-placement="bottom" uib-tooltip="{{owned.owner.firstName}} {{owned.owner.lastName}}"
                            ng-click="clear()" ui-sref="profile-detail({pseudo:owned.owner.pseudo})">
                            <img class="rounded-circle" ng-src="{{owned.owner.thumbnailImage}}" style="width: 100%; height: auto;" />
                        </a>
                    </div>
                    <div ng-show="owneds.length>6" class="col-xs-2" ng-repeat="owned in owneds | limitTo:5 ">
                        <a tooltip-append-to-body="true" tooltip-placement="bottom" uib-tooltip="{{owned.owner.firstName}} {{owned.owner.lastName}}"
                            ng-click="clear()" ui-sref="profile-detail({pseudo:owned.owner.pseudo})">
                            <img class="rounded-circle" ng-src="{{owned.owner.thumbnailImage}}" style="width: 100%; height: auto;" />
                        </a>
                    </div>
                    <div ng-show="owneds.length>6" class="col-xs-2">
                        <button tooltip-append-to-body="true" tooltip-placement="bottom" uib-tooltip="{{'netbedlooApp.article.seeallo' | translate}}"
                            data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#ownedModal" style="background:white;"
                            type="button" class="btn btn-default btn-circle  btn-xl">+{{owneds.length - 5}}
                        </button>
                    </div>

                </div>
                <p class="well" ng-show="owneds.length<1&&!isArab">{{'netbedlooApp.article.nown' | translate}}</p>
                <p  dir="rtl" class="well" ng-show="owneds.length<1&&isArab">{{'netbedlooApp.article.nown' | translate}}
                </p>
                <br>
                <a has-authority="ROLE_ADMIN" ng-click="addWanter()" ng-show="wanty===0&&owny===0">
                        <i tooltip-animation="false" tooltip-append-to-body="true" tooltip-placement="bottom" uib-tooltip="Add wanters" style="float:right"
                            class="fa fa-heart" aria-hidden="true"></i>
                    </a>
                    <a has-authority="ROLE_ADMIN" ng-click="addOwner()" ng-show="owny===0&&wanty===0">
                        <i tooltip-animation="false" tooltip-append-to-body="true" tooltip-placement="bottom" uib-tooltip="Add owners" style="float:right;margin-right:50px"
                            class="fa fa-bookmark" aria-hidden="true"></i>
                    </a>
                    <form  name="editForm" ng-submit="newWanters()">
                        <md-content ng-show="wanty===1" class="md-padding autocomplete" layout="column">
                            <md-chips ng-model="wanters" md-autocomplete-snap md-transform-chip="transformProfileChip($chip)" md-require-match="true">
                                <md-autocomplete md-selected-item="selectedProfile" md-search-text="searchProfile" md-items="item in searchForProfile(searchProfile)" md-item-text="item.firstName"
                                    placeholder="Profiles">
                                    <span md-highlight-text="searchProfile">{{item.firstName}} {{item.lastName}}</span>
                                </md-autocomplete>
                                <md-chip-template>
                                    <span>
                                        <img ng-src="{{$chip.thumbnailImage}}" class="md-avatar rounded-circle" style="height: auto;
                                        width: 25px;
                                        vertical-align: middle;">
                                        <em>{{$chip.firstName}} {{$chip.lastName}}</em>
                                    </span>
                                </md-chip-template>
                            </md-chips>
    
                        </md-content>
                        <md-button style="background: #3498db" ng-show="wanty===1" type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="md-raised md-primary">Done!</md-button>
                        <md-button ng-show="wanty===1" ng-click="wanty=0" type="button" class="md-raised">Cancel</md-button>
                    </form>
                    <form name="editForm" ng-submit="newOwners()">
                            <md-content ng-show="owny===1" class="md-padding autocomplete" layout="column">
                                <md-chips ng-model="owners" md-autocomplete-snap md-transform-chip="transformProfileChip($chip)" md-require-match="true">
                                    <md-autocomplete md-selected-item="selectedProfile" md-search-text="searchProfile" md-items="item in searchForProfile(searchProfile)" md-item-text="item.firstName"
                                        placeholder="Profiles">
                                        <span md-highlight-text="searchProfile">{{item.firstName}} {{item.lastName}}</span>
                                    </md-autocomplete>
                                    <md-chip-template>
                                        <span>
                                            <img ng-src="{{$chip.thumbnailImage}}" class="md-avatar rounded-circle" style="height: auto;
                                            width: 25px;
                                            vertical-align: middle;">
                                            <em>{{$chip.firstName}} {{$chip.lastName}}</em>
                                        </span>
                                    </md-chip-template>
                                </md-chips>
        
                            </md-content>
                            <md-button style="background: #3498db" ng-show="owny===1" type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="md-raised md-primary">Done!</md-button>
                            <md-button ng-show="owny===1" ng-click="owny=0" type="button" class="md-raised">Cancel</md-button>
                        </form>

            </div>
            <div style="height:60px"></div>
            <div class="row" style="margin:5%;">
                <div class="col-xs-4 breveStats">
                    <a tooltip-animation="false" tooltip-placement="bottom" uib-tooltip="{{own===0? 'Have it': 'Not Anymore'}} " ng-click="changeOwnState() ">
                        <span>
                            <i ng-class="{ 'fa fa-bookmark-o fa-3x' : own===0,
                    'fa fa-bookmark fa-3x' : own===1} " aria-hidden="true "></i>
                        </span>
                    </a>
                </div>
                <div class="col-xs-4 breveStats">
                    <a tooltip-animation="false" tooltip-placement="bottom" uib-tooltip="{{want===0? 'Want it': 'Not Anymore'}} " ng-click="changeWantState() ">
                        <span>
                            <i ng-class="{ 'fa fa-heart-o fa-3x' : want===0,
                    'fa fa-heart fa-3x' : want===1} " aria-hidden="true "></i>
                        </span>
                    </a>
                </div>
                <div class="col-xs-4 breveStats">
                    <a style="color:#3498db" ui-sref="book-detail({id:book.id})" ng-click="$close()" tooltip-animation=" false " tooltip-placement="bottom "
                        uib-tooltip="{{'netbedlooApp.article.go' | translate}}">
                        <span>
                            <i class="fa fa-comments-o fa-3x " aria-hidden="true "></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="row" style="margin:5%;">

            </div>

        </div>
    </div>

    <div class="modal-footer visible-xs ">

        </button>
        <button type="button" ng-click="clear()" class="btn btn-secondary" data-dismiss="modal">{{'netbedlooApp.article.close' | translate}}</button>
    </div>


</div>
<div class="modal-content" ng-show="isGame" style="padding: 0px; min-height:100%; background:black">
    <div class="row">

        <div class="col-md-5" style="padding: 0px; margin: 0px">
            <div class="show-image">
                <img ng-show="book.normalImage!=null" ng-src="{{book.normalImage}}" style="width: 100%; height: auto; padding-top:15%" />
                <img ng-hide="book.normalImage!=null" class="book_detail_image" style="width:100%;  height:auto;" ng-src="content/images/NaruLogoposter2.jpg"
                />

                <div ng-show="hasAccount" class="edit">
                    <a data-toggle="modal" data-target="#myGamingModal">
                        <i tooltip-animation="false" tooltip-append-to-body="true" tooltip-placement="bottom" uib-tooltip="{{'netbedlooApp.article.gor' | translate}}"
                            style="margin-bottom: 80px;margin-left: 10px;text-shadow: 1px 1px 5px black" class="fa fa-ban fa-2x"></i>
                    </a>
                    <a has-authority="ROLE_ADMIN" data-toggle="modal" data-target="#myModalGamingImage">
                        <i tooltip-animation="false" tooltip-append-to-body="true" tooltip-placement="bottom" uib-tooltip="Change Book Image" style="margin-bottom: 80px;margin-left: 60px;text-shadow: 1px 1px 5px black"
                            class="fa fa-picture-o fa-2x"></i>
                    </a>
                </div>

            </div>
        </div>



        <div class="col-md-7">
            <div style="margin:5% ">

                <center>
                    <a ui-sref="game-detail({id:book.id})" ng-click="$close()">
                        <h2 style="color:white;font-family: 'Open Sans', sans-serif;font-size:30px">{{book.title}} </h2>
                    </a>

                </center>
                <br/>
                <center>
                    <p style="color:white;font-family: 'Open Sans', sans-serif;font-size:15px"> de {{book.author}}</p>
                </center>
                <div class="row" style="margin-top:30px">


                    <div class="col-md-4">
                       
                    </div>
                    <div ng-show="edit===0" class="col-md-7" style="float:right">
                        <div class="ratings_wrapper">
                            <div class="imdbRating">

                                <img class="bookstar" src="content/images/all-rating-book.svg">

                                <div class="ratingValue">

                                    <span itemprop="ratingValue">
                                        <strong style="color:white">{{rate}}</strong>
                                    </span>

                                    <span class="grey">/</span>
                                    <span class="grey" itemprop="bestRating">5</span>

                                </div>
                                <a ng-hide="isArab" tooltip-animation="false" tooltip-placement="bottom" uib-tooltip="{{'netbedlooApp.article.rateof' | translate}} {{book.title}} :  {{rate}} {{'netbedlooApp.article.based' | translate}} {{raters}} {{'netbedlooApp.article.raters' | translate}}"
                                    href="#" class="asir" style="color:#3498db ">
                                    <span class="small " itemprop="ratingCount ">{{raters}}</span>

                                </a>
                                <a ng-show="isArab" tooltip-animation="false" tooltip-placement="bottom" uib-tooltip="{{'netbedlooApp.article.raters' | translate}}"
                                    href="#" class="asir" style="color:#3498db ">
                                    <span class="small " itemprop="ratingCount ">{{raters}}</span>

                                </a>
                                <div style="position:relative;right:20px;top:-129px">
                                    <md-fab-speed-dial ng-hide="hidden" md-direction="left" md-open="isOpen" class="md-scale md-fab-top-right" ng-class="{ 'md-hover-full': hover }"
                                        ng-mouseenter="isOpen=true" ng-mouseleave="isOpen=false">
                                        <md-fab-trigger>
                                            <md-button aria-label="rating" style="background:darkred" class="md-fab md-warn">
                                                <md-tooltip md-direction="right" md-visible="tooltipVisible">{{'netbedlooApp.article.yours' | translate}}</md-tooltip>
                                                <md-icon md-svg-src="content/images/star.svg" aria-label="rating"></md-icon>
                                            </md-button>
                                        </md-fab-trigger>
                                        <md-fab-actions style="width:300px">
                                            <h3>
                                                <div ng-hide="hasAccount" style='border:2px solid darkred;background:black;margin:10px;border-radius:5px;padding:10px'>
                                                    <span style="color:#daa520;" data-toggle="modal" data-target="#rate" uib-rating ng-model="vm.rate" max="max" read-only="false"
                                                        on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['1 Star','2 Stars','3 Stars','4 Stars','5 Stars']"
                                                        aria-labelledby="default-rating"></span>
                                                </div>
                                                <div ng-show="hasAccount" style='border:2px solid darkred;background:black;margin:10px;border-radius:5px;padding:10px'>
                                                    <span style="color:#daa520;" ng-change="change(vm.rate)" uib-rating ng-model="vm.rate" max="max" read-only="false" on-hover="hoveringOver(value)"
                                                        on-leave="overStar = null" titles="['1 Star','2 Stars','3 Stars','4 Stars','5 Stars']"
                                                        aria-labelledby="default-rating"></span>
                                                </div>
                                            </h3>
                                        </md-fab-actions>
                                    </md-fab-speed-dial>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <br>
                <blockquote ng-show="edit===0" style="color:white;">{{shortdesc}}...</blockquote>
                <form name="editForm" ng-submit="saveDescription()">
                    <md-input-container style="margin-bottom:5px" ng-show="edit===1" class="md-block">
                        <label data-translate="netbedlooApp.article.title">Title</label>
                        <input ng-model="book.title" type="text" />
                    </md-input-container>
                    <md-input-container style="margin-bottom:5px" ng-show="edit===1" class="md-block">
                        <label data-translate="netbedlooApp.article.author">Author</label>
                        <input ng-model="book.author" type="text" />
                    </md-input-container>
                    <md-input-container style="margin-bottom:5px" ng-show="edit===1" class="md-block">
                        <label data-translate="netbedlooApp.article.description" style="color:white">Description</label>
                        <textarea style="font-family: 'Share Tech Mono', monospace;font-size:10px;color:white" ng-model="book.description" rows="3"
                            md-select-on-focus md-no-autogrow></textarea>
                    </md-input-container>

                    <md-button style="background: #3498db" ng-show="edit===1" type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="md-raised md-primary">Update Done!</md-button>
                    <md-button ng-show="edit===1" ng-click="edit=0" type="button" class="md-raised">Cancel</md-button>

                </form>

                <a has-authority="ROLE_ADMIN" ng-click="editBio()" ng-show="edit===0">
                    <i tooltip-animation="false" tooltip-append-to-body="true" tooltip-placement="bottom" uib-tooltip="Update Book Description"
                        style="float: right;color:white" class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                <a  ng-click="add()" ng-show="addtags===0&&edit===0">
                    <i tooltip-animation="false" tooltip-append-to-body="true" tooltip-placement="bottom" uib-tooltip="{{'netbedlooApp.article.add.tags' | translate}}" style="float: right;margin-right:10px;color:white"
                        class="fa fa-tags" aria-hidden="true"></i>
                </a>
                <form style="background:white" name="editForm" ng-submit="saveTags()">
                    <md-chips ng-show="addtags===1" ng-model="selectedBookTags" md-autocomplete-snap md-transform-chip="transformChipTag($chip)"
                        md-require-match="false">
                        <md-autocomplete md-select-on-match="true" md-selected-item="selectedBookTag" md-search-text="searchBookTag" md-items="tag in querySearchGameTag(searchBookTag)"
                            md-item-text="tag.tag" md-min-length="0" md-delay="500" placeholder="{{'netbedlooApp.article.add.tags' | translate}}"
                            md-autofocus>
                            <md-item-template>
                                <span style="font-family: 'Share Tech Mono', monospace;font-size:10px" md-highlight-text="searchBookTag">{{tag.tag}}</span>
                            </md-item-template>

                        </md-autocomplete>
                        <md-chip-template>
                            <span>
                                <em>{{$chip.tag}} </em>
                            </span>
                        </md-chip-template>
                    </md-chips>
                    <md-button style="background: #3498db" ng-show="addtags===1" type="submit" ng-disabled="editForm.$invalid || vm.isSaving"
                        class="md-raised md-primary">Done!</md-button>
                    <md-button ng-show="addtags===1" ng-click="addtags=0" type="button" class="md-raised">Cancel</md-button>
                </form>
                <br>


                <Strong style="color:white;" ng-show="wanteds.length>0&&!isArab">{{'netbedlooApp.article.want' | translate}}</Strong>
                <Strong style="color:white;float:right" dir="rtl" ng-show="wanteds.length>0&&isArab">{{'netbedlooApp.article.want' | translate}}</Strong>
                <div ng-show="wanteds.length>0" class="row" style="margin-top:2%; margin-bottom: 2%">

                    <div ng-hide="wanteds.length>6" class="col-xs-2" ng-repeat="wanted in wanteds | limitTo:6 ">
                        <a tooltip-append-to-body="true" tooltip-placement="bottom" uib-tooltip="{{wanted.wanter.firstName}} {{wanted.wanter.lastName}}"
                            ng-click="clear()" ui-sref="profile-detail({pseudo:wanted.wanter.pseudo})">
                            <img class="rounded-circle" ng-src="{{wanted.wanter.thumbnailImage}}" style="width: 100%; height: auto;" />
                        </a>
                    </div>
                    <div ng-show="wanteds.length>6" class="col-xs-2" ng-repeat="wanted in wanteds | limitTo:5 ">
                        <a tooltip-append-to-body="true" tooltip-placement="bottom" uib-tooltip="{{wanted.wanter.firstName}} {{wanted.wanter.lastName}}"
                            ng-click="clear()" ui-sref="profile-detail({pseudo:wanted.wanter.pseudo})">
                            <img class="rounded-circle" ng-src="{{wanted.wanter.thumbnailImage}}" style="width: 100%; height: auto;" />
                        </a>
                    </div>
                    <div ng-show="wanteds.length>6" class="col-xs-2">
                        <button tooltip-append-to-body="true" tooltip-placement="bottom" uib-tooltip="{{'netbedlooApp.article.seeallo' | translate}}"
                            data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#wantedModal" style="background:white;"
                            type="button" class="btn btn-default btn-circle  btn-xl">+{{wanters.length - 5}}
                        </button>
                    </div>

                </div>
                <p class="well" style="border-color:black ;background-color:darkred;color:white" ng-show="wanteds.length===0&&!isArab">{{'netbedlooApp.article.gnowant' | translate}}
                </p>
                <p class="well" dir="rtl" style="border-color:black ;background-color:darkred;color:white" ng-show="wanteds.length===0&&isArab">{{'netbedlooApp.article.gnowant' | translate}}
                </p>

                <Strong dir="rtl" style="float:right;color:white" ng-show="owneds.length>0&&isArab">{{'netbedlooApp.article.own' | translate}}</Strong>
                <Strong style="color:white" ng-show="owneds.length>0&&!isArab">{{'netbedlooApp.article.own' | translate}}</Strong>
                <div ng-show="owneds.length>0" class="row" style="margin-top:2%; margin-bottom: 2%">

                    <div ng-hide="owneds.length>6" class="col-xs-2" ng-repeat="owned in owneds | limitTo:6 ">
                        <a tooltip-append-to-body="true" tooltip-placement="bottom" uib-tooltip="{{owned.owner.firstName}} {{owned.owner.lastName}}"
                            ng-click="clear()" ui-sref="profile-detail({pseudo:owned.owner.pseudo})">
                            <img class="rounded-circle" ng-src="{{owned.owner.thumbnailImage}}" style="width: 100%; height: auto;" />
                        </a>
                    </div>
                    <div ng-show="owneds.length>6" class="col-xs-2" ng-repeat="owned in owneds | limitTo:5 ">
                        <a tooltip-append-to-body="true" tooltip-placement="bottom" uib-tooltip="{{owned.owner.firstName}} {{owned.owner.lastName}}"
                            ng-click="clear()" ui-sref="profile-detail({pseudo:owned.owner.pseudo})">
                            <img class="rounded-circle" ng-src="{{owned.owner.thumbnailImage}}" style="width: 100%; height: auto;" />
                        </a>
                    </div>
                    <div ng-show="owneds.length>6" class="col-xs-2">
                        <button tooltip-append-to-body="true" tooltip-placement="bottom" uib-tooltip="{{'netbedlooApp.article.seeallw' | translate}}"
                            data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#ownedModal" style="background:white;"
                            type="button" class="btn btn-default btn-circle  btn-xl">+{{owneds.length - 5}}
                        </button>
                    </div>
                </div>

                <p class="well" style="border-color:black; background-color:darkred;color:white" ng-show="owneds.length===0&&!isArab">{{'netbedlooApp.article.gnown' | translate}}</p>
                <p dir="rtl" class="well" style="border-color:black; background-color:darkred;color:white" ng-show="owneds.length===0&&isArab">{{'netbedlooApp.article.gnown' | translate}}</p>
                <br>
                <a has-authority="ROLE_ADMIN" ng-click="addWanter()" ng-show="wanty===0&&owny===0">
                    <i tooltip-animation="false" tooltip-append-to-body="true" tooltip-placement="bottom" uib-tooltip="Add wanters" style="float:right;color:white"
                        class="fa fa-heart" aria-hidden="true"></i>
                </a>
                <a has-authority="ROLE_ADMIN" ng-click="addOwner()" ng-show="owny===0&&wanty===0">
                    <i tooltip-animation="false" tooltip-append-to-body="true" tooltip-placement="bottom" uib-tooltip="Add owners" style="float:right;margin-right:50px;color:white"
                        class="fa fa-bookmark" aria-hidden="true"></i>
                </a>
                <form style="background:white" name="editForm" ng-submit="newWanters()">
                    <md-content ng-show="wanty===1" class="md-padding autocomplete" layout="column">
                        <md-chips ng-model="wanters" md-autocomplete-snap md-transform-chip="transformProfileChip($chip)" md-require-match="true">
                            <md-autocomplete md-selected-item="selectedProfile" md-search-text="searchProfile" md-items="item in searchForProfile(searchProfile)" md-item-text="item.firstName"
                                placeholder="Profiles">
                                <span md-highlight-text="searchProfile">{{item.firstName}} {{item.lastName}}</span>
                            </md-autocomplete>
                            <md-chip-template>
                                <span>
                                    <img ng-src="{{$chip.thumbnailImage}}" class="md-avatar rounded-circle" style="height: auto;
                                    width: 25px;
                                    vertical-align: middle;">
                                    <em>{{$chip.firstName}} {{$chip.lastName}}</em>
                                </span>
                            </md-chip-template>
                        </md-chips>

                    </md-content>
                    <md-button style="background: #3498db" ng-show="wanty===1" type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="md-raised md-primary">Done!</md-button>
                    <md-button ng-show="wanty===1" ng-click="wanty=0" type="button" class="md-raised">Cancel</md-button>
                </form>
                <form style="background:white" name="editForm" ng-submit="newOwners()">
                        <md-content ng-show="owny===1" class="md-padding autocomplete" layout="column">
                            <md-chips ng-model="owners" md-autocomplete-snap md-transform-chip="transformProfileChip($chip)" md-require-match="true">
                                <md-autocomplete md-selected-item="selectedProfile" md-search-text="searchProfile" md-items="item in searchForProfile(searchProfile)" md-item-text="item.firstName"
                                    placeholder="Profiles">
                                    <span md-highlight-text="searchProfile">{{item.firstName}} {{item.lastName}}</span>
                                </md-autocomplete>
                                <md-chip-template>
                                    <span>
                                        <img ng-src="{{$chip.thumbnailImage}}" class="md-avatar rounded-circle" style="height: auto;
                                        width: 25px;
                                        vertical-align: middle;">
                                        <em>{{$chip.firstName}} {{$chip.lastName}}</em>
                                    </span>
                                </md-chip-template>
                            </md-chips>
    
                        </md-content>
                        <md-button style="background: #3498db" ng-show="owny===1" type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="md-raised md-primary">Done!</md-button>
                        <md-button ng-show="owny===1" ng-click="owny=0" type="button" class="md-raised">Cancel</md-button>
                    </form>
            </div>
            <div style="height:60px"></div>

            <div class="row">
                <div class="col-xs-4 breveStats">
                    <a tooltip-animation="false" tooltip-placement="bottom" uib-tooltip="{{own===0? 'Have it': 'Not Anymore'}} " ng-click="changeOwnState() ">
                        <span>
                            <i ng-class="{ 'fa fa-bookmark-o fa-3x' : own===0,
                        'fa fa-bookmark fa-3x' : own===1} " aria-hidden="true "></i>
                        </span>
                    </a>
                </div>
                <div class="col-xs-4 breveStats">
                    <a tooltip-animation="false" tooltip-placement="bottom" uib-tooltip="{{want===0? 'Want it': 'Not Anymore'}} " ng-click="changeWantState() ">
                        <span>
                            <i ng-class="{ 'fa fa-heart-o fa-3x' : want===0,
                        'fa fa-heart fa-3x' : want===1} " aria-hidden="true "></i>
                        </span>
                    </a>
                </div>
                <div class="col-xs-4 breveStats">
                    <a style="color:#3498db" ui-sref="game-detail({id:book.id})" ng-click="$close()" tooltip-animation=" false " tooltip-placement="bottom "
                        uib-tooltip="{{'netbedlooApp.article.go' | translate}}">
                        <span>
                            <i class="fa fa-comments-o fa-3x " aria-hidden="true "></i>
                        </span>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div class="modal-footer visible-xs ">


        <button type="button " ng-click="clear() " class="btn btn-secondary " data-dismiss="modal ">{{'netbedlooApp.article.close' | translate}}</button>
    </div>


</div>
<div class="modal fade" id="bookReport" role="dialog" aria-labelledby="reportbook" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="margin: 10vh auto;">
            <form ng-submit="saveReport()" name="form" role="form">
                <div class="modal-header">
                    <center>
                        <h4 ng-hide="isArab" class="modal-title" id="exampleModalLabel">{{'netbedlooApp.article.report' | translate}} {{book.title}}</h4>
                        <h4 dir="rtl" ng-show="isArab" class="modal-title" id="exampleModalLabel">{{'netbedlooApp.article.report' | translate}} {{book.title}}</h4>
                    </center>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div ng-hide="isArab" class="modal-body">

                    <div ng-show="reported" class="well">
                        {{'netbedlooApp.article.modal.success' | translate}}
                    </div>

                    <md-input-container ng-hide="reported" class="md-block">
                        <label>{{'netbedlooApp.article.modal.reasonb' | translate}}</label>
                        <textarea required ng-model="content" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                    </md-input-container>

                </div>
                <div ng-show="isArab" dir="rtl" class="modal-body">

                    <div ng-show="reported" class="well">
                        {{'netbedlooApp.article.modal.success' | translate}}
                    </div>

                    <md-input-container ng-hide="reported" class="md-block">
                        <label>{{'netbedlooApp.article.modal.reasonb' | translate}}</label>
                        <textarea required ng-model="content" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                    </md-input-container>

                </div>
                <div class="modal-footer">
                    <button ng-hide="reported" type="button" class="btn btn-secondary" data-dismiss="modal">{{'netbedlooApp.article.close' | translate}}</button>
                    <button ng-hide="reported" type="submit" class="btn btn-primary">{{'netbedlooApp.article.modal.report' | translate}}</button>
                    <button ng-show="reported" type="button" class="btn btn-primary" style="background:#3498db;border-color:#3498db" data-dismiss="modal">{{'netbedlooApp.article.modal.ok' | translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="myGamingModal" role="dialog" aria-labelledby="reportgame" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div style="background:black" class="modal-content" style="margin: 10vh auto;">
            <form name="form" role="form" ng-submit="saveReport()">
                <div class="modal-header">
                    <center>
                        <h4 ng-hide="isArab" style="color:white;font-family: 'Open Sans', sans-serif;font-size:30px" class="modal-title" id="exampleModalLabel">{{'netbedlooApp.article.report' | translate}} {{book.title}}</h4>
                        <h4 ng-show="isArab" dir="rtl" style="color:white;font-family: 'Open Sans', sans-serif;font-size:30px" class="modal-title" id="exampleModalLabel">{{'netbedlooApp.article.report' | translate}} {{book.title}}</h4>
                    </center>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div ng-hide="isArab" class="modal-body">

                    <div ng-show="reported" style="background:black;color:white;font-family: 'Open Sans', sans-serif;" class="alert alert-info">
                        {{'netbedlooApp.article.modal.success' | translate}}
                    </div>

                    <md-input-container ng-hide="reported" class="md-block">
                        <label style="color:white;font-family: 'Open Sans', sans-serif;"> {{'netbedlooApp.article.modal.reason' | translate}}</label>
                        <textarea style="color:white;font-family: 'Open Sans', sans-serif;" required ng-model="content" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                    </md-input-container>

                </div>
                <div ng-show="isArab" dir="rtl" class="modal-body">

                    <div ng-show="reported" style="background:black;color:white;font-family: 'Open Sans', sans-serif;" class="alert alert-info">
                        {{'netbedlooApp.article.modal.success' | translate}}
                    </div>

                    <md-input-container ng-hide="reported" class="md-block">
                        <label style="color:white;font-family: 'Open Sans', sans-serif;"> {{'netbedlooApp.article.modal.reason' | translate}}</label>
                        <textarea style="color:white;font-family: 'Open Sans', sans-serif;" required ng-model="content" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                    </md-input-container>

                </div>
                <div class="modal-footer">
                    <button ng-hide="reported" type="button" class="btn btn-secondary" data-dismiss="modal">{{'netbedlooApp.article.modal.close' | translate}}</button>
                    <button ng-hide="reported" type="submit" class="btn btn-primary">{{'netbedlooApp.article.modal.report' | translate}}</button>
                    <button ng-show="reported" type="button" class="btn btn-primary" style="background:darkred;border-color:black" data-dismiss="modal">{{'netbedlooApp.article.modal.ok' | translate}}</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="wantedModal" role="dialog" aria-labelledby="wanters" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="margin: 10vh auto;">
            <div class="modal-header">
                <center>
                    <h4 class="modal-title" id="exampleModalLabel">{{'netbedlooApp.article.modal.wanters' | translate}}</h4>
                </center>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row" style="margin-top:2%; margin-bottom: 2%">

                    <div class="col-xs-2" ng-repeat="wanted in wanteds">
                        <a data-dismiss="modal" tooltip-append-to-body="true" tooltip-placement="bottom" uib-tooltip="{{wanted.wanter.firstName}} {{wanted.wanter.lastName}}"
                            ng-click="clearModal(2)" ui-sref="profile-detail({pseudo:wanted.wanter.pseudo})">
                            <img class="rounded-circle" ng-src="{{wanted.wanter.thumbnailImage}}" style="width: 100%; height: auto;" />
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ownedModal" role="dialog" aria-labelledby="owners" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="margin: 10vh auto;">
            <div class="modal-header">
                <center>
                    <h4 class="modal-title" id="owners">{{'netbedlooApp.article.modal.owners' | translate}}</h4>
                </center>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row" style="margin-top:2%; margin-bottom: 2%">
                    <div class="col-xs-2" ng-repeat="owned in owneds">
                        <a data-dismiss="modal" tooltip-append-to-body="true" tooltip-placement="bottom" uib-tooltip="{{owned.owner.firstName}} {{owned.owner.lastName}}"
                            ng-click="clearModal(1)" ui-sref="profile-detail({pseudo:owned.owner.pseudo})">
                            <img class="rounded-circle" ng-src="{{owned.owner.thumbnailImage}}" style="width: 100%; height: auto;" />
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="rate" role="dialog" aria-labelledby="rate" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div ng-hide="isGame" class="modal-content" style="margin: 10vh auto;">
            <div class="modal-header">
                <center>
                    <h4 ng-hide="isArab" class="modal-title" id="owners">{{'netbedlooApp.article.modal.hello' | translate}} {{connectedFrom}} ? {{'netbedlooApp.article.modal.welcome'
                        | translate}}</h4>
                    <h4 ng-show="isArab" dir="rtl" class="modal-title" id="owners">{{'netbedlooApp.article.modal.hello' | translate}} {{connectedFrom}} ؟ {{'netbedlooApp.article.modal.welcome'
                        | translate}}</h4>
                </center>
                <button style="background:white;border:1px solid white" class="pull-right" type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <p ng-show="isArab" dir="rtl">
                    {{'netbedlooApp.article.modal.auth' | translate}}

                </p>
                <p ng-hide="isArab">
                    {{'netbedlooApp.article.modal.auth' | translate}}

                </p>
            </div>
            <div class="modal-footer" style="float:center">

                <md-button ui-sref="home" class="md-raised md-default">{{'netbedlooApp.article.modal.connect' | translate}}</md-button>
                <md-button ui-sref="register" class="md-raised md-primary">{{'netbedlooApp.article.modal.register' | translate}}</md-button>

            </div>

        </div>
        <div ng-show="isGame" class="modal-content" style="margin:10vh auto;background:black">
            <div class="modal-header">
                <center>
                    <center>
                        <h4 style="color:white" ng-hide="isArab" class="modal-title" id="owners">{{'netbedlooApp.article.modal.hello' | translate}} {{connectedFrom}} ? {{'netbedlooApp.article.modal.welcome'
                            | translate}}</h4>
                        <h4 style="color:white" ng-show="isArab" dir="rtl" class="modal-title" id="owners">{{'netbedlooApp.article.modal.hello' | translate}} {{connectedFrom}} ؟ {{'netbedlooApp.article.modal.welcome'
                            | translate}}</h4>
                    </center>

                </center>
                <button style="background:black;border:1px solid black" class="pull-right" type="button" class="close" data-dismiss="modal"
                    aria-label="Close">
                    <span aria-hidden="true">
                        <i style="color:white" class="fa fa-times" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <p style="color:white" ng-show="isArab" dir="rtl">
                    {{'netbedlooApp.article.modal.auth' | translate}}

                </p>
                <p style="color:white" ng-hide="isArab">
                    {{'netbedlooApp.article.modal.auth' | translate}}

                </p>
            </div>
            <div class="modal-footer" style="float:center">

                <md-button ui-sref="home" class="md-raised md-default">{{'netbedlooApp.article.modal.connect' | translate}}</md-button>
                <md-button ui-sref="register" class="md-raised md-primary">{{'netbedlooApp.article.modal.register' | translate}}</md-button>

            </div>

        </div>
    </div>
</div>
<!-- modal-->
<div style=" background: rgba(0, 0, 0, 0.8);" id="myModalImage" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content needs fix-->
        <div style="background:black;color: white" class="modal-content">

            <div class="modal-body">

                <center>
                    <div>
                        <label style="width:40%" for="fileInput" class="btn btn-primary btn-block btn-outlined">Select A File</label>
                        <input accept="image/*" type="file" id="fileInput" custom-on-change="handleFileSelect" style="visibility:hidden" />

                    </div>

                    <div style="min-height: 300px; height: 100%; width: 100%; background:black" class="cropArea">
                        <ui-cropper result-image-size="{w:600,h:1000}" style="height: 100%" image="myImage" area-type="rectangle" aspect-ratio="0.6"
                            chargement="'Chargment en cours '" result-image="myCroppedImage" canvas-scalemode="true" init-max-area="true"></ui-cropper>

                    </div>

                </center>

            </div>
            <div class="modal-footer">
                <button style="float: right" ng-show="myCroppedImage===''" type="button" class="btn btn-secondary" data-dismiss="modal">No way !</button>
                <button ng-hide="myCroppedImage===''" ng-click="smt()" type="button" class="btn btn-primary" data-dismiss="modal">Gotcha !</button>

            </div>
        </div>

    </div>
</div>
<!-- modal-->
<div style=" background: rgba(0, 0, 0, 0.8);" id="myModalGamingImage" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content needs fix-->
        <div style="background:black;color: white" class="modal-content">

            <div class="modal-body">

                <center>
                    <div>
                        <label style="width:40%" for="fileInput" class="btn btn-primary btn-block btn-outlined">Select A File</label>
                        <input accept="image/*" type="file" id="fileInput" custom-on-change="handleFileSelect" style="visibility:hidden" />

                    </div>

                    <div style="min-height: 300px; height: 100%; width: 100%; background:black" class="cropArea">
                        <ui-cropper result-image-size="{w:800,h:1000}" style="height: 100%" image="myImage" area-type="rectangle" aspect-ratio="0.8"
                            chargement="'Chargment en cours '" result-image="myCroppedImage" canvas-scalemode="true" init-max-area="true"></ui-cropper>

                    </div>

                </center>

            </div>
            <div class="modal-footer">
                <button style="float: right" ng-show="myCroppedImage===''" type="button" class="btn btn-secondary" data-dismiss="modal">No way !</button>
                <button ng-hide="myCroppedImage===''" ng-click="smt()" type="button" class="btn btn-primary" data-dismiss="modal">Gotcha !</button>

            </div>
        </div>

    </div>
</div>
