<!DOCTYPE html>

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Netbedloo |Books List</title>
<meta name="description" content="The netbedloo exchange network for gaming and books!" />
<meta name="keywords" content="Netbedloo books games exchange network culture" />
<meta name="author" content="Naru .inc" />




<style>
    .md-autocomplete-suggestions-container {
        z-index: 100000 !important;
    }

    html,
    body {
        overflow-x: visible;
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
    }

</style>



<div style="height:70px; width:100%"></div>

<div class="container">
    <div style="background: white; top:0px; min-height: 10vh;width:80%;margin-left:10%" class="row maincard">
        <div class="col-md-3" style="background: white">
            <md-select aria-label="Filter by Language" style="background: #fafafa;
                border: solid 1px #dbdbdb;
                -webkit-box-pack: center;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center;
                margin-top: 6%;
                text-align: center;
                margin-left: 5%;     
    font-size: 12px;" ng-model="selectedLanguage" ng-change="selectedItemChange(selectedLanguage)">
                <md-option ng-value="null">{{'home.books.language' | translate}}</md-option>
                <md-option ng-repeat="language in vm.languages track by language.id" ng-value="language">
                    {{language.name}}
                </md-option>
            </md-select>
        </div>
        <div class="col-xs-1"></div>
        <div class=" col-md-5" style="margin-top:1%">
            <table class="table" style="margin-bottom:0px">
                <thead>
                    <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset(vm.spec)">
                        <th jh-sort-by="popularity" style="background: white;border: 1px solid white;">
                            <img tooltip-append-to-body="true" tooltip-placement="bottom" uib-tooltip="{{'home.books.popularity' | translate}}" alt="popular"
                                style="vertical-align:middle" src="content/images/heart.svg" width="25px">
                            <span style="margin-left:3px;" class="glyphicon glyphicon-sort"></span>
                        </th>
                        <th jh-sort-by="title" style="background: white;border: 1px solid white;">
                            <img tooltip-append-to-body="true" tooltip-placement="bottom" uib-tooltip="{{'home.books.alphabet' | translate}}" alt="alphabet"
                                style="vertical-align:middle" src="content/images/letter-a-inside-a-circle.svg" width="25px">
                            <span style="margin-left:3px;" class="glyphicon glyphicon-sort"></span>
                        </th>
                        <th jh-sort-by="id" style="background: white;border: 1px solid white;">
                            <img tooltip-append-to-body="true" tooltip-placement="bottom" uib-tooltip="{{'home.books.newest' | translate}}" alt="calendar"
                                style="vertical-align:middle" src="content/images/calendar.svg" width="25px">
                            <span style="margin-left:3px;" class="glyphicon glyphicon-sort"></span>
                        </th>
                        <th jh-sort-by="averageRate" style="background: white;border: 1px solid white;">
                            <img tooltip-append-to-body="true" tooltip-placement="bottom" uib-tooltip="{{'home.books.rating' | translate}}" alt="popular"
                                style="vertical-align:middle" src="content/images/favorites-button.svg" width="25px">
                            <span style="margin-left:3px;" class="glyphicon glyphicon-sort"></span>
                        </th>

                    </tr>
                </thead>
            </table>
        </div>
    </div>

</div>
<div style="height:20px; width:100%"></div>

<div>


    <div class="row">
        <div style=" top:0px; min-height: 100vh; " class="col-lg-2 col-md-4 hidden-sm-down">
        </div>

        <div id="max" has-any-authority="ROLE_ADMIN, ROLE_USER" class="col-lg-2 col-md-4 hidden-sm-down">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <div ui-sref="profile-detail({pseudo:vm.account.profile.pseudo})" class="profileLink row">

                    <div class="col-lg-4" style=" padding-bottom: 0px;padding-left: 0px;">
                        <img style="height: 50px; width: 50px; border-radius: 15px; display: flex;justify-content: center; padding: 5px; filter: grayscale(100%);"
                            ng-src="{{vm.account.profile.thumbnailImage}}" />
                    </div>
                    <div style=" display: flex; align-items: center;" class="col-lg-8">
                        <span>{{vm.account.profile.firstName}} {{vm.account.profile.lastName}}</span>

                    </div>

                </div>
                <div style="height: 30px"></div>
                <div class="sideCard">
                    <Strong class="sideTitle" data-translate="home.books.biblio">
                        Ma bibliothéque</Strong>
                    <div>
                        <div ui-sref="book-detail({id:book.article.id})" class="booksList" ng-repeat=" book in booksCont.livresPossedes | filter: {article : {category: {id: '1101'}}} | orderBy:article:{creationDate} | limitTo:x">
                            <small>{{book.article.title}}</small>
                        </div>
                        <a>
                            <div ng-show="x===4&&booksCont.livresPossedes.length>4">
                                <small ng-click="loadMoreOwn()" style="color: #3498db; font-size: 80%;">&#9662;{{'global.see' | translate}}</small>
                            </div>
                        </a>
                    </div>
                </div>

                <div style="height: 20px"></div>
                <div class="sideCard">
                    <Strong class="sideTitle" data-translate="home.books.wish">
                        Liste de souhaits</Strong>
                    <div>
                        <div ui-sref="book-detail({id:book.article.id})" class="booksList" ng-repeat=" book in booksCont.livresFavoris | filter: {article : {category: {id: '1101'}}} |  orderBy:article:{creationDate} | limitTo:y">
                            <small>{{book.article.title}}</small>
                        </div>
                        <a>
                            <div ng-show="y===4&&booksCont.livresFavoris.length>4">
                                <small ng-click="loadMoreWish()" style="color: #3498db; font-size: 80%;">&#9662;{{'global.see' | translate}}</small>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>



        <div style="background: white" class="col-md-8 row grid maincard" infinite-scroll="vm.loadPage(vm.spec,vm.page + 1)" infinite-scroll-disabled="(vm.page >= vm.links['last'])||busy">
            <div class="col-xl-2 col-md-3 col-sm-4 col-xs-4 ktob" ng-repeat="article in vm.articles">
                <figure style="max-height:70vh; max-width: 42vh; width: 100%" class="effect-zoe">
                    <img ng-click="booksCont.openDetails(article)" ng-src="{{article.thumbnailImage}}" hires="{{article.mediumImage}}" alt="{{article.title}}"
                        style="width: 100%; height: auto;min-height: 33vh" />
                    <figcaption>
                        <br/>
                        <p class="icon-links" style="margin-right: 10px">

                            <a tooltip-animation="false" tooltip-append-to-body="true" tooltip-placement="bottom" uib-tooltip="{{article.want===0? 'Want it': 'Je Not anymore'}}"
                                ng-click="booksCont.changeWantState(article)">
                                <span>
                                    <i ng-class="{ 'fa fa-heart-o' : article.want===0,
                    'fa fa-heart' : article.want===1}" aria-hidden="true"></i>
                                </span>
                            </a>
                            <a tooltip-animation="false" tooltip-append-to-body="true" tooltip-placement="bottom" uib-tooltip="{{article.got===0? 'Have it': 'Not anymore'}}"
                                ng-click="booksCont.changeGotState(article)">
                                <span>
                                    <i ng-class="{ 'fa fa-bookmark-o' : article.got===0,
                    'fa fa-bookmark' : article.got===1}" aria-hidden="true"></i>
                                </span>
                            </a>

                        </p>
                        <p class="description">{{article.title}}</p>
                    </figcaption>
                </figure>
                <div style='clear: both;'></div>
            </div>

            <div class="col-12" ng-show='busy'>
                <img src="content/images/Infinity.gif" width="75px" style=" display: block; margin:auto" />
            </div>
        </div>

        <div style="height: 100vh;" class="col-lg-2 hidden-md-down">
        </div>
        <div ng-hide="vm.account.profile.followed.length===0" has-any-authority="ROLE_ADMIN, ROLE_USER" style="position: fixed; top:100px; right: 10px ;height: 100vh; padding:40px"
            class="col-lg-2 hidden-md-down">
            <div class="sideCard">

                <Strong class="sideTitle" data-translate="home.followed">Suivi Par </Strong>
                <div>
                    <div ng-repeat="follower in vm.account.profile.followed" class="col-md-4" style="margin:0px">
                        <a ui-sref="profile-detail({pseudo:follower.follower.pseudo})">
                            <img style="height: auto; width: 100%; border-radius: 5px; display: flex;justify-content: center; padding: 5px; filter: grayscale(100%);"
                                ng-src="{{follower.follower.thumbnailImage}}" />
                        </a>
                    </div>

                </div>
            </div>

        </div>

    </div>
    <div style="height: 50px"></div>
    <div style="bottom:0px; height: 80px">
        <div style="height: 40px;  text-align: center;  padding: 12px; color: darkgray;
" ng-cloak>
            <center>
                <small> {{'global.copyrights' | translate}} 2017, Netbedloo.com,
                    <a style="color:#F37601" target="_blank" href="https://www.naru.tn/">{{'global.ltd' | translate}}</a>
                </small>
            </center>

        </div>
        <div style="height: 40px"></div>
    </div>

</div>


<script>
    /* (function() {
                                                                                                                                                            [].slice.call(document.querySelectorAll('.checkout')).forEach(function(el) {
                                                                                                                                                                var openCtrl = el.querySelector('.checkout__button'),
                                                                                                                                                                    closeCtrls = el.querySelectorAll('.checkout__cancel');

                                                                                                                                                                openCtrl.addEventListener('click', function(ev) {
                                                                                                                                                                    ev.preventDefault();
                                                                                                                                                                    classie.add(el, 'checkout--active');
                                                                                                                                                                });

                                                                                                                                                                [].slice.call(closeCtrls).forEach(function(ctrl) {
                                                                                                                                                                    ctrl.addEventListener('click', function() {
                                                                                                                                                                        classie.remove(el, 'checkout--active');
                                                                                                                                                                    });
                                                                                                                                                                });
                                                                                                                                                            });
                                                                                                                                                        })();

                                                                                                                                                        $('body').bind('touchstart', function() {});*/

</script>
