<!DOCTYPE html>

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Netbedloo |Gaming List</title>
<meta name="description" content="The netbedloo exchange network for gaming and books!" />
<meta name="keywords" content="Netbedloo books games exchange network culture" />
<meta name="author" content="Naru .inc" />




<style>
    .md-autocomplete-suggestions-container {
        z-index: 100000 !important;
    }

    html,
    body {
        overflow-x: visible;
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        background: darkred;
    }
    body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: #0072BB;
    outline: 1px solid black;
}
    #loading-bar .bar {
        background: #0072BB;
        height: 4px;
    }

    #loading-bar-spinner .spinner-icon {
        width: 18px;
        height: 18px;
        border: solid 2px transparent;
        border-top-color: orange;
        border-left-color: orange;
        border-radius: 10px;
    }

    figure.effect-zoe figcaption {
        background: darkred
    }

    .grid figure {
        background: black;
        text-align: center;
        cursor: pointer;
    }
</style>



<div style="height:70px; width:100%"></div>

<div class="container">
    <div style="background: black; top:0px; min-height: 10vh;width:80%;margin-left:10%" class="row maincard">


        <div class="col-md-3" style="background: black">
           
        </div>
        <div class="col-xs-1"></div>
        <div class=" col-md-5" style="margin-top:1%">
            <table class="table" style="margin-bottom:0px">
                <thead>
                    <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset(vm.spec)">
                        <th jh-sort-by="popularity" style="background: black;border: 1px solid black;">
                            <img tooltip-append-to-body="true" tooltip-placement="bottom" uib-tooltip="{{'home.gaming.popularity' | translate}}" alt="popular"
                                style="vertical-align:middle" src="content/images/heart-dark.svg" width="25px">
                            <span style="color:white;margin-left:3px;" class="glyphicon glyphicon-sort"></span>
                        </th>

                        <th jh-sort-by="title" style="background: black;border: 1px solid black;">
                            <img tooltip-append-to-body="true" tooltip-placement="bottom" uib-tooltip="{{'home.gaming.alphabet' | translate}}" alt="alphabet"
                                style="vertical-align:middle" src="content/images/letter-a-inside-a-circle-dark.svg" width="25px">
                            <span style="color:white;margin-left:3px" class="glyphicon glyphicon-sort"></span>
                        </th>
                        <th jh-sort-by="id" style="background: black;border: 1px solid black;">
                            <img tooltip-append-to-body="true" tooltip-placement="bottom" uib-tooltip="{{'home.gaming.newest' | translate}}" alt="calendar"
                                style="vertical-align:middle" src="content/images/calendar-dark.svg" width="25px">
                            <span style="color:white;margin-left:3px;" style="width:4px" class="glyphicon glyphicon-sort"></span>
                        </th>
                        <th jh-sort-by="averageRate" style="background: black;border: 1px solid black">
                            <img tooltip-append-to-body="true" tooltip-placement="bottom" uib-tooltip="{{'home.gaming.rating' | translate}}" alt="rate"
                                style="vertical-align:middle" src="content/images/favorites-button-dark.svg" width="25px">
                            <span style="color:white;margin-left:3px;" class="glyphicon glyphicon-sort"></span>
                        </th>

                    </tr>
                </thead>
            </table>
        </div>
    </div>

</div>
<div style="height:20px; width:100%"></div>

<div>


    <div class="row">
        <div style=" top:0px; min-height: 100vh; " class="col-lg-2 col-md-4 hidden-sm-down">
        </div>

        <div id="max" has-any-authority="ROLE_ADMIN, ROLE_USER" class="col-lg-2 col-md-4 hidden-sm-down">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <div ui-sref="profile-detail({pseudo:vm.account.profile.pseudo})" class="profileLink row">

                    <div class="col-lg-4" style=" padding-bottom: 0px;padding-left: 0px;">
                        <img style="height: 50px; width: 50px; border-radius: 15px; display: flex;justify-content: center; padding: 5px; filter: grayscale(100%);"
                            ng-src="{{vm.account.profile.thumbnailImage}}" />
                    </div>
                    <div style=" display: flex; align-items: center;" class="col-lg-8">
                        <span style="font-family: 'Share Tech Mono', monospace;font-size:15px;color:white">{{vm.account.profile.firstName}} {{vm.account.profile.lastName}}</span>

                    </div>

                </div>


                <div style="height: 30px"></div>
                <div class="sideCard">
                    <Strong class="sideTitle" data-translate="home.gaming.biblio">
                        Ma bibliothéque</Strong>
                    <div>
                        <div ui-sref="game-detail({id:book.article.id})" class="booksList" ng-repeat=" book in booksCont.livresPossedes | filter: {article : {category: {id: '1102'}}} | orderBy:article:{creationDate} | limitTo:x">
                            <small style="font-family: 'Share Tech Mono', monospace;font-size:14px;color:white">{{book.article.title}}</small>
                        </div>
                        <a>
                            <div ng-show="x===4">
                                <small ng-click="loadMoreOwn()" style="color: #3498db; font-size: 80%;">&#9662;{{'global.see' | translate}}</small>
                            </div>
                        </a>
                    </div>
                </div>

                <div style="height: 20px"></div>
                <div class="sideCard">
                    <Strong class="sideTitle" data-translate="home.gaming.wish">
                        Liste de souhaits</Strong>
                    <div>
                        <div ui-sref="game-detail({id:book.article.id})" class="booksList" ng-repeat=" book in booksCont.livresFavoris | filter: {article : {category: {id: '1102'}}} |  orderBy:article:{creationDate} | limitTo:y">
                            <small style="font-family: 'Share Tech Mono', monospace;font-size:14px;color:white">{{book.article.title}}</small>
                        </div>
                        <a>
                            <div ng-show="y===4">
                                <small ng-click="loadMoreWish()" style="color: #3498db; font-size: 80%;">&#9662;{{'global.see' | translate}}</small>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div style="background: black" class="col-md-8 row grid maincard" infinite-scroll=" vm.loadPage(vm.spec,vm.page + 1)" infinite-scroll-disabled="(vm.page >= vm.links['last'])||busy">

            <div class="col-xl-3 col-md-3 col-sm-4 col-xs-4 ktob" ng-repeat="article in vm.articles">
                <figure style="max-height:70vh; max-width: 56vh; width: 100%" class="effect-zoe">
                    <img ng-click="booksCont.openDetails(article)" hires2="{{article.mediumImage}}" ng-src="{{article.thumbnailImage}}" alt="{{article.title}}"
                        style="width: 100%; height: auto;min-height: 40vh;" />
                    <figcaption>
                        <br/>
                        <p class="icon-links" style="margin-right: 10px">

                            <a tooltip-animation="false" tooltip-append-to-body="true" tooltip-placement="bottom" uib-tooltip="{{article.want===0? 'Want it': 'Not Anymore'}}"
                                ng-click="booksCont.changeWantState(article)">
                                <span>
                                    <i ng-class="{ 'fa fa-heart-o' : article.want===0,
                    'fa fa-heart' : article.want===1}" aria-hidden="true"></i>
                                </span>
                            </a>
                            <a tooltip-animation="false" tooltip-append-to-body="true" tooltip-placement="bottom" uib-tooltip="{{article.got===0? 'Have it': 'Je Not anymore'}}"
                                ng-click="booksCont.changeGotState(article)">
                                <span>
                                    <i ng-class="{ 'fa fa-bookmark-o' : article.got===0,
                    'fa fa-bookmark' : article.got===1}" aria-hidden="true"></i>
                                </span>
                            </a>

                        </p>
                        <p class="description">{{article.title}}</p>
                    </figcaption>
                </figure>
                <div style='clear: both;'></div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-4 ktob" ng-show='busy'>
                <figure style="max-height:70vh; max-width: 56vh; width: 100%" class="effect-zoe">
                    <img src="content/images/Infinity.gif" width="50%" style="text-align:center;vertical-align:middle" />
                </figure>
            </div>
        </div>

        <div style="height: 100vh;" class="col-lg-2 hidden-md-down">
        </div>
        <div style="position: fixed; top:60px; right: 10px ;height: 100vh" class="col-lg-2 hidden-md-down">

        </div>

    </div>
    <div style="height: 50px"></div>
    <div style="bottom:0px; height: 80px">
        <div style="height: 40px;  text-align: center;  padding: 12px; color: darkgray;
" ng-cloak>
            <center>
                <small> {{'global.copyrights' | translate}} 2017, Netbedloo.com,
                    <a style="color:#F37601" target="_blank" href="https://www.naru.tn/">{{'global.ltd' | translate}}</a>
                </small>
            </center>

        </div>
        <div style="height: 40px"></div>
    </div>

</div>
</div>
</div>
<div style="height: 40px"></div>
</div>

</div>