.checkout {
    position: relative;
    z-index: 100;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a.checkout__button {
    position: relative;
    display: block;
    padding: 1em;
    color: black;
    font-weight: 700;
    -webkit-transition: transform 0.5s cubic-bezier(0.2, 1, 0.3, 1), color 0.5s cubic-bezier(0.2, 1, 0.3, 1);
    transition: transform 0.5s cubic-bezier(0.2, 1, 0.3, 1), color 0.5s cubic-bezier(0.2, 1, 0.3, 1);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

a.checkout__button:hover,
a.checkout__button:focus {
    color: black;
}

.checkout__button:focus {
    outline: none;
}

.checkout--active a.checkout__button {
    color: black;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.16), 0 0 0 rgba(0, 0, 0, 0.23);
}

.checkout__button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: white;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition: transform 0.5s cubic-bezier(0.2, 1, 0.3, 1), background 0.5s cubic-bezier(0.2, 1, 0.3, 1);
    transition: transform 0.5s cubic-bezier(0.2, 1, 0.3, 1), background 0.5s cubic-bezier(0.2, 1, 0.3, 1);
}

.checkout--active .checkout__button::before {
    background: white;
    -webkit-transform: translate3d(0, -7px, 0) scale3d(1, 0.035, 1);
    transform: translate3d(0, -7px, 0) scale3d(1, 0.035, 1);
}

.checkout__order {
    position: absolute;
    margin-top: -1em;
    width: 100%;
    color: black;
    text-align: right;
    font-size: 0.75em;
    line-height: 2;
    opacity: 1;
    pointer-events: none;
}

.checkout--active .checkout__order {
    pointer-events: auto;
}

.checkout__summary {
    width: 100%;
    text-align: left;
    font-size: 1.075em;
}

.checkout__summary th {
    color: black;
}

.checkout__summary tbody td:last-child,
.checkout__summary .checkout__total {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

.checkout__summary th:last-child,
.checkout__summary td:last-child {
    display: flex;
    justify-content: center;
    /* align horizontal */
}

.checkout__summary tr,
.checkout__option {
    opacity: 0;
    -webkit-transform: translate3d(0, 100px, 0);
    transform: translate3d(0, 100px, 0);
}

.checkout--active .checkout__summary tr,
.checkout--active .checkout__option {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.2, 1, 0.3, 1), opacity 0.5s cubic-bezier(0.2, 1, 0.3, 1);
    transition: transform 0.5s cubic-bezier(0.2, 1, 0.3, 1), opacity 0.5s cubic-bezier(0.2, 1, 0.3, 1);
}

.checkout--active .checkout__summary tbody tr:nth-child(1) {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

.checkout--active .checkout__summary tbody tr:nth-child(2) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.checkout--active .checkout__summary tbody tr:nth-child(3) {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

.checkout--active .checkout__summary tbody tr:nth-child(4) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.checkout--active .checkout__summary tbody tr:nth-child(5) {
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.25s;
}

.checkout--active .checkout__summary tfoot tr {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.checkout--active .checkout__option {
    -webkit-transition-delay: 0.35s;
    transition-delay: 0.35s;
}

.checkout__option {
    display: inline-block;
    margin-top: 1.5em;
    padding: 0.5em;
    border: none;
    background: none;
    color: #f4f4f4;
}

.checkout__option:focus {
    outline: none;
}

.checkout__option--loud {
    padding: 0.5em 1em;
    border: 2px solid #f4f4f4;
    background: #797678;
    font-weight: bold;
    font-size: 1.15em;
}

.checkout__option--loud:hover {
    background: #8d93b6;
}

.checkout__option--silent {
    margin-right: 0.5em;
    color: #797678;
    font-size: 0.85em;
}

.checkout__option--silent:hover {
    color: #8d93b6;
}