<div>
    <h2 data-translate="netbedlooApp.rating.home.title">Ratings</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="rating.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="netbedlooApp.rating.home.createLabel">
                        Create new Rating
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'netbedlooApp.rating.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="netbedlooApp.rating.rate">Rate</span></th>
                    <th><span data-translate="netbedlooApp.rating.ratingTime">Rating Time</span></th>
                    <th><span data-translate="netbedlooApp.rating.rated">Rated</span></th>
                    <th><span data-translate="netbedlooApp.rating.rater">Rater</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="rating in vm.ratings track by rating.id">
                    <td><a ui-sref="rating-detail({id:rating.id})">{{rating.id}}</a></td>
                    <td>{{rating.rate}}</td>
                    <td>{{rating.ratingTime | date:'medium'}}</td>
                    <td>
                        <a ui-sref="article-detail({id:rating.ratedid})">{{rating.rated.title}}</a>
                    </td>
                    <td>
                        <a ui-sref="profile-detail({pseudo:rating.rater.pseudo})">{{rating.rater.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="rating-detail({id:rating.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="rating.edit({id:rating.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="rating.delete({id:rating.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
