
<div>
    <h2><span data-translate="netbedlooApp.rating.detail.title">Rating</span> {{vm.rating.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="netbedlooApp.rating.rate">Rate</span></dt>
        <dd>
            <span>{{vm.rating.rate}}</span>
        </dd>
        <dt><span data-translate="netbedlooApp.rating.ratingTime">Rating Time</span></dt>
        <dd>
            <span>{{vm.rating.ratingTime | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="netbedlooApp.rating.rated">Rated</span></dt>
        <dd>
            <a ui-sref="article-detail({id:vm.rating.ratedid})">{{vm.rating.rated.title}}</a>
        </dd>
        <dt><span data-translate="netbedlooApp.rating.rater">Rater</span></dt>
        <dd>
            <a ui-sref="profile-detail({pseudo:vm.rating.rater.pseudo})">{{vm.rating.rater.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="rating-detail.edit({id:vm.rating.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
