
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myRatingLabel" data-translate="netbedlooApp.rating.home.createOrEditLabel">Create or edit a Rating</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.rating.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.rating.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="netbedlooApp.rating.rate" for="field_rate">Rate</label>
            <input type="number" class="form-control" name="rate" id="field_rate"
                    ng-model="vm.rating.rate"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="netbedlooApp.rating.ratingTime" for="field_ratingTime">Rating Time</label>
                <div class="input-group">
                    <input id="field_ratingTime" type="text" class="form-control" name="ratingTime" datetime-picker="{{dateformat}}" ng-model="vm.rating.ratingTime" is-open="vm.datePickerOpenStatus.ratingTime"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('ratingTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label data-translate="netbedlooApp.rating.rated" for="field_rated">Rated</label>
            <select class="form-control" id="field_rated" name="rated" ng-model="vm.rating.rated" ng-options="article as article.title for article in vm.articles track by article.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="netbedlooApp.rating.rater" for="field_rater">Rater</label>
            <select class="form-control" id="field_rater" name="rater" ng-model="vm.rating.rater" ng-options="profile as profile.id for profile in vm.profiles track by profile.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
