<div>
    <h2 data-translate="netbedlooApp.article.home.title">Articles</h2>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="article.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="netbedlooApp.article.home.createLabel">
                        Create new Article
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'netbedlooApp.article.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="netbedlooApp.article.title">Title</span></th>
                    <th><span data-translate="netbedlooApp.article.author">Author</span></th>
                    <th><span data-translate="netbedlooApp.article.coverImage">Cover Image</span></th>
                    <th><span data-translate="netbedlooApp.article.description">Description</span></th>
                    <th><span data-translate="netbedlooApp.article.creationDate">Creation Date</span></th>
                    <th><span data-translate="netbedlooApp.article.category">Category</span></th>
                    <th><span data-translate="netbedlooApp.article.profile">Profile</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="article in vm.articles track by article.id">
                    <td><a ui-sref="article-detail({id:article.id})">{{article.id}}</a></td>
                    <td>{{article.title}}</td>
                    <td>{{article.author}}</td>
                    <td>{{article.coverImage}}</td>
                    <td>{{article.description}}</td>
                        <td>{{article.creationDate | date:'mediumDate'}}</td>
                    <td>
                        <a ui-sref="category-detail({id:article.category.id})">{{article.category.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="profile-detail({pseudo:article.profile.pseudo})">{{article.profile.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="article-detail({id:article.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="article.edit({id:article.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="article.delete({id:article.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
