
<div>
    <h2><span data-translate="netbedlooApp.wanted.detail.title">Wanted</span> {{vm.wanted.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="netbedlooApp.wanted.creationDate">Creation Date</span></dt>
        <dd>
            <span>{{vm.wanted.creationDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="netbedlooApp.wanted.wanter">Wanter</span></dt>
        <dd>
            <a ui-sref="profile-detail({pseudo:vm.wanted.wanter.pseudo})">{{vm.wanted.wanter.id}}</a>
        </dd>
        <dt><span data-translate="netbedlooApp.wanted.article">Article</span></dt>
        <dd>
            <a ui-sref="article-detail({id:vm.wanted.articleid})">{{vm.wanted.article.title}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="wanted-detail.edit({id:vm.wanted.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
