<div>
    <h2 data-translate="netbedlooApp.wanted.home.title">Wanteds</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="wanted.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="netbedlooApp.wanted.home.createLabel">
                        Create new Wanted
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'netbedlooApp.wanted.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="netbedlooApp.wanted.creationDate">Creation Date</span></th>
                    <th><span data-translate="netbedlooApp.wanted.wanter">Wanter</span></th>
                    <th><span data-translate="netbedlooApp.wanted.article">Article</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="wanted in vm.wanteds track by wanted.id">
                    <td><a ui-sref="wanted-detail({id:wanted.id})">{{wanted.id}}</a></td>
                        <td>{{wanted.creationDate | date:'mediumDate'}}</td>
                    <td>
                        <a ui-sref="profile-detail({pseudo:wanted.wanter.pseudo})">{{wanted.wanter.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="article-detail({id:wanted.articleid})">{{wanted.article.title}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="wanted-detail({id:wanted.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="wanted.edit({id:wanted.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="wanted.delete({id:wanted.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
