
<div>
    <h2><span data-translate="netbedlooApp.wantedHistory.detail.title">Wanted History</span> {{vm.wantedHistory.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="netbedlooApp.wantedHistory.wantingDate">Wanting Date</span></dt>
        <dd>
            <span>{{vm.wantedHistory.wantingDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="netbedlooApp.wantedHistory.eraseDate">Erase Date</span></dt>
        <dd>
            <span>{{vm.wantedHistory.eraseDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="netbedlooApp.wantedHistory.article">Article</span></dt>
        <dd>
            <a ui-sref="article-detail({id:vm.wantedHistory.article.id})">{{vm.wantedHistory.article.title}}</a>
        </dd>
        <dt><span data-translate="netbedlooApp.wantedHistory.wanter">Wanter</span></dt>
        <dd>
            <a ui-sref="profile-detail({pseudo:vm.wantedHistory.wanter.pseudo})">{{vm.wantedHistory.wanter.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="wanted-history-detail.edit({id:vm.wantedHistory.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
