
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myWantedHistoryLabel" data-translate="netbedlooApp.wantedHistory.home.createOrEditLabel">Create or edit a Wanted History</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.wantedHistory.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.wantedHistory.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="netbedlooApp.wantedHistory.wantingDate" for="field_wantingDate">Wanting Date</label>
                <div class="input-group">
                    <input id="field_wantingDate" type="text" class="form-control" name="wantingDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.wantedHistory.wantingDate" is-open="vm.datePickerOpenStatus.wantingDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('wantingDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="netbedlooApp.wantedHistory.eraseDate" for="field_eraseDate">Erase Date</label>
                <div class="input-group">
                    <input id="field_eraseDate" type="text" class="form-control" name="eraseDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.wantedHistory.eraseDate" is-open="vm.datePickerOpenStatus.eraseDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('eraseDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label data-translate="netbedlooApp.wantedHistory.article" for="field_article">Article</label>
            <select class="form-control" id="field_article" name="article" ng-model="vm.wantedHistory.article" ng-options="article as article.title for article in vm.articles track by article.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="netbedlooApp.wantedHistory.wanter" for="field_wanter">Wanter</label>
            <select class="form-control" id="field_wanter" name="wanter" ng-model="vm.wantedHistory.wanter" ng-options="profile as profile.id for profile in vm.profiles track by profile.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
