<div>
    <h2 data-translate="netbedlooApp.wantedHistory.home.title">Wanted Histories</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="wanted-history.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="netbedlooApp.wantedHistory.home.createLabel">
                        Create new Wanted History
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'netbedlooApp.wantedHistory.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wantingDate"><span data-translate="netbedlooApp.wantedHistory.wantingDate">Wanting Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="eraseDate"><span data-translate="netbedlooApp.wantedHistory.eraseDate">Erase Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="article.title"><span data-translate="netbedlooApp.wantedHistory.article">Article</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wanter.id"><span data-translate="netbedlooApp.wantedHistory.wanter">Wanter</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="wantedHistory in vm.wantedHistories track by wantedHistory.id">
                    <td><a ui-sref="wanted-history-detail({id:wantedHistory.id})">{{wantedHistory.id}}</a></td>
                        <td>{{wantedHistory.wantingDate | date:'mediumDate'}}</td>
                        <td>{{wantedHistory.eraseDate | date:'mediumDate'}}</td>
                    <td>
                        <a ui-sref="article-detail({id:wantedHistory.article.id})">{{wantedHistory.article.title}}</a>
                    </td>
                    <td>
                        <a ui-sref="profile-detail({pseudo:wantedHistory.wanter.pseudo})">{{wantedHistory.wanter.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="wanted-history-detail({id:wantedHistory.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="wanted-history.edit({id:wantedHistory.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="wanted-history.delete({id:wantedHistory.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
