
<div>
    <h2><span data-translate="netbedlooApp.spec.detail.title">Spec</span> {{vm.spec.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="netbedlooApp.spec.name">Name</span></dt>
        <dd>
            <span>{{vm.spec.name}}</span>
        </dd>
        <dt><span data-translate="netbedlooApp.spec.category">Category</span></dt>
        <dd>
            <a ui-sref="category-detail({id:vm.spec.category.id})">{{vm.spec.category.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="spec-detail.edit({id:vm.spec.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
