
<div>
    <h2><span data-translate="netbedlooApp.okay.detail.title">Okay</span> {{vm.okay.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="netbedlooApp.okay.time">Time</span></dt>
        <dd>
            <span>{{vm.okay.time | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="netbedlooApp.okay.profile">Profile</span></dt>
        <dd>
            <a ui-sref="profile-detail({id:vm.okay.profile.id})">{{vm.okay.profile.id}}</a>
        </dd>
        <dt><span data-translate="netbedlooApp.okay.feed">Feed</span></dt>
        <dd>
            <a ui-sref="feed-detail({id:vm.okay.feed.id})">{{vm.okay.feed.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="okay-detail.edit({id:vm.okay.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
