
<div>
    <h2><span data-translate="netbedlooApp.forum.detail.title">Forum</span> {{vm.forum.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="netbedlooApp.forum.profile">Profile</span></dt>
        <dd>
            <a ui-sref="profile-detail({pseudo:vm.forum.profile.pseudo})">{{vm.forum.profile.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="forum-detail.edit({id:vm.forum.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
