
<div>
    <h2><span data-translate="netbedlooApp.comment.detail.title">Comment</span> {{vm.comment.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="netbedlooApp.comment.comment">Comment</span></dt>
        <dd>
            <span>{{vm.comment.comment}}</span>
        </dd>
        <dt><span data-translate="netbedlooApp.comment.publicationTime">Publication Time</span></dt>
        <dd>
            <span>{{vm.comment.publicationTime | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="netbedlooApp.comment.subject">Subject</span></dt>
        <dd>
            <a ui-sref="subject-detail({id:vm.comment.subject.id})">{{vm.comment.subject.publication}}</a>
        </dd>
        <dt><span data-translate="netbedlooApp.comment.profile">Profile</span></dt>
        <dd>
            <a ui-sref="profile-detail({pseudo:vm.comment.profile.pseudo})">{{vm.comment.profile.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="comment-detail.edit({id:vm.comment.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
