
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myFeedLabel" data-translate="netbedlooApp.feed.home.createOrEditLabel">Create or edit a Feed</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.feed.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.feed.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="netbedlooApp.feed.time" for="field_time">Time</label>
                <div class="input-group">
                    <input id="field_time" type="text" class="form-control" name="time" datetime-picker="{{dateformat}}" ng-model="vm.feed.time" is-open="vm.datePickerOpenStatus.time"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('time')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="netbedlooApp.feed.type" for="field_type">Type</label>
            <input type="number" class="form-control" name="type" id="field_type"
                    ng-model="vm.feed.type"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="netbedlooApp.feed.statut" for="field_statut">Statut</label>
                <input type="checkbox" name="statut" id="field_statut"
                          ng-model="vm.feed.statut"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="netbedlooApp.feed.content" for="field_content">Content</label>
            <input type="text" class="form-control" name="content" id="field_content"
                    ng-model="vm.feed.content"
                    />
        </div>

        <div class="form-group">
            <label data-translate="netbedlooApp.feed.matches" for="field_matches">Matches</label>
            <select class="form-control" id="field_matches" name="matches" ng-model="vm.feed.matches" ng-options="matchingHistory as matchingHistory.id for matchingHistory in vm.matchinghistories track by matchingHistory.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="netbedlooApp.feed.owned" for="field_owned">Owned</label>
            <select class="form-control" id="field_owned" name="owned" ng-model="vm.feed.owned" ng-options="ownedHistory as ownedHistory.id for ownedHistory in vm.owneds | orderBy:'id' track by ownedHistory.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="netbedlooApp.feed.wanted" for="field_wanted">Wanted</label>
            <select class="form-control" id="field_wanted" name="wanted" ng-model="vm.feed.wanted" ng-options="wantedHistory as wantedHistory.id for wantedHistory in vm.wanteds | orderBy:'id' track by wantedHistory.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="netbedlooApp.feed.follow" for="field_follow">Follow</label>
            <select class="form-control" id="field_follow" name="follow" ng-model="vm.feed.follow" ng-options="follow as follow.id for follow in vm.follows | orderBy:'id' track by follow.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="netbedlooApp.feed.owner" for="field_owner">Owner</label>
            <select class="form-control" id="field_owner" name="owner" ng-model="vm.feed.owner" ng-options="profile as profile.id for profile in vm.profiles track by profile.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="netbedlooApp.feed.article" for="field_article">Article</label>
            <select class="form-control" id="field_article" name="article" ng-model="vm.feed.article" ng-options="article as article.id for article in vm.articles | orderBy:'id' track by article.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="netbedlooApp.feed.visibleTo" for="field_visibleTo">Visible To</label>
            <select class="form-control" id="field_visibleTo" multiple name="visibleTo" ng-model="vm.feed.visibleTos" ng-options="profile as profile.id for profile in vm.profiles track by profile.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
