<div id="feed_page">
    <div style="height: 35px;; width:100%"></div>
    <div class="wrapper center padding-40">
        <div class="item white shadow cf margin-bottom" style="border-radius: 10px;">

            <!-- Item Header Start -->
            <div class="row padding">

                <div class="col-3 col-persist -margin" style="background: whitesmoke;
               /* padding: 7px; */
               border-radius: 25px;">
                    <a ui-sref="profile-detail({pseudo:vm.feed.owner.pseudo})">
                        <img style="width: 38px;margin-left: 4px;
                    margin-top: 6px;margin-bottom: 6px" class="pull-left width-100 round" ng-src=" {{vm.feed.owner.mediumImage}}"
                        />
                        <p class="pull-left" style="    margin-top: -39px;
                        font-style: italic;
                        color: gray;
                        font-weight: 600;
                        font-size: 11px !important;
                        margin-left: 21px;
                        font-style: italic;
                        color: gray;"> {{vm.feed.owner.firstName}} {{vm.feed.owner.lastName}}</p>
                    </a>
                </div>
                <div class="col-9 col-persist gutter-h-10 padding-top-15">
                    <p ng-show="vm.feed.type===5&&!isArab||vm.feed.type===6&&!isArab" class="pull-left" style="display: inline-block;
                             font-size: 12px;
                             margin-top: -4px;
             width: 70%;
             text-align: left;
                             color: lightgray;">{{'netbedlooApp.feed.talked' | translate}}
                        <a href="#">
                            <span class="label label-default" style="color:black">{{vm.feed.article.title}}</span>
                        </a>
                    </p>
                    <p dir="rtl" ng-show="vm.feed.type===5&&isArab||vm.feed.type===6&&isArab" class="pull-left" style="display: inline-block;
                    font-size: 12px;
                    margin-top: -4px;
    width: 70%;
    text-align: left;
                    color: lightgray;">{{'netbedlooApp.feed.talked' | translate}}
                        <a href="#">
                            <span class="label label-default" style="color:black">{{vm.feed.article.title}}</span>
                        </a>
                    </p>
                    <p ng-show="vm.feed.type===1&&!isArab||vm.feed.type===9&&!isArab" class="pull-left" style="display: inline-block;
                    font-size: 12px;
                    margin-top: -4px;
                    width: 70%;
                    text-align: left;
                    color: lightgray;">{{'netbedlooApp.feed.own' | translate}}
                    <a href="#">
                            <span class="label label-default" style="color:black">{{vm.feed.owned.article.title}}</span>
                        </a>
                    </p>
                    <p dir="rtl" ng-show="vm.feed.type===1&&isArab||vm.feed.type===9&&isArab" class="pull-left" style="display: inline-block;
                    font-size: 12px;
                    margin-top: -4px;
                    width: 70%;
                    text-align: left;
                    color: lightgray;">{{'netbedlooApp.feed.own' | translate}}
                    <a href="#">
                            <span class="label label-default" style="color:black">{{vm.feed.owned.article.title}}</span>
                        </a>
                    </p>
                    <p ng-show="vm.feed.type===2&&!isArab||vm.feed.type===8&&!isArab" class="pull-left" style="display: inline-block;
                    font-size: 12px;
                    margin-top: -4px;
                    width: 70%;
                    text-align: left;
                    color: lightgray;">{{'netbedlooApp.feed.want' | translate}}
                   <a href="#">
                            <span class="label label-default" style="color:black">{{vm.feed.wanted.article.title}}</span>
                        </a>

                    </p>
                    <p dir="rtl" ng-show="vm.feed.type===2&&isArab||vm.feed.type===8&&isArab" class="pull-left" style="display: inline-block;
                    font-size: 12px;
                    margin-top: -4px;
                    width: 70%;
                    text-align: left;
                    color: lightgray;">{{'netbedlooApp.feed.want' | translate}}
                   <a href="#">
                            <span class="label label-default" style="color:black">{{vm.feed.wanted.article.title}}</span>
                        </a>

                    </p>

                    <p ng-show="vm.feed.type===10&&!isArab" class="pull-left" style="display: inline-block;
                    font-size: 12px;
                    margin-top: -4px;width: 70%;text-align: left;
                    color: lightgray;">{{'netbedlooApp.feed.followed' | translate}}
                   <a href="#">
                            <span class="label label-default" style="color:black">{{vm.feed.follow.followed.firstName}} {{vm.feed.follow.followed.lastName}}</span>
                        </a>
                    </p>
                    <p ng-show="vm.feed.type===10&&isArab" class="pull-left" style="display: inline-block;
                    font-size: 12px;
                    margin-top: -4px;width: 70%;text-align: left;
                    color: lightgray;">{{'netbedlooApp.feed.followed' | translate}}
                   <a href="#">
                            <span class="label label-default" style="color:black">{{vm.feed.follow.followed.firstName}} {{vm.feed.follow.followed.lastName}}</span>
                        </a>
                    </p>
                    <a style="FONT-SIZE: 9PX !important;
                        font-weight: 100;" href="#" class="pull-right label fill-white text-blue" am-time-ago="vm.feed.time"></a>
                </div>


            </div>
            <!-- Item Header End -->
            <figure class="container" ng-show="vm.feed.type===9" style="max-height:70vh; max-width: 56vh; width: 100%" class="effect-zoe">
                <img class="image" ng-click="openGame(vm.feed.owned.article)" hires3="{{vm.feed.owned.article.normalImage}}" ng-src="{{vm.feed.owned.article.thumbnailImage}}"
                    alt="img25" style="width: 100%; height: auto;" />
                <div class="middle">
                    <div class="zanzana">{{'netbedlooApp.feed.open' | translate}} {{vm.feed.owned.article.title}}</div>
                </div>
            </figure>
            <figure class="container" ng-show="vm.feed.type===8" style="max-height:70vh; max-width: 56vh; width: 100%" class="effect-zoe">
                <img class="image" ng-click="openGame(vm.feed.wanted.article)" hires3="{{vm.feed.wanted.article.normalImage}}" ng-src="{{vm.feed.wanted.article.thumbnailImage}}"
                    alt="img25" style="width: 100%; height: auto;" />
                <div class="middle">
                    <div class="zanzana">{{'netbedlooApp.feed.open' | translate}} {{vm.feed.wanted.article.title}}</div>
                </div>
            </figure>
            <figure class="container" ng-show="vm.feed.type===1" style="max-height:70vh; max-width: 42vh; width: 100%" class="effect-zoe">
                <img class="image" ng-click="openDetails(vm.feed.owned.article)" ng-src="{{vm.feed.owned.article.thumbnailImage}}" hires3="{{vm.feed.owned.article.normalImage}}"
                    alt="img25" style="width: 100%; height: auto;" />
                <div class="middle">
                    <div class="zanzana">
                        <p>{{'netbedlooApp.feed.open' | translate}} {{vm.feed.owned.article.title}}</p>
                    </div>
                </div>
            </figure>

            <figure class="container" ng-show="vm.feed.type===2" style="max-height:70vh; max-width: 42vh; width: 100%" class="effect-zoe">
                <img class="image" ng-click="openDetails(vm.feed.wanted.article)" ng-src="{{vm.feed.wanted.article.thumbnailImage}}" hires3="{{vm.feed.wanted.article.normalImage}}"
                    alt="img25" style="width: 100%; height: auto;" />
                <div class="middle">
                    <div class="zanzana">{{'netbedlooApp.feed.open' | translate}} {{vm.feed.wanted.article.title}}</div>
                </div>
            </figure>

            <!-- Item Content Start -->
            <div class="row padding">
                <blockquote style="font-style: italic;
                margin-top: 10px;
                margin-bottom: 10px;
                text-align: left;" ng-show="vm.feed.type===5||vm.feed.type===6" class="padding -padding-top">
                    {{vm.feed.content}}
                </blockquote>
            </div>
            <div ng-show="vm.feed.type===5" class="row" style="border-radius: 10px;
            width: 98%;
            margin-left: 7px;background: url(content/images/background.jpg) no-repeat center/cover;">

                <div class="books" style="margin-left:30%;padding: 10%">
                    <div class="book">
                        <img ng-show="vm.feed.type===5" class="pull-left width-100" ng-src="{{vm.feed.article.normalImage}}" />
                    </div>
                </div>

            </div>
            <div ng-show="vm.feed.type===6" class="row" style="border-radius: 10px;
                width: 98%;
                margin-left: 7px;background: url(content/images/background_gaming.png) no-repeat center/cover;">

                <div class="books" style="margin-left:25%;padding: 10%">
                    <div class="book" style="display:initial">
                        <img ng-show="vm.feed.type===6" class="pull-left width-100" ng-src="{{vm.feed.article.normalImage}}" />
                    </div>
                </div>

            </div>
            <div class="row" style="margin-top: 5px;
            padding: 3px;
            margin-bottom: 5px;">
                <button ng-click="saveOkay()" ng-hide="vm.feed.account" type="button" id="send" style="width: 46%;
                        margin-left: 15px;
                        margin-right: 10px;
                        margin-top: 2px;
                        float: right;">
                    <svg style="fill: currentColor;vertical-align:middle " version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        x="0px" ng-click="saveOkay()" y="0px" height="25px" width="25px" viewBox="0 0 512 512" xml:space="preserve">

                        <g>

                            <g>

                                <path d="M403.975,172.436c-20.329-85.029-53.381-133.831-77.529-159.799c-13.741-14.774-36.303-16.861-52.48-4.848
                     
                                            c-12.391,9.2-17.559,24.807-14.096,39.098c-15.117-10.312-36.058-7.934-48.386,6.118c-12.206,13.918-10.993,35.371,2.705,47.824
                     
                                            l8.577,7.797c-3.024,0.286-16.864,2.637-28.898,5.601c-4.021,0.991-6.479,5.054-5.488,9.076s5.053,6.482,9.078,5.489
                     
                                            c11.199-2.759,21.191-4.38,25.458-5.072c3.396-0.552,6.804-0.171,9.858,1.097c30.55,12.681,65.451,49.777,78.887,76.098
                     
                                            c5.612,10.646,13.69,27.803,13.69,39.881c0,4.142,3.357,7.5,7.5,7.5c4.143,0,7.5-3.358,7.5-7.5c0-16.64-11.37-39.24-14.537-45.213
                     
                                            c-5.027-65.585-29.072-115.242-48.458-145.432c-6.388-9.947-3.95-23.266,5.55-30.32c10.033-7.448,24.026-6.147,32.553,3.021
                     
                                            c22.922,24.649,54.353,71.214,73.925,153.072c0.962,4.028,5.011,6.515,9.038,5.55
                     
                                            C402.453,180.512,404.939,176.465,403.975,172.436z M278.653,82.451c11.48,22.358,22.594,50.992,28.578,85.214
                     
                                            c-12.829-16.418-28.09-31.645-44.913-43.361l-38.036-34.576c-7.686-6.985-8.367-19.023-1.517-26.832
                     
                                            c7.829-8.926,21.535-9.901,30.55-2.172L278.653,82.451z"></path>

                            </g>

                        </g>

                        <g>

                            <g>

                                <path d="M411.927,213.907c-0.11-0.864-0.412-3.127-0.953-6.57c-0.644-4.091-4.475-6.892-8.575-6.244
                     
                                            c-4.092,0.644-6.888,4.482-6.244,8.574c3.093,19.651,16.209,68.834-6.086,132.254c-18.078,51.418-16.058,47.125-24.3,63.509
                     
                                            c-9.052,18.099-4.384,32.263-5.655,78.471c0,7.222-5.876,13.098-13.098,13.098h-81.974c-4.143,0-7.5,3.357-7.5,7.5
                     
                                            c0,4.143,3.357,7.5,7.5,7.5h81.974c15.494,0,28.099-12.604,28.099-28.099c1.05-49.522-2.834-58.82,4.638-72.859
                     
                                            c6.717-12.642,7.257-15.187,24.468-64.145C419.179,304.345,421.843,258.369,411.927,213.907z"></path>

                            </g>

                        </g>

                        <g>

                            <g>

                                <path d="M270.355,302.514l-2.076-58.613c-0.262-7.431-3.002-14.692-7.715-20.447l-26.923-32.865
                     
                                            c-7.243-8.84-19.603-11.805-30.053-7.214c-21.76,9.563-39.542,15.048-48.789,15.048c-14.091,0-38.566-18.184-13.951-42.8
                     
                                            c5.987-5.988,14.308-11.419,24.728-16.143c3.773-1.71,5.445-6.154,3.735-9.927c-1.711-3.773-6.157-5.446-9.927-3.735
                     
                                            c-12.069,5.47-21.875,11.929-29.144,19.199c-33.559,33.558-3.977,68.407,24.559,68.407c14.63,0,37.889-8.872,54.824-16.315
                     
                                            c4.313-1.895,9.419-0.667,12.413,2.987l26.922,32.865c2.645,3.228,4.182,7.301,4.329,11.471l2.076,58.615
                     
                                            c0.09,2.541-0.956,4.959-2.871,6.634c-22.246,19.481-20.998,18.341-21.441,18.802c-5.708,5.964-14.779,6.878-21.564,2.18
                     
                                            c-5.056-4.274-13.773-6.821-15.785-17.325c-5.984-31.232-14.585-57.69-15.687-60.229c-12.459-28.7-36.616-41.273-61.542-32.037
                     
                                            c-8.849,3.279-19.318,8.711-21.739,21.714c-1.631,8.757,0.649,19.305,3.814,33.945c0.876,4.031,8.579,40.341,10.034,73.257
                     
                                            c0.618,13.986,6.08,27.43,15.379,37.855c16.367,18.35,28.299,35.469,57.036,73.819c9.523,12.772,8.047,20.154,8.191,20.711
                     
                                            c0,16.337,13.292,29.628,29.628,29.628h11.222c4.143,0,7.5-3.357,7.5-7.5c0-4.143-3.357-7.5-7.5-7.5h-11.222
                     
                                            c-8.065,0-14.628-6.562-14.628-14.628c-0.211-0.954,1.64-12.504-11.167-29.677c-27.472-36.657-40.727-55.622-57.866-74.838
                     
                                            c-7.006-7.854-11.12-17.988-11.586-28.532c-1.511-34.15-9.457-71.612-10.366-75.809c-6.254-28.926-6.478-32.834,8.484-38.379
                     
                                            c25.706-9.529,39.083,15.918,42.533,23.859c0.747,1.879,8.944,26.862,14.75,57.163c3.427,17.884,17.99,23.263,21.977,26.834
                     
                                            c12.788,8.854,29.844,7.208,40.695-3.884l20.731-18.14C267.697,316.31,270.606,309.582,270.355,302.514z"></path>

                            </g>

                        </g>

                        <g>

                        </g>

                        <g>

                        </g>

                        <g>

                        </g>

                        <g>

                        </g>

                        <g>

                        </g>

                        <g>

                        </g>

                        <g>

                        </g>

                        <g>

                        </g>

                        <g>

                        </g>

                        <g>

                        </g>

                        <g>

                        </g>

                        <g>

                        </g>

                        <g>

                        </g>

                        <g>

                        </g>

                        <g>

                        </g>

                    </svg>{{'netbedlooApp.feed.okay' | translate}}</button>

                <button ng-click="deleteOkay()" ng-show="vm.feed.account" type="button" id="send" style="width: 46%;
                        margin-left: 15px;
                        margin-right: 10px;
                        margin-top: 2px;
                        float: right;">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        width="20px" height="20px" viewBox="0 0 28.068 28.068" style="fill: currentColor;vertical-align: middle;margin-top: -2px;margin-right: 3px;"
                        xml:space="preserve">
                        <g>
                            <path d="M5.085,11.109c0,0.888,0.468,1.637,1.141,2.116c-0.673,0.48-1.141,1.229-1.141,2.117c0,1.459,1.187,2.646,2.646,2.646
            h5.202v7.436c0,1.459,1.424,2.645,3.174,2.645s3.174-1.186,3.174-2.645V17.86c2.117-0.483,3.703-2.373,3.703-4.634V4.761
            C22.984,2.136,20.848,0,18.223,0H7.73C6.271,0,5.084,1.186,5.084,2.645c0,0.888,0.468,1.637,1.141,2.116
            C5.552,5.241,5.084,5.99,5.084,6.878c0,0.887,0.468,1.636,1.141,2.116C5.553,9.472,5.085,10.221,5.085,11.109z M18.223,25.422
            c0,0.875-0.949,1.588-2.117,1.588c-1.166,0-2.115-0.713-2.115-1.588v-7.435h4.232V25.422z M7.73,9.522h8.465
            c0.292,0,0.529-0.237,0.529-0.529s-0.237-0.529-0.529-0.529H7.73c-0.875,0-1.587-0.712-1.587-1.587S6.855,5.29,7.73,5.29h8.465
            c0.292,0,0.529-0.236,0.529-0.529c0-0.292-0.237-0.528-0.529-0.528H7.73c-0.875,0-1.587-0.712-1.587-1.588
            c0-0.875,0.712-1.587,1.587-1.587h10.493c2.041,0,3.703,1.662,3.703,3.703v8.465c0,2.042-1.662,3.704-3.703,3.704H7.73
            c-0.875,0-1.587-0.711-1.587-1.586c0-0.875,0.712-1.587,1.587-1.587h8.465c0.292,0,0.529-0.236,0.529-0.529
            c0-0.292-0.237-0.528-0.529-0.528H7.73c-0.875,0-1.587-0.712-1.587-1.587S6.855,9.522,7.73,9.522z" />
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                    </svg>

                    {{'netbedlooApp.feed.dislike' | translate}}</button>
                <button type="button" id="send" style="width: 46%;
                        /* margin-left: 79px; */
                        margin-top: 2px;
                        margin-left: 10px;">
                    <i style="font-size: 20px;
                                vertical-align: middle;" class="ion-ios-chatbubble-outline"></i> {{'netbedlooApp.feed.comment' | translate}}</button>


            </div>
            <!-- Item Content End -->

            <!-- Item Meta Start -->
            <hr class="style-four">
            <div class="row padding">
                <div class="pull-left">
                    <a class="btn icon round text-red fill-silver" style="font-size: 12px;width: 61px;">
                        <img src="content/images/like.svg" style="fill: currentColor;vertical-align: middle;margin-top: -2px;margin-right: 3px;"
                            height="12px" width="12px" /> {{vm.feed.numberOfOkay}}
                    </a>

                </div>
                <div class="pull-right">
                    <a class="btn icon round text-gray hover-text-red" style="font-size: 12px;width: 61px;">
                        <img src="content/images/cm.svg" style="fill: currentColor;vertical-align: middle;margin-top: -2px;margin-right: 3px;" height="12px"
                            width="12px" /> {{vm.feed.numberOfCm}}
                    </a>

                </div>
            </div>
            <div class="row padding">

                <div id="commentsystem">
                    <form ng-submit="saveComment()">
                        <div id="profpicture">
                            <img style="    margin-left: -312px;" ng-src="{{vm.account.profile.thumbnailImage}}" />
                        </div>
                        <textarea ng-model="commenter" minlenght="10" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
                            id="comment" name="comment" rows='1' placeholder="{{'netbedlooApp.feed.write' | translate}}..."></textarea>

                        <button type="submit" id="send">
                            <i class="fa fa-commenting-o" style="font-size: 18px;"></i> {{'netbedlooApp.feed.commentPost' | translate}}</button>
                    </form>
                    <ul id="commenttext" infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                        <li id="commentbubble" ng-repeat="comment in vm.comments | orderBy :'-publicationTime'">
                            <img style="    position: relative;
                            /* margin-right: 182px; */
                            float: left;
                            overflow: hidden;
                            width: 40px;
                        height: 40px;
                            border-radius: 50%;" ng-src="{{comment.profile.mediumImage}}" />
                            <div id="commentwrap">
                                <div id="commentself">
                                    <p id="messenger-bulle">{{comment.comment}}
                                        <span id="bullemeta" am-time-ago="comment.publicationTime"></span>
                                    </p>
                                </div>
                                <a ng-click="showConfirm2($event,comment,feed)" ng-show="vm.account.profile.id===comment.profile.id" class="btn icon round text-gray hover-text-red"
                                    style="margin-right: -37px;
                                margin-top: 2px;">
                                    <img src="content/images/draft.svg" style="fill: currentColor;
                                    vertical-align: middle;
                                    margin-top: -8px;" height="15px" width="15px" />
                                </a>
                            </div>
                        </li>

                    </ul>

                </div>


                <!-- Item Meta End -->
            </div>
            <div class="row padding"></div>
            <!-- Feed Item End -->

        </div>


    </div>
</div>
<!--<div>
    <h2><span data-translate="netbedlooApp.feed.detail.title">Feed</span> {{vm.feed.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="netbedlooApp.feed.time">Time</span></dt>
        <dd>
            <span>{{vm.feed.time | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="netbedlooApp.feed.type">Type</span></dt>
        <dd>
            <span>{{vm.feed.type}}</span>
        </dd>
        <dt><span data-translate="netbedlooApp.feed.statut">Statut</span></dt>
        <dd>
            <span>{{vm.feed.statut}}</span>
        </dd>
        <dt><span data-translate="netbedlooApp.feed.content">Content</span></dt>
        <dd>
            <span>{{vm.feed.content}}</span>
        </dd>
        <dt><span data-translate="netbedlooApp.feed.matches">Matches</span></dt>
        <dd>
            <a ui-sref="matching-history-detail({id:vm.feed.matches.id})">{{vm.feed.matches.id}}</a>
        </dd>
        <dt><span data-translate="netbedlooApp.feed.owned">Owned</span></dt>
        <dd>
            <a ui-sref="owned-history-detail({id:vm.feed.owned.id})">{{vm.feed.owned.id}}</a>
        </dd>
        <dt><span data-translate="netbedlooApp.feed.wanted">Wanted</span></dt>
        <dd>
            <a ui-sref="wanted-history-detail({id:vm.feed.wanted.id})">{{vm.feed.wanted.id}}</a>
        </dd>
        <dt><span data-translate="netbedlooApp.feed.follow">Follow</span></dt>
        <dd>
            <a ui-sref="follow-detail({id:vm.feed.follow.id})">{{vm.feed.follow.id}}</a>
        </dd>
        <dt><span data-translate="netbedlooApp.feed.owner">Owner</span></dt>
        <dd>
            <a ui-sref="profile-detail({id:vm.feed.owner.id})">{{vm.feed.owner.id}}</a>
        </dd>
        <dt><span data-translate="netbedlooApp.feed.article">Article</span></dt>
        <dd>
            <a ui-sref="article-detail({id:vm.feed.article.id})">{{vm.feed.article.id}}</a>
        </dd>
        <dt><span data-translate="netbedlooApp.feed.visibleTo">Visible To</span></dt>
        <dd>
            <span ng-repeat="visibleTo in vm.feed.visibleTos">
                <a ui-sref="profile-detail({id: visibleTo.id})">{{visibleTo.id}}</a>{{$last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="feed-detail.edit({id:vm.feed.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>-->
