
<div>
    <h2><span data-translate="netbedlooApp.follow.detail.title">Follow</span> {{vm.follow.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="netbedlooApp.follow.followTime">Follow Time</span></dt>
        <dd>
            <span>{{vm.follow.followTime | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="netbedlooApp.follow.follower">Follower</span></dt>
        <dd>
            <a ui-sref="profile-detail({pseudo:vm.follow.follower.pseudo})">{{vm.follow.follower.id}}</a>
        </dd>
        <dt><span data-translate="netbedlooApp.follow.followed">Followed</span></dt>
        <dd>
            <a ui-sref="profile-detail({pseudo:vm.follow.followed.pseudo})">{{vm.follow.followed.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="follow-detail.edit({id:vm.follow.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
