<style>
    .chat-input {
        bottom: 0;
        width: 100%;
        height: 40px
    }

    .chat-messages {
        overflow-y: scroll;
        height: 10vh !important;
        width: 100%;
        overflow-x: hidden
    }

    .oldul .oldli {
        display: inline-block;
        clear: both;
        padding: 5px;
        border-radius: 5px;
        margin: 2px;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 75%
    }

    .oldul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

</style>
<div class="modal-content" style="padding: 0px; min-height:80vh">

    <center ng-hide="isArab" style="padding:20px">
        <span>{{'global.notif.matching' | translate}}
            <strong style="font-weight:bold">{{matched.theOtherOne.firstName}} {{matched.theOtherOne.lastName}}</strong>
        </span>
        <p ng-show="{{matched.distance>0}}">{{matched.distance | number : 0}} {{'global.notif.distances' | translate}}</p>

    </center>
    <center ng-show="isArab" dir="rtl" style="padding:20px">
        <span>{{'global.notif.matching' | translate}}
            <strong style="font-weight:bold">{{matched.theOtherOne.firstName}} {{matched.theOtherOne.lastName}}</strong>
        </span>
        <p ng-show="{{matched.distance>0}}">{{matched.distance | number : 0}} {{'global.notif.distances' | translate}}</p>

    </center>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-3">
            <img width="100%" height="auto" ng-src="{{matched.theOtherOne.mediumImage}}">
        </div>
        <div class="col-7">

            <md-button style="width:100%" class="md-raised md-primary" ui-sref="profile-detail({pseudo:matched.theOtherOne.pseudo})"
                ng-click="$close()">
                <i class="fa fa-user" aria-hidden="true"></i> {{'global.notif.see' | translate}}</md-button>
            <md-button style="width:100%" class="md-raised md-primary" ng-click="talkTo(matched.theOtherOne)">{{'global.notif.send' | translate}}</md-button>
        </div>
        <div class="col-1"></div>
    </div>
    <div style="width:100%;height:10%"></div>
    <div>
        <center>
            <div ng-show="isOpen===1" style="width:80%;min-height:10%;background:white;margin: 0px 8px;">


                <center>
                    <div scroll-to-bottom="messages" style="background: lightgray;width:100%" class="chat-messages">

                        <ul class="oldul">

                            <li class="oldli " ng-class="{' sent-message ':message.sender.id!=matched.theOtherOne.id,'received-message ':message.sender.id===matched.theOtherOne.id}"
                                ng-repeat="message in messages track by $index">
                                {{message.content}}
                            </li>
                            <li class="oldli " style="width:100%;height:20px">&emsp;&emsp;</li>

                        </ul>
                    </div>

                    <form name="chatForm" ng-submit="sendMessage(Sentmessage)">
                        <div class=" chat-input">
                            <div class="input-group">
                                <input type="text" class="form-control" name="message" ng-model="Sentmessage" autocomplete="off" placeholder="Taper un message...">
                            </div>
                        </div>
                    </form>
                </center>
            </div>
        </center>
    </div>
    <div class="well row">
        <div class="col-4">
            <a ng-click="openDetails(matched.wanted)">
                <img width="100%" height="auto" ng-src="{{matched.wanted.mediumImage}}" class="maincard">
            </a>
        </div>
        <div class="col-4">
            <center style="margin-top: 50%">
                <span class="fa fa-circle-o-notch fa-4x"></span>
        </div>
        </center>
        <div class="col-4">
            <a ng-click="openDetails(matched.owned)">
                <img width="100%" height="auto" ng-src="{{matched.owned.mediumImage}}" class="maincard">
            </a>
        </div>
    </div>
    <div>
        <center>
            <md-button style="width:80%" class="md-raised md-primary" ng-click="confirmExchange(matched)">
                <i class="fa fa-circle-o-notch" aria-hidden="true"></i>{{'global.notif.tbedloo' | translate}}</md-button>
            <md-button style="width:80%" class="md-raised md-warn" ng-click="deleteExchange(matched.id)">
                <i class="fa fa-ban" aria-hidden="true"></i> {{'global.notif.decline' | translate}}</md-button>

        </center>
    </div>


</div>
