
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myMatchedLabel" data-translate="netbedlooApp.matched.home.createOrEditLabel">Create or edit a Matched</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.matched.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.matched.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="netbedlooApp.matched.matchingDate" for="field_matchingDate">Matching Date</label>
                <div class="input-group">
                    <input id="field_matchingDate" type="text" class="form-control" name="matchingDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.matched.matchingDate" is-open="vm.datePickerOpenStatus.matchingDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('matchingDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="netbedlooApp.matched.statut" for="field_statut">Statut</label>
                <input type="checkbox" name="statut" id="field_statut"
                          ng-model="vm.matched.statut"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="netbedlooApp.matched.reference" for="field_reference">Reference</label>
            <input type="number" class="form-control" name="reference" id="field_reference"
                    ng-model="vm.matched.reference"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="netbedlooApp.matched.distance" for="field_distance">Distance</label>
            <input type="number" class="form-control" name="distance" id="field_distance"
                    ng-model="vm.matched.distance"
                    />
        </div>

        <div class="form-group">
            <label data-translate="netbedlooApp.matched.owner" for="field_owner">Owner</label>
            <select class="form-control" id="field_owner" name="owner" ng-model="vm.matched.owner" ng-options="profile as profile.id for profile in vm.profiles track by profile.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="netbedlooApp.matched.wanter" for="field_wanter">Wanter</label>
            <select class="form-control" id="field_wanter" name="wanter" ng-model="vm.matched.wanter" ng-options="profile as profile.id for profile in vm.profiles track by profile.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="netbedlooApp.matched.owned" for="field_owned">Owned</label>
            <select class="form-control" id="field_owned" name="owned" ng-model="vm.matched.owned" ng-options="article as article.title for article in vm.articles track by article.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="netbedlooApp.matched.wanted" for="field_wanted">Wanted</label>
            <select class="form-control" id="field_wanted" name="wanted" ng-model="vm.matched.wanted" ng-options="article as article.title for article in vm.articles track by article.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="netbedlooApp.matched.tbedloo" for="field_tbedloo">Tbedloo</label>
            <select class="form-control" id="field_tbedloo" name="tbedloo" ng-model="vm.matched.tbedloo" ng-options="tbedloo as tbedloo.id for tbedloo in vm.tbedloos track by tbedloo.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
