<div>
    <h2 data-translate="netbedlooApp.matched.home.title">Matcheds</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="matched.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="netbedlooApp.matched.home.createLabel">
                        Create new Matched
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'netbedlooApp.matched.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="netbedlooApp.matched.matchingDate">Matching Date</span></th>
                    <th><span data-translate="netbedlooApp.matched.statut">Statut</span></th>
                    <th><span data-translate="netbedlooApp.matched.reference">Reference</span></th>
                    <th><span data-translate="netbedlooApp.matched.distance">Distance</span></th>
                    <th><span data-translate="netbedlooApp.matched.owner">Owner</span></th>
                    <th><span data-translate="netbedlooApp.matched.wanter">Wanter</span></th>
                    <th><span data-translate="netbedlooApp.matched.owned">Owned</span></th>
                    <th><span data-translate="netbedlooApp.matched.wanted">Wanted</span></th>
                    <th><span data-translate="netbedlooApp.matched.tbedloo">Tbedloo</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="matched in vm.matcheds track by matched.id">
                    <td><a ui-sref="matched-detail({id:matched.id})">{{matched.id}}</a></td>
                        <td>{{matched.matchingDate | date:'mediumDate'}}</td>
                    <td>{{matched.statut}}</td>
                    <td>{{matched.reference}}</td>
                    <td>{{matched.distance}}</td>
                    <td>
                        <a ui-sref="profile-detail({pseudo:matched.owner.pseudo})">{{matched.owner.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="profile-detail({pseudo:matched.wanter.pseudo})">{{matched.wanter.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="article-detail({id:matched.ownedid})">{{matched.owned.title}}</a>
                    </td>
                    <td>
                        <a ui-sref="article-detail({id:matched.wantedid})">{{matched.wanted.title}}</a>
                    </td>
                    <td>
                        <a ui-sref="tbedloo-detail({id:matched.tbedloo.id})">{{matched.tbedloo.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="matched-detail({id:matched.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="matched.edit({id:matched.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="matched.delete({id:matched.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
