
<div>
    <h2><span data-translate="netbedlooApp.tag.detail.title">Tag</span> {{vm.tag.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="netbedlooApp.tag.tag">Tag</span></dt>
        <dd>
            <span>{{vm.tag.tag}}</span>
        </dd>
        <dt><span data-translate="netbedlooApp.tag.category">Category</span></dt>
        <dd>
            <a ui-sref="category-detail({id:vm.tag.category.id})">{{vm.tag.category.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="tag-detail.edit({id:vm.tag.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
