
<div>
    <h2><span data-translate="netbedlooApp.signal.detail.title">Signal</span> {{vm.signal.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="netbedlooApp.signal.content">Content</span></dt>
        <dd>
            <span>{{vm.signal.content}}</span>
        </dd>
        <dt><span data-translate="netbedlooApp.signal.date">Date</span></dt>
        <dd>
            <span>{{vm.signal.date | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="netbedlooApp.signal.type">Type</span></dt>
        <dd>
            <span>{{vm.signal.type}}</span>
        </dd>
        <dt><span data-translate="netbedlooApp.signal.profile">Profile</span></dt>
        <dd>
            <a ui-sref="profile-detail({pseudo:vm.signal.profile.pseudo})">{{vm.signal.profile.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="signal-detail.edit({id:vm.signal.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
