<div class="splash">
        <div class="splash_logo">
            Netbedloo
        </div>
        <div class="splash_svg">
            <svg width="100%" height="100%">
                <rect width="100%" height="100%">
            </svg>
        </div>
        <div class="splash_minimize">
            <svg width="100%" height="100%">
                <rect width="100%" height="100%">
            </svg>
        </div>
    </div>
    <div class="text">
        <p style="line-height: 150%" ng-show="vm.success&&isArab" dir="rtl"  data-translate="activate.messages.success">You have successfully registered !</p>
        <p style="line-height: 150%" ng-show="vm.success&&!isArab" dir="rtl"  data-translate="activate.messages.success">You have successfully registered !</p>
        <p style="line-height: 150%" ng-show="vm.error&&isArab" dir="rtl" data-translate="activate.messages.error">You have successfully registered !</p>
        <p style="line-height: 150%" ng-show="vm.error&&!isArab" dir="rtl" data-translate="activate.messages.error">You have successfully registered !</p>
        <button ui-sref="home"  style="margin-top: 10px" ng-show="isArab" dir="rtl" data-translate="activate.messages.connect">Connect !</button>
        <button ui-sref="home"  style="margin-top: 10px" ng-hide="isArab" data-translate="activate.messages.connect">Connect !</button>
        <div class="row" style="margin-top:5%">
            <div class="col-md-4"  style="margin-left:10%">
                <div class="show-image">
                    <a target="_blank" href="https://play.google.com/store/apps/details?id=netbedloo.beta" class="btn">
    
                        <img style="width:200px;height:auto;" src="content/images/google-play-badge-en.png" />
                    </a>
                </div>
            </div>
            <div class="col-md-4" style="margin-left:10%">
                <div class="show-image">
                    <a class="btn">
                        <img style="width:200px;height:auto;" src="content/images/app_store.png" />
                    </a>
                </div>
    
            </div>
    
        </div>
    </div>
