<div class="login-container">

    <div class="login-box animated fadeInDown">
        <div class="login-logo"></div>
        <div class="login-body">
            <div class="alert alert-danger alert-dismissable" ng-show="vm.authenticationError" data-translate="login.messages.error.authentication">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Failed to sign in!</strong> Please check your credentials and try again.
            </div>
            <div class="login-title" data-translate="login.title"><strong>Log In</strong> to your account</div>
            <form role="form" ng-submit="vm.login($event)" class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="text" class="form-control" id="username" placeholder="{{'global.form.username.placeholder' | translate}}" ng-model="vm.username" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="password" class="form-control" id="password" placeholder="{{'login.form.password.placeholder' | translate}}" ng-model="vm.password" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <md-checkbox ng-model="vm.rememberMe" aria-label="Checkbox 2" ng-true-value="true" ng-false-value="false">

                            <h6 data-translate="login.form.rememberme">Remember me</h6>
                        </md-checkbox>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <a href="" ng-click="vm.requestResetPassword()" data-translate="login.password.forgot" class="btn btn-link btn-block">Forgot your password?</a>
                    </div>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-info btn-block" data-translate="login.form.button">Log In</button>
                    </div>
                </div>

                <div class="login-subtitle" data-translate="global.messages.info.register" translate-compile>
                    Don't have an account yet? <a href="" ng-click="vm.register()">Create an account</a>
                </div>
            </form>
        </div>
        <div class="login-footer">
            <div class="pull-left">
                &copy; 2017 Netbedloo
            </div>
            <div class="pull-right">
                <a href="#">About</a> |
                <a href="#">Privacy</a> |
                <a href="#">Contact Us</a>
            </div>
        </div>
    </div>

</div>

<!--<div class="modal-content">

    <div class="modal-body">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <h1 data-translate="login.title">Sign in</h1>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <div class="alert alert-danger" ng-show="vm.authenticationError" data-translate="login.messages.error.authentication">
                    <strong>Failed to sign in!</strong> Please check your credentials and try again.
                </div>
            </div>
            <div class="col-md-6">
                <form class="form" role="form" ng-submit="vm.login($event)">
                    <div class="form-group">
                        <label for="username" data-translate="global.form.username">Login</label>
                        <input type="text" class="form-control" id="username" placeholder="{{'global.form.username.placeholder' | translate}}" ng-model="vm.username">
                    </div>
                    <div class="form-group">
                        <label for="password" data-translate="login.form.password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="{{'login.form.password.placeholder' | translate}}" ng-model="vm.password">
                    </div>
                    <div class="form-group">
                        <label for="rememberMe">
                        <input type="checkbox" id="rememberMe" ng-model="vm.rememberMe" checked>
                        <span data-translate="login.form.rememberme">Remember me</span>
                    </label>
                    </div>
                    <button type="submit" class="btn btn-primary" data-translate="login.form.button">Sign in</button>
                </form>
                <p></p>
                <div class="alert alert-warning">
                    <a class="alert-link" href="" ng-click="vm.requestResetPassword()" data-translate="login.password.forgot">Did you forget your password?</a>
                </div>
                <div class="alert alert-warning" data-translate="global.messages.info.register" translate-compile>
                    You don't have an account yet? <a class="alert-link" href="" ng-click="vm.register()">Register a new account</a>
                </div>
            </div>
           
        </div>
    </div>
</div>-->

<!-- START SCRIPTS -->
<!-- START PLUGINS -->

<!-- END PLUGINS -->

<!-- THIS PAGE PLUGINS -->


<!-- END PAGE PLUGINS -->

<!-- START TEMPLATE -->



<!-- END TEMPLATE -->
<!-- END SCRIPTS -->