    /* -------------------------------- 

Primary style

-------------------------------- */
    
    *,
    *::after,
    *::before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    *::after,
    *::before {
        content: '';
    }
    
    body {
        font-size: 100%;
        font-family: "PT Sans", sans-serif;
        color: #3e585f;
        background-color: #e9ebee
    }
    
    .bg-inverse {
        background: black !important;
    }
    
    body::-webkit-scrollbar {
        width: 1em;
    }
    
    body::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
    
    body::-webkit-scrollbar-thumb {
        background-color: darkgray;
        outline: 1px solid slategrey;
    }
    
    body::after {
        /* dark overlay layer - visible when we fire .cd-quick-view */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /*background: rgba(71, 55, 78, 0.8);*/
        background: rgba(0, 0, 0, 0.8);
        visibility: hidden;
        opacity: 0;
        -webkit-transition: opacity .3s 0s, visibility 0s .3s;
        -moz-transition: opacity .3s 0s, visibility 0s .3s;
        transition: opacity .3s 0s, visibility 0s .3s;
    }
    
    @media only screen and (min-width: 1024px) {
        body.overlay-layer::after {
            visibility: visible;
            opacity: 1;
            -webkit-transition: opacity .3s 0s, visibility 0s 0s;
            -moz-transition: opacity .3s 0s, visibility 0s 0s;
            transition: opacity .3s 0s, visibility 0s 0s;
        }
    }
    
    a {
        color: #f82f53;
        text-decoration: none;
    }
    
    .img2 {
        max-width: 100%;
    }
    /* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
    
    .cd-container {
        /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
        width: 80%;
        margin: 0 auto;
    }
    
    .cd-container:after {
        content: "";
        display: table;
        clear: both;
    }
    /* -------------------------------- 

Main components 

-------------------------------- */
    
    html,
    body {
        height: 100%;
    }
    
    header {
        position: relative;
        height: 160px;
        line-height: 170px;
        text-align: center;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    
    header h1 {
        color: black;
        font-size: 20px;
        font-size: 1.25rem;
    }
    
    @media only screen and (min-width: 768px) {
        header {
            line-height: 180px;
        }
        header h1 {
            font-size: 26px;
            font-size: 1.625rem;
        }
    }
    
    @media only screen and (min-width: 1024px) {
        header {
            line-height: 220px;
        }
    }
    
    .cd-items {
        padding: 0 0;
    }
    
    @media only screen and (min-width: 768px) {
        .cd-items {
            padding: 2em 0 0;
        }
    }
    
    @media only screen and (min-width: 1024px) {
        .cd-items {
            padding: 4em 0 0;
        }
    }
    
    .cd-item {
        position: relative;
        margin: 0 1% 1% 0;
        /*box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);*/
    }
    
    .cd-item>img {
        display: block;
        width: 100%;
    }
    
    @media only screen and (min-width: 768px) {
        .cd-item {
            width: 30%;
            float: left;
            margin: 1% 1% 1% 1%;
        }
        .cd-item:nth-child(2n) {
            margin-right: 0;
        }
    }
    
    @media only screen and (min-width: 1024px) {
        .cd-item {
            width: 9%;
            float: left;
            margin: 0.5% 0.5% 0.5% 0.5%;
        }
        .cd-item:nth-child(2n) {
            margin-right: 1%;
        }
        .cd-item:nth-child(4n) {
            margin-right: 1%;
        }
        .cd-item.empty-box::after {
            /* box visible as placeholder when the .cd-quick-view zooms in */
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #e9ebee;
        }
    }
    
    .cd-trigger {
        position: absolute;
        height: 100%;
        line-height: 50px;
        width: 100%;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.1);
        text-align: center;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        color: #ffffff;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: opacity 0.2s, background-color 0.2s;
        -moz-transition: opacity 0.2s, background-color 0.2s;
        transition: opacity 0.2s, background-color 0.2s;
    }
    
    .no-touch .cd-trigger:hover {
        background: rgba(0, 0, 0, 0.3);
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
    
    @media only screen and (min-width: 1024px) {
        .cd-trigger {
            /* always visible on small devices */
            visibility: visible;
            opacity: 1;
        }
    }
    
    @media only screen and (min-width: 1170px) {
        .cd-trigger {
            /* only visible on hover on big devices */
            opacity: 0;
        }
    }
    
    @media only screen and (min-width: 1170px) {
        .no-touch .cd-item:hover .cd-trigger {
            opacity: 1;
        }
        .touch .cd-item .cd-trigger {
            opacity: 1;
        }
    }
    
    .cd-quick-view {
        /* quick view non available on small devices */
        display: none;
    }
    
    @media only screen and (min-width: 1024px) {
        .cd-quick-view {
            display: block;
            position: fixed;
            top: 15% !important;
            max-width: 900px;
            visibility: hidden;
            /* Force Hardware Acceleration in WebKit */
            -webkit-transform: translateZ(0);
            -moz-transform: translateZ(0);
            -ms-transform: translateZ(0);
            -o-transform: translateZ(0);
            transform: translateZ(0);
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            will-change: left, top, width;
            z-index: 1;
        }
        .cd-quick-view:after {
            content: "";
            display: table;
            clear: both;
        }
        .cd-quick-view.is-visible {
            /* class added when user clicks on .cd-trigger */
            visibility: visible;
        }
        .cd-quick-view.animate-width {
            /* class added at the end of the first zoom-in animation */
            background-color: #ffffff;
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
            -webkit-transition: box-shadow 0.3s;
            -moz-transition: box-shadow 0.3s;
            transition: box-shadow 0.3s;
        }
    }
    
    .cd-slider-wrapper {
        position: relative;
        display: inline-block;
        float: left;
    }
    
    .cd-slider-wrapper:after {
        content: "";
        display: table;
        clear: both;
    }
    
    .cd-slider {
        float: left;
    }
    
    .cd-slider li {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
    
    .cd-slider li img {
        display: block;
        width: 100%;
        max-width: 400px;
    }
    
    .cd-slider li.selected {
        position: relative;
        z-index: 3;
    }
    
    .add-content .cd-slider {
        margin-right: 3em;
    }
    
    .cd-slider-navigation {
        opacity: 0;
    }
    
    .add-content .cd-slider-navigation {
        opacity: 1;
    }
    
    .cd-slider-navigation li {
        position: absolute;
        bottom: auto;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: 3;
    }
    
    .cd-slider-navigation li:first-child {
        left: 0;
    }
    
    .cd-slider-navigation li:last-child {
        /* equal to the .cd-slider-wrapper margin-right */
        right: 3em;
    }
    
    .cd-slider-navigation li a {
        display: block;
        width: 40px;
        height: 50px;
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
        opacity: 0;
        /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: opacity 0.2s, background 0.2s;
        -moz-transition: opacity 0.2s, background 0.2s;
        transition: opacity 0.2s, background 0.2s;
    }
    
    .cd-slider-navigation li a::before,
    .cd-slider-navigation li a::after {
        /* create arrows in CSS */
        position: absolute;
        top: 18px;
        left: 14px;
        display: inline-block;
        background: #ffffff;
        height: 3px;
        width: 12px;
    }
    
    .cd-slider-navigation li a::before {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    
    .cd-slider-navigation li a::after {
        -webkit-transform: translateY(7px) rotate(-45deg);
        -moz-transform: translateY(7px) rotate(-45deg);
        -ms-transform: translateY(7px) rotate(-45deg);
        -o-transform: translateY(7px) rotate(-45deg);
        transform: translateY(7px) rotate(-45deg);
    }
    
    .add-content .cd-slider-navigation li a {
        opacity: .2;
    }
    
    .no-touch .cd-slider-navigation li a:hover {
        background: rgba(71, 55, 78, 0.8);
        opacity: 1;
    }
    
    .touch .cd-slider-navigation li a {
        opacity: 1;
    }
    
    .cd-slider-navigation li:first-child a::before {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    
    .cd-slider-navigation li:first-child a::after {
        -webkit-transform: translateY(7px) rotate(45deg);
        -moz-transform: translateY(7px) rotate(45deg);
        -ms-transform: translateY(7px) rotate(45deg);
        -o-transform: translateY(7px) rotate(45deg);
        transform: translateY(7px) rotate(45deg);
    }
    
    .cd-item-info {
        position: absolute;
        padding: 3em 3em 3em 0;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: opacity .3s, visibility 0s;
        -moz-transition: opacity .3s, visibility 0s;
        transition: opacity .3s, visibility 0s;
    }
    
    .cd-item-info h2 {
        font-size: 28px;
        font-size: 1.75rem;
    }
    
    .cd-item-info p {
        line-height: 1.6;
        margin: 1em 0;
        color: #67919c;
    }
    
    .cd-item-info .cd-item-action li {
        display: inline-block;
        margin-right: 1em;
    }
    
    .cd-item-info .cd-item-action li:first-child {
        margin-left: -4px;
    }
    
    .cd-item-info .add-to-cart {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        -o-appearance: none;
        appearance: none;
        border-radius: 0.25em;
        border: none;
        padding: .6em 1.2em;
        background-color: #f82f53;
        color: #ffffff;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-family: "PT Sans", sans-serif;
        font-size: 16px;
        font-size: 1rem;
        cursor: pointer;
    }
    
    .add-content .cd-item-info {
        /* class added at the end of the width animation, used to show the content */
        position: relative;
        visibility: visible;
        opacity: 1;
    }
    
    .add-content .cd-item-info h2 {
        -webkit-animation: cd-slide-in 0.3s;
        -moz-animation: cd-slide-in 0.3s;
        animation: cd-slide-in 0.3s;
    }
    
    .add-content .cd-item-info p {
        -webkit-animation: cd-slide-in 0.4s;
        -moz-animation: cd-slide-in 0.4s;
        animation: cd-slide-in 0.4s;
    }
    
    .add-content .cd-item-info .cd-item-action {
        -webkit-animation: cd-slide-in 0.5s;
        -moz-animation: cd-slide-in 0.5s;
        animation: cd-slide-in 0.5s;
    }
    
    @-webkit-keyframes cd-slide-in {
        0% {
            -webkit-transform: translate3d(-40px, 0, 0);
        }
        100% {
            -webkit-transform: translate3d(0, 0, 0);
        }
    }
    
    @-moz-keyframes cd-slide-in {
        0% {
            -moz-transform: translate3d(-40px, 0, 0);
        }
        100% {
            -moz-transform: translate3d(0, 0, 0);
        }
    }
    
    @keyframes cd-slide-in {
        0% {
            -webkit-transform: translate3d(-40px, 0, 0);
            -moz-transform: translate3d(-40px, 0, 0);
            -ms-transform: translate3d(-40px, 0, 0);
            -o-transform: translate3d(-40px, 0, 0);
            transform: translate3d(-40px, 0, 0);
        }
        100% {
            -webkit-transform: translate3d(0, 0, 0);
            -moz-transform: translate3d(0, 0, 0);
            -ms-transform: translate3d(0, 0, 0);
            -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }
    
    .cd-close {
        position: absolute;
        top: 10px;
        right: 10px;
        display: inline-block;
        width: 30px;
        height: 30px;
        /* image replacement */
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
        visibility: hidden;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
        -webkit-transition: -webkit-transform .3s 0s, visibility 0s .3s;
        -moz-transition: -moz-transform .3s 0s, visibility 0s .3s;
        transition: transform .3s 0s, visibility 0s .3s;
    }
    
    .cd-close::before,
    .cd-close::after {
        /* close icon in css */
        position: absolute;
        top: 12px;
        left: 5px;
        display: inline-block;
        height: 4px;
        width: 20px;
        background: #47374e;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    
    .cd-close::before {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    
    .cd-close::after {
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    
    .no-touch .cd-close:hover {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }
    
    .add-content .cd-close {
        visibility: visible;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        -webkit-transition: -webkit-transform .3s 0s, visibility 0s 0s;
        -moz-transition: -moz-transform .3s 0s, visibility 0s 0s;
        transition: transform .3s 0s, visibility 0s 0s;
    }
    
    .newBook {
        position: relative;
        display: inline-block;
    }
    
    .newBook>.content {
        position: absolute;
        height: 100%;
        text-align: center;
        width: 100%;
        z-index: 2;
        opacity: 0;
    }
    
    .newBook .img3 {
        display: block;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        opacity: 1;
    }
    
    .expose {
        position: relative;
    }
    
    #overlay {
        background: rgba(0, 0, 0, 0.8);
        display: none;
        width: 100%;
        height: 300%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 500;
    }
    /* books part */
    
    .friendLine:hover {
        background-color: #f6f7f9;
        border: 1px solid #dddfe2;
        transition: 400ms cubic-bezier(.08, .52, .52, 1) background-color, 400ms cubic-bezier(.08, .52, .52, 1) border-color, 400ms cubic-bezier(.08, .52, .52, 1) opacity
    }
    
    .sideTitle {
        color: black;
        margin-bottom: 10px;
        font-weight: bold;
    }
    
    .profileLink:hover {
        background-color: #f6f7f9;
        border: 1px solid #dddfe2;
        transition: 400ms cubic-bezier(.08, .52, .52, 1) background-color, 400ms cubic-bezier(.08, .52, .52, 1) border-color, 400ms cubic-bezier(.08, .52, .52, 1) opacity
    }
    
    .profileLink2:hover {
        background-color: gray;
        transition: 400ms cubic-bezier(.08, .52, .52, 1) background-color, 400ms cubic-bezier(.08, .52, .52, 1) border-color, 400ms cubic-bezier(.08, .52, .52, 1) opacity
    }
    
    .profileLink2 {
        border-radius: 3px;
        cursor: pointer;
    }
    
    .profileLink {
        border-radius: 3px;
        cursor: pointer;
    }
    
    .booksList {
        padding: 5px;
        cursor: pointer;
        border-radius: 2px;
    }
    
    .booksList:hover {
        background-color: #f6f7f9;
        border: 1px solid #dddfe2;
        transition: 400ms cubic-bezier(.08, .52, .52, 1) background-color, 400ms cubic-bezier(.08, .52, .52, 1) border-color, 400ms cubic-bezier(.08, .52, .52, 1) opacity
    }
    
    .profileTitle>h1 {
        text-transform: uppercase;
    }
    
    .maincard {
        border-radius: 4px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
    
    .breveStats {
        text-align: center;
        color: #3498db;
    }
    
    div.show-image:hover img {
        opacity: 0.5;
    }
    
    div.show-image:hover div {
        display: block;
    }
    
    div.show-image div {
        position: absolute;
        display: none;
        color: white;
    }
    
    div.show-image div.edit {
        bottom: 0;
    }
    
    .modal.show .modal-dialog {
        -webkit-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    
    .modal-open .modal {
        overflow-x: hidden;
        overflow-y: auto
    }
    
    .modal-backdrop.fade {
        opacity: 0
    }
    
    .modal-backdrop.show {
        opacity: .9
    }
    
    .modal-backdrop.in {
        opacity: .9
    }
    
    .modal-scrollbar-measure {
        position: absolute;
        top: -9999px;
        width: 50px;
        height: 50px;
        overflow: scroll
    }
    
    .modal-backdrop {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1031 !important;
        background-color: #000;
    }
    
    @media (min-width:576px) {
        .modal-dialog {
            margin: 2% auto
        }
        .modal-sm {
            max-width: 300px;
        }
    }
    
    @media (min-width:992px) {
        .modal-lg {
            max-width: 60%
        }
    }
    
    .md-tab.md-active {
        color: goldenrod !important;
    }
    
    .md-ripple-container {
        color: #3498db;
    }
    
    md-tabs.md-default-theme md-ink-bar,
    md-tabs md-ink-bar {
        color: #3498db;
        background: #3498db;
    }
    
    blockquote {
        font-family: Georgia, serif;
        font-size: 14px;
        font-style: italic;
        text-align: justify;
        text-justify: inter-word;
        margin: 0.25em 0;
        padding: 15px;
        line-height: 1.4;
        position: relative;
        color: #383838;
    }
    
    blockquote:before {
        display: block;
        content: "\201C";
        font-size: 60px;
        position: absolute;
        left: -20px;
        top: -20px;
        color: #7a7a7a;
    }
    /* Autocomplete style */
    
    .autocomplete-custom-template li {
        border-bottom: 1px solid #ccc;
        height: auto;
        padding-top: 8px;
        white-space: normal;
    }
    
    .autocomplete-custom-template li:last-child {
        border-bottom-width: 0;
    }
    
    .autocomplete-custom-template .item-title,
    .autocomplete-custom-template .item-metadata {
        display: block;
    }
    
    .autocomplete-custom-template .item-title md-icon {
        height: 18px;
        width: 18px;
    }
    
    .md-autocomplete-suggestions-container {
        z-index: 100000 !important;
    }
    

    
    .sent-message {
        background: #3498db;
        color: white;
        float: right;
    }
    
    .received-message {
        background: white;
        float: left;
    }
    
    .oldul .oldli {
        display: inline-block;
        clear: both;
        padding: 20px;
        border-radius: 10px;
        margin: 10px;
        font-family: Helvetica, Arial, sans-serif;
        max-width: 80%
    }
    
    .oldul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    .listdemoListControls md-divider {
        margin-top: 0;
        margin-bottom: 0;
    }
    
    .listdemoListControls md-list {
        padding-top: 0;
    }
    
    .listdemoListControls md-list-item>p,
    .listdemoListControls md-list-item>.md-list-item-inner>p,
    .listdemoListControls md-list-item .md-list-item-inner>p,
    .listdemoListControls md-list-item .md-list-item-inner>.md-list-item-inner>p {
        -webkit-user-select: none;
        /* Chrome all / Safari all */
        -moz-user-select: none;
        /* Firefox all */
        -ms-user-select: none;
        /* IE 10+ */
        user-select: none;
        /* Likely future */
    }
    
    .md-button.md-primary.md-raised {
        background: #3498db;
    }
    
    .notification-counter {
        position: absolute;
        top: 10px;
        left: 20px;
        background-color: rgba(212, 19, 13, 1);
        color: #fff;
        border-radius: 3px;
        padding: 1px 3px;
        font: 8px Verdana;
    }
    
    .dropdown-toggle::after {
        display: none;
        width: 0;
        height: 0;
        margin-left: .3em;
        vertical-align: middle;
        content: "";
        border-top: .3em solid;
        border-right: .3em solid transparent;
        border-left: .3em solid transparent;
    }
    
    .center-me {
        margin: 0 auto;
    }
    
    .addingIcon {
        text-shadow: 1px 1px 1px grey;
        color: #3498db
    }
    
    .addingIcon:hover {
        text-shadow: 2px 2px 2px grey;
    }