<style>
    .modal.fade .modal-dialog {
        margin-top: 10%;
    }

</style>


<div ng-hide="loading" style="height:80px; width:100%"></div>

<div ng-hide="loading" class="registraionPage">


    <md-content style="padding-top:2%" class="card card-2 container">
        <div style="padding-bottom:3%">
            <div class="alert alert-danger" ng-show="vm.error" data-translate="register.messages.error.fail">
                <strong>Registration failed!</strong> Please try again later.
            </div>

            <div class="alert alert-danger" ng-show="vm.errorUserExists" data-translate="register.messages.error.userexists">
                <strong>Login name already registered!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" ng-show="vm.errorEmailExists" data-translate="register.messages.error.emailexists">
                <strong>Email is already in use!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" ng-show="vm.doNotMatch" data-translate="global.messages.error.dontmatch">
                The password and its confirmation do not match!
            </div>
        </div>

        <form ng-show="!vm.success" name="form" role="form" novalidate ng-submit="vm.register()" show-validation>
            <center>
                <h1 class="md-display-2" data-translate="register.title">INSCRIPTION</h1>
            </center>
            <div class="row">
                <div class="col-md-4">
                    <div class="show-image" style="margin-left:10%" tooltip-animation="false" tooltip-placement="top" uib-tooltip="{{'global.form.pr' | translate}}">

                        <a data-toggle="modal" data-target="#myModal">
                            <img ng-show="myCroppedImage!=''" class="rounded-circle" ng-src="{{myCroppedImage}}" style="width:100%; height: auto" />
                            <img ng-hide="myCroppedImage!=''" class="rounded-circle" src="content/images/comm_user.jpg" style="width:80%; height: auto"
                            />
                        </a>

                    </div>
                    <br>
                    <br>
                    <div class="panel panel-default" ng-hide="myCroppedImage!=''" style="border:1px solid #0690CF">
                        <div class="panel-body">
                            <p style="font-size: 13px;text-align:center" data-translate="global.form.upload">Choisissez une vraie photo de vous</p>
                        </div>
                    </div>

                </div>
                <div class="col-md-8">

                    <div class="row">
                        <md-input-container class="col-md-4">
                            <label data-translate="global.form.username">Login</label>
                            <input required md-no-asterisk id="login" name="login" ng-model="vm.registerAccount.login">
                            <div ng-messages="projectForm.login.$error">
                                <div ng-message="required">Le Nom d'Utilisateur est obligatoire.</div>
                                <div ng-message="md-maxlength">The description must be less than 30 characters long.</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="col-md-4">
                            <label data-translate="global.form.fname">Prénom</label>
                            <input required md-no-asterisk name="firstName" ng-model="vm.profile.profile.firstName">
                            <div ng-messages="projectForm.firstName.$error">
                                <div ng-message="required">Votre Prénom est obligatoire</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="col-md-4">
                            <label data-translate="global.form.lname">Nom de Famille</label>
                            <input required md-no-asterisk name="lastName" ng-model="vm.profile.profile.lastName">
                            <div ng-messages="projectForm.lastName.$error">
                                <div ng-message="required">Le Nom de votre famille est obligatoire</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div class="row">
                        <md-input-container class="col-md-3">
                            <label data-translate="global.form.country">Pays</label>
                            <md-select ng-model="vm.profile.profile.country" ng-change="change(country)">
                                <md-option ng-repeat="country in vm.countries track by country.id" ng-value="country">
                                    <img class="img-circle" ng-src="{{country.flag}}" width="15" height="15"> {{country.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container class="col-md-3">
                            <label data-translate="global.form.ville">Ville</label>
                            <input required md-no-asterisk id="gouv" name="gouv" ng-model="location">
                        </md-input-container>
                        <md-input-container class="col-md-6">
                            <label data-translate="global.form.email">Email</label>
                            <input required id="email" type="email" name="email" ng-model="vm.registerAccount.email" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/"
                            />
                            <div ng-messages="projectForm.email.$error" role="alert">
                                <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                    Your email must be between 10 and 100 characters long and look like an e-mail address.
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <md-input-container class="md-block">
                                <label class="control-label" for="password" data-translate="global.form.newpassword">New password</label>
                                <input type="password" id="password" name="password" ng-model="vm.registerAccount.password" ng-minlength=4 ng-maxlength=50
                                    required>
                                <div ng-show="form.password.$dirty && form.password.$invalid">
                                    <p class="help-block" ng-show="form.password.$error.required" data-translate="global.messages.validate.newpassword.required">
                                        Your password is required.
                                    </p>
                                    <p class="help-block" ng-show="form.password.$error.minlength" data-translate="global.messages.validate.newpassword.minlength">
                                        Your password is required to be at least 4 characters.
                                    </p>
                                    <p class="help-block" ng-show="form.password.$error.maxlength" data-translate="global.messages.validate.newpassword.maxlength">
                                        Your password cannot be longer than 50 characters.
                                    </p>
                                </div>
                                <password-strength-bar password-to-check="vm.registerAccount.password"></password-strength-bar>
                            </md-input-container>
                        </div>
                        <div class="col-md-6">
                            <md-input-container class="md-block">
                                <label class="control-label" for="confirmPassword" data-translate="global.form.confirmpassword">New password confirmation</label>
                                <input type="password" id="confirmPassword" name="confirmPassword" ng-model="vm.confirmPassword" ng-minlength=4 ng-maxlength=50
                                    required>
                                <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                                    <p class="help-block" ng-show="form.confirmPassword.$error.required" data-translate="global.messages.validate.confirmpassword.required">
                                        Your confirmation password is required.
                                    </p>
                                    <p class="help-block" ng-show="form.confirmPassword.$error.minlength" data-translate="global.messages.validate.confirmpassword.minlength">
                                        Your confirmation password is required to be at least 4 characters.
                                    </p>
                                    <p class="help-block" ng-show="form.confirmPassword.$error.maxlength" data-translate="global.messages.validate.confirmpassword.maxlength">
                                        Your confirmation password cannot be longer than 50 characters.
                                    </p>
                                </div>
                            </md-input-container>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <md-input-container class="md-block">
                                <md-checkbox class="md-primary" name="tos" ng-model="project.tos" required>
                                    J'accepte
                                    <a style="color:#0690CF;" ui-sref="user-agreement" rel="noopener noreferrer" target="_blank">les conditions d'utilisation</a>.
                                </md-checkbox>
                                <div ng-messages="projectForm.tos.$error" multiple md-auto-hide="false">
                                    <div ng-message="required">
                                        Vous devez accepter les conditions d'utilisation avant de continuer.
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <md-button type="submit" ng-disabled="form.$invalid" class="md-raised md-warn" data-translate="register.form.button">Register</md-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </md-content>
</div>
<div class="loading" ng-show="loading">
    <div class='loader'>
        <span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </span>
        <div class='base'>
            <span></span>
            <div class='face'></div>
        </div>
    </div>
    <div class='longfazers'>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
    <h1>Loading</h1>
</div>
<!-- modal-->
<div style=" background: rgba(0, 0, 0, 0.8);" id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content needs fix-->
        <div style="background:black;color: white" class="modal-content">

            <div class="modal-body">

                <center>
                    <div>
                        <label style="width:40%; margin-top:25px;" data-translate="global.form.photo" for="fileInput2" class="btn btn-primary btn-block btn-outlined">Selectionner une photo</label>
                        <input accept="image/*" type="file" id="fileInput2" style="visibility:hidden" />
                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-hide="myCroppedImage===''" style="margin:10px;">Ok</button>


                    <div style="min-height: 300px; height: 100%; width: 100%; background:black" class="cropArea">
                        <ui-cropper style="height: 100%" image="myImage" area-type="circle" chargement=" 'Chargment en cours'" result-image-size="1000"
                            result-image="myCroppedImage" canvas-scalemode="true"></ui-cropper>
                    </div>

                </center>
            </div>
            <div class="modal-footer">

            </div>
        </div>

    </div>
</div>

<!-- end of modal -->










</div>
