﻿<div class="splash">
    <div class="splash_logo">
        Netbedloo
    </div>
    <div class="splash_svg">
        <svg width="100%" height="100%">
            <rect width="100%" height="100%">
        </svg>
    </div>
    <div class="splash_minimize">
        <svg width="100%" height="100%">
            <rect width="100%" height="100%">
        </svg>
    </div>
</div>
<div class="text">
    <p style="line-height: 150%" data-translate="register.form.registrated">You have successfully registered !</p>
    <p style="line-height: 150%" data-translate="register.form.confirmation">We will send you a confirmation mail as soon as
        <br>
        <span class="font-weight-bold">the beta version will be released.</span>
    </p>
    <p style="line-height: 150%" data-translate="register.form.happy">We are glad you joined us.
        <br> We hope you will enjoy our concepts.</p>
        <p style="line-height: 150%;font-size:12px" data-translate="register.form.activation">Please activate your account later using your confirmation mail</p>
    <button ui-sref="home" style="margin-top: 10px" data-translate="register.form.soon">See You Soon !</button>
    <div class="row" style="margin-top:5%">
        <div class="col-md-4"  style="margin-left:10%">
            <div class="show-image">
                <a target="_blank" href="https://play.google.com/store/apps/details?id=netbedloo.beta" class="btn">

                    <img style="width:200px;height:auto;" src="content/images/google-play-badge-en.png" />
                </a>
            </div>
        </div>
        <div class="col-md-4" style="margin-left:10%">
            <div class="show-image">
                <a class="btn">
                    <img style="width:200px;height:auto;" src="content/images/app_store.png" />
                </a>
            </div>

        </div>

    </div>
</div>
