﻿<style>
    .maintenance {
        text-transform: uppercase;
        margin-bottom: 1rem;
        font-size: 3rem;
    }

    .under {
        display: table;
        margin: 0 auto;
        max-width: 1024px;
        width: 100%;
        height: 100%;
        -ms-flex-line-pack: center;
        align-content: center;
        position: relative;
        box-sizing: border-box;
       
    }

    .container .what-is-up {
        position: absolute;
        width: 100%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        display: block;
        vertical-align: middle;
        text-align: center;
        box-sizing: border-box;
    }

    .container .what-is-up .spinny-cogs {
        display: block;
        margin-bottom: 2rem;
    }

    @-webkit-keyframes fa-spin-one {
        0% {
            -webkit-transform: translateY(-2rem) rotate(0deg);
            transform: translateY(-2rem) rotate(0deg);
        }
        100% {
            -webkit-transform: translateY(-2rem) rotate(-359deg);
            transform: translateY(-2rem) rotate-(359deg);
        }
    }

    @keyframes fa-spin-one {
        0% {
            -webkit-transform: translateY(-2rem) rotate(0deg);
            transform: translateY(-2rem) rotate(0deg);
        }
        100% {
            -webkit-transform: translateY(-2rem) rotate(-359deg);
            transform: translateY(-2rem) rotate-(359deg);
        }
    }

    .fa-spin-one,
    .container .what-is-up .spinny-cogs .fa:nth-of-type(1) {
        -webkit-animation: fa-spin-one 1s infinite linear;
        animation: fa-spin-one 1s infinite linear;
    }

    @-webkit-keyframes fa-spin-two {
        0% {
            -webkit-transform: translateY(-0.5rem) translateY(1rem) rotate(0deg);
            transform: translateY(-0.5rem) translateY(1rem) rotate(0deg);
        }
        100% {
            -webkit-transform: translateY(-0.5rem) translateY(1rem) rotate(-359deg);
            transform: translateY(-0.5rem) translateY(1rem) rotate(-359deg);
        }
    }

    @keyframes fa-spin-two {
        0% {
            -webkit-transform: translateY(-0.5rem) translateY(1rem) rotate(0deg);
            transform: translateY(-0.5rem) translateY(1rem) rotate(0deg);
        }
        100% {
            -webkit-transform: translateY(-0.5rem) translateY(1rem) rotate(-359deg);
            transform: translateY(-0.5rem) translateY(1rem) rotate(-359deg);
        }
    }

    .fa-spin-two,
    .container .what-is-up .spinny-cogs .fa:nth-of-type(3) {
        -webkit-animation: fa-spin-two 2s infinite linear;
        animation: fa-spin-two 2s infinite linear;
    }

    h2 {
        font-family: "Montserrat", sans-serif;
        font-size: 22px;
        font-weight: 700;
        color: #35373e;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 3px;
        margin-bottom: 40px;
        margin-top: 50px;
    }

    h2:after {
        display: block;
        content: "";
        width: 40px;
        height: 2px;
        background-color: #111111;
        margin: 20px auto 0;
    }

</style>
<div class="tabs">
    <!-- Radio button and lable for #tab-content1 -->
    <input type="radio" name="tabs" id="tab1" checked>
    <label for="tab1">
        <span>{{'register.policyx.headerxs.generalx' | translate}}</span>
    </label>

    <!-- Radio button and lable for #tab-content2 -->
    <input type="radio" name="tabs" id="tab2">
    <label for="tab2">
        <span>{{'register.policyx.headerxs.confidentialx' | translate}}</span>
    </label>
    <!-- Radio button and lable for #tab-content3 -->
    <input type="radio" name="tabs" id="tab3">
    <label for="tab3">
        <span>{{'register.policyx.headerxs.cookiex' | translate}}</span>
    </label>
    <div id="tab-content1" class="tab-content">
        <div class="row">
            <div class="col-md-12">
                <h2>{{'register.policyx.headerxs.generalx' | translate}}</h2>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-5">

                    <p class="text-justify" style="font-family: 'Dosis', sans-serif;margin-top:10px;font-size:21px;">
                        {{'register.policyx.generalx.intro' | translate}}
                    </p>

                </div>
                <div class="col-md-1"></div>
                <div class="col-md-6">
                    <div style="border:1px solid #0690CF" class="panel panel-default">
                        <div class="panel-body">
                            <h3>1.
                                <a href="#intro" du-smooth-scroll duration="1000">{{'register.policyx.generalx.titlex.intro' | translate}}</a>
                            </h3>
                            <h3>2.
                                <a href="#obligations" du-smooth-scroll duration="1000">{{'register.policyx.generalx.titlex.oblig' | translate}}</a>
                            </h3>
                            <h3>3.
                                <a href="#droits" du-smooth-scroll duration="1000">{{'register.policyx.generalx.titlex.restriction' | translate}}</a>
                            </h3>
                            <h3>4.
                                <a href="#contrat" du-smooth-scroll duration="1000">{{'register.policyx.generalx.titlex.condition' | translate}}</a>
                            </h3>
                            <h3>5.
                                <a href="#wtdo" du-smooth-scroll duration="1000">{{'register.policyx.generalx.titlex.wtdo' | translate}}</a>
                            </h3>
                        </div>
                    </div>
                </div>

            </div>
            <br>
            <hr class="style1">
            <br>
            <section id="intro">
                <div class="row fadeInDown">
                    <div class="col-md-6">
                        <br>
                        <h3 style="margin:10px auto;font-size:30px">1. {{'register.policyx.generalx.titlex.intro' | translate}}</h3>
                        <br>
                        <h4 style="font-size:25px">1.1 {{'register.policyx.generalx.introd.ctrat' | translate}}</h4>
                        <br>
                        <p class="text-justify" style="font-size:14px;line-height: 130%;">{{'register.policyx.generalx.introd.ack' | translate}}
                            <span style="color:#0690CF;">{{'register.policyx.generalx.introd.pv' | translate}}</span>{{'register.policyx.generalx.introd.adn'
                            | translate}}
                            <span style="color:#0690CF;">{{'register.policyx.generalx.introd.ckies' | translate}}</span>.</p>
                        <br>
                        <h5 style="font-size:20px">{{'register.policyx.generalx.introd.srvc' | translate}}</h5>
                        <p class="text-justify" style="font-size:14px;line-height: 130%;">{{'register.policyx.generalx.introd.cx' | translate}}
                        </p>
                        <br>
                        <h5 style="font-size:20px">Netbedloo</h5>
                        <p class="text-justify" style="font-size:14px;line-height: 130%;">{{'register.policyx.generalx.introd.wey' | translate}}
                        </p>
                        <br>
                        <br>
                        <h4 style="font-size:25px">1.2 {{'register.policyx.generalx.introd.mv' | translate}}</h4>
                        <br>
                        <p class="text-justify" style="font-size:14px;line-height: 130%;">{{'register.policyx.generalx.introd.sup' | translate}}

                        </p>
                        <br>
                        <br>
                        <h4 style="font-size:25px">1.3 Modification</h4>
                        <br>
                        <p class="text-justify" style="font-size:14px;line-height: 130%;">{{'register.policyx.generalx.introd.chg' | translate}}
                        </p>
                    </div>
                    <div style="padding-top: 10%" class="col-md-6">
                        <div style="border:1px solid #0690CF" class="panel panel-default">
                            <div class="panel-body">
                                <p class="text-justify" style=" margin-top:10px;font-family: 'Dosis', sans-serif; font-size:23px">
                                    {{'register.policyx.generalx.introd.finsh' | translate}}
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <hr class="style1">
                <br>
                <section id="obligations">
                    <br>
                    <h3 style="margin:10px auto;font-size:30px">2. {{'register.policyx.generalx.titlex.oblig' | translate}}</h3>
                    <br>
                    <div class="row fadeInDown">
                        <div class="col-md-6">
                            <h4 style="font-size:25px">2.1 {{'register.policyx.generalx.obligation.rightsx' | translate}}</h4>
                            <br>
                            <p class="text-justify" style="font-size:14px;line-height: 130%;">
                                {{'register.policyx.generalx.obligation.under' | translate}}</p>
                            <ol>
                                <li>
                                    <br>
                                    <p class="text-justify" style="font-size:14px;">- {{'register.policyx.generalx.obligation.firs' | translate}}</p>
                                </li>
                                <li>
                                    <br>
                                    <p class="text-justify" style="font-size:14px;">- {{'register.policyx.generalx.obligation.secon' | translate}}</p>
                                </li>
                            </ol>

                            <br>

                        </div>
                        <div class="col-md-6" style="padding-top:5%">
                            <div style="border:1px solid #0690CF" class="panel panel-default">
                                <div class="panel-body">
                                    <p class="text-justify" style="margin-top:10px;font-family: 'Dosis', sans-serif;font-size:23px">
                                        {{'register.policyx.generalx.obligation.finishRights' | translate}}</p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row fadeInDown">
                        <div class="col-md-6">
                            <h4 style="font-size:25px">2.2 {{'register.policyx.generalx.obligation.accoun' | translate}}</h4>
                            <br>
                            <br>
                            <p class="text-justify" style="font-size:14px;line-height: 130%;">
                                {{'register.policyx.generalx.obligation.acc' | translate}} </p>
                            <ol>
                                <li>
                                    <br>
                                    <p class="text-justify" style="font-size:14px;">- {{'register.policyx.generalx.obligation.afirst' | translate}}</p>
                                </li>
                                <li>
                                    <br>
                                    <p class="text-justify" style="font-size:14px;">- {{'register.policyx.generalx.obligation.asecond' | translate}} </p>
                                </li>
                                <li>
                                    <br>
                                    <p class="text-justify" style="font-size:14px;">- {{'register.policyx.generalx.obligation.athird' | translate}}</p>
                                </li>
                                <li>
                                    <br>
                                    <p class="text-justify" style="font-size:14px;">- {{'register.policyx.generalx.obligation.afourth' | translate}}</p>
                                </li>
                            </ol>

                            <br>
                            <p class="text-justify" style="font-size:14px;line-height: 130%;">{{'register.policyx.generalx.obligation.resp' | translate}}
                            </p>
                            <br>
                        </div>
                        <div class="col-md-6" style="padding-top:5%">
                            <div style="border:1px solid #0690CF" class="panel panel-default">
                                <div class="panel-body">
                                    <p class="text-justify" style=" margin-top:5px; font-family: 'Dosis', sans-serif;font-size:23px">
                                        {{'register.policyx.generalx.obligation.rulea' | translate}}
                                        <br>
                                        <br> {{'register.policyx.generalx.obligation.rulesb' | translate}}</p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row fadeInDown">
                        <div class="col-md-6">
                            <h4 style="font-size:25px">2.3 {{'register.policyx.generalx.obligation.notif' | translate}}</h4>
                            <br>
                            <br>
                            <p class="text-justify" style="font-size:14px;line-height: 130%;">
                                {{'register.policyx.generalx.obligation.trx' | translate}}</p>
                            <ol>
                                <li>
                                    <br>
                                    <p class="text-justify" style="font-size:14px;">- {{'register.policyx.generalx.obligation.bfirst' | translate}}</p>
                                </li>
                                <li>
                                    <br>
                                    <p class="text-justify" style="font-size:14px;">- {{'register.policyx.generalx.obligation.bsecond' | translate}} </p>
                                </li>

                            </ol>

                            <br>
                            <p class="text-justify" style="font-size:14px;line-height: 130%;">{{'register.policyx.generalx.obligation.blast' | translate}}
                            </p>
                            <br>
                        </div>
                        <div class="col-md-6" style="padding-top:5%">
                            <div style="border:1px solid #0690CF" class="panel panel-default">
                                <div class="panel-body">
                                    <p class="text-justify" style=" margin-top:5px;font-family: 'Dosis', sans-serif; font-size:23px">
                                        {{'register.policyx.generalx.obligation.bfinish' | translate}}</p>

                                </div>
                            </div>
                        </div>
                    </div>

                </section>
                <br>
                <hr class="style1">
                <br>
                <section id="droits">
                    <br>
                    <h3 style="margin:10px auto;font-size:30px">3. {{'register.policyx.generalx.titlex.restriction' | translate}} </h3>
                    <br>
                    <div class="row fadeInDown">
                        <div class="col-md-6">
                            <h4 style="font-size:25px">3.1 {{'register.policyx.generalx.restriction.lic' | translate}}</h4>
                            <br>
                            <p class="text-justify" style="font-size:14px;line-height: 130%;">
                                {{'register.policyx.generalx.restriction.resta' | translate}}</p>
                            <ol>
                                <li>
                                    <br>
                                    <p class="text-justify" style="font-size:14px;">- {{'register.policyx.generalx.restriction.ra' | translate}}
                                    </p>
                                </li>
                                <li>
                                    <br>
                                    <p class="text-justify" style="font-size:14px;">- {{'register.policyx.generalx.restriction.rb' | translate}}</p>
                                </li>
                                <li>
                                    <br>
                                    <p class="text-justify" style="font-size:14px;">- {{'register.policyx.generalx.restriction.rc' | translate}}</p>
                                </li>
                                <li>
                                    <br>
                                    <p class="text-justify" style="font-size:14px;line-height: 130%;">- {{'register.policyx.generalx.restriction.rd' | translate}}</p>
                                </li>
                            </ol>

                            <br>
                            <p class="text-justify" style="font-size:14px;line-height: 130%;">
                                {{'register.policyx.generalx.restriction.restb' | translate}}
                                <br> {{'register.policyx.generalx.restriction.restbb' | translate}}
                            </p>
                        </div>
                        <div class="col-md-6" style="padding-top:5%">
                            <div style="border:1px solid #0690CF" class="panel panel-default">
                                <div class="panel-body">
                                    <p class="text-justify" style="margin-top:10px;font-family: 'Dosis', sans-serif;font-size:23px">
                                        {{'register.policyx.generalx.restriction.finishra' | translate}}
                                        <br>
                                        <br>
                                        <br> {{'register.policyx.generalx.restriction.finishrb' | translate}}
                                        <br>
                                        <br>
                                        <br> {{'register.policyx.generalx.restriction.finishrc' | translate}} </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row fadeInDown">
                        <div class="col-md-6">
                            <h4 style="font-size:25px">3.2 {{'register.policyx.generalx.restriction.avail' | translate}}</h4>
                            <br>
                            <br>
                            <p class="text-justify" style="font-size:14px;line-height: 130%;">
                                {{'register.policyx.generalx.restriction.availa' | translate}}
                                <br>
                                <br> {{'register.policyx.generalx.restriction.availb' | translate}}</p>

                        </div>
                        <div class="col-md-6" style="padding-top:5%">
                            <div style="border:1px solid #0690CF" class="panel panel-default">
                                <div class="panel-body">
                                    <p class="text-justify" style=" margin-top:5px; font-family: 'Dosis', sans-serif;font-size:23px">
                                        {{'register.policyx.generalx.restriction.finishavai' | translate}}</p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row fadeInDown">
                        <div class="col-md-6">
                            <h4 style="font-size:25px">3.3 {{'register.policyx.generalx.restriction.restr' | translate}}</h4>
                            <br>
                            <br>
                            <p class="text-justify" style="font-size:14px;line-height: 130%;">
                                {{'register.policyx.generalx.restriction.restrt' | translate}}</p>

                            <br>
                        </div>
                        <div class="col-md-6" style="padding-top:5%">
                            <div style="border:1px solid #0690CF" class="panel panel-default">
                                <div class="panel-body">
                                    <p class="text-justify" style=" margin-top:5px;font-family: 'Dosis', sans-serif; font-size:23px">
                                        {{'register.policyx.generalx.restriction.finishrest' | translate}}
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row fadeInDown">
                        <div class="col-md-6">
                            <h4 style="font-size:25px">3.4 {{'register.policyx.generalx.restriction.proprty' | translate}}</h4>
                            <br>
                            <br>
                            <p class="text-justify" style="font-size:14px;line-height: 130%;">
                                {{'register.policyx.generalx.restriction.tproprty' | translate}}
                            </p>

                        </div>
                        <div class="col-md-6" style="padding-top:5%">
                            <div style="border:1px solid #0690CF" class="panel panel-default">
                                <div class="panel-body">
                                    <p class="text-justify" style=" margin-top:5px; font-family: 'Dosis', sans-serif;font-size:23px">

                                        {{'register.policyx.generalx.restriction.fnist' | translate}} </p>

                                </div>
                            </div>
                        </div>
                    </div>

                </section>
                <br>
                <hr class="style1">
                <br>
                <section id="contrat">
                    <br>
                    <h3 style="margin:10px auto;font-size:30px">4. {{'register.policyx.generalx.titlex.condition' | translate}}</h3>
                    <br>
                    <div class="row fadeInDown">
                        <div class="col-md-6">
                            <p class="text-justify" style="font-size:14px;line-height: 130%;">
                                {{'register.policyx.generalx.cntrat.fst' | translate}}
                                <br>
                                <br> {{'register.policyx.generalx.cntrat.scd' | translate}}
                                <br>
                                <br> {{'register.policyx.generalx.cntrat.thd' | translate}}
                            </p>
                        </div>
                        <div class="col-md-6" style="padding-top:5%">
                            <div style="border:1px solid #0690CF" class="panel panel-default">
                                <div class="panel-body">
                                    <p class="text-justify" style="margin-top:10px;font-family: 'Dosis', sans-serif;font-size:23px">
                                        {{'register.policyx.generalx.cntrat.fnish' | translate}}
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>


                </section>
                <br>
                <hr class="style1">
                <br>
                <section id="wtdo">
                    <br>
                    <h3 style="margin:10px auto;font-size:30px">5. {{'register.policyx.generalx.titlex.wtdo' | translate}}</h3>
                    <br>
                    <div class="row fadeInDown">
                        <div class="col-md-6">
                            <h4 style="font-size:25px">5.1 {{'register.policyx.generalx.wtnd.wtd' | translate}}</h4>

                            <ol>
                                <li>
                                    <br>
                                    <p class="text-justify" style="font-size:14px;">- {{'register.policyx.generalx.wtnd.rspt' | translate}}
                                    </p>
                                </li>
                                <li>
                                    <br>
                                    <p class="text-justify" style="font-size:14px;">- {{'register.policyx.generalx.wtnd.updt' | translate}}</p>
                                </li>
                                <li>
                                    <br>
                                    <p class="text-justify" style="font-size:14px;">- {{'register.policyx.generalx.wtnd.rname' | translate}}</p>
                                </li>
                            </ol>
                        </div>
                        <div class="col-md-6" style="padding-top:5%">

                        </div>
                    </div>
                    <div class="row fadeInDown">
                        <div class="col-md-6">
                            <h4 style="font-size:25px">5.1 {{'register.policyx.generalx.wtnd.wntdo' | translate}}</h4>

                            <ol>
                                <li>
                                    <br>
                                    <p class="text-justify" style="font-size:14px;">- {{'register.policyx.generalx.wtnd.cnt' | translate}} </p>
                                </li>
                                <li>
                                    <br>
                                    <p class="text-justify" style="font-size:14px;">- {{'register.policyx.generalx.wtnd.rul' | translate}} </p>
                                </li>
                                <li>
                                    <br>
                                    <p class="text-justify" style="font-size:14px;">- {{'register.policyx.generalx.wtnd.prf' | translate}}</p>
                                </li>
                                <li>
                                    <br>
                                    <p class="text-justify" style="font-size:14px;">- {{'register.policyx.generalx.wtnd.rbt' | translate}}</p>
                                </li>
                                <li>
                                    <br>
                                    <p class="text-justify" style="font-size:14px;">- {{'register.policyx.generalx.wtnd.vio' | translate}}
                                    </p>
                                </li>

                                <li>
                                    <br>
                                    <p class="text-justify" style="font-size:14px;">- {{'register.policyx.generalx.wtnd.pb' | translate}}</p>
                                </li>
                                <li>
                                    <br>
                                    <p class="text-justify" style="font-size:14px;">- {{'register.policyx.generalx.wtnd.dgs' | translate}}</p>
                                </li>
                                <li>
                                    <br>
                                    <p class="text-justify" style="font-size:14px;">- {{'register.policyx.generalx.wtnd.hck' | translate}}</p>
                                </li>
                                <li>
                                    <br>
                                    <p class="text-justify" style="font-size:14px;">- {{'register.policyx.generalx.wtnd.scrt' | translate}}</p>
                                </li>
                                <li>
                                    <br>
                                    <p class="text-justify" style="font-size:14px;">- {{'register.policyx.generalx.wtnd.frd' | translate}}</p>
                                </li>
                                <li>
                                    <br>
                                    <p class="text-justify" style="font-size:14px;">-{{'register.policyx.generalx.wtnd.damnt' | translate}}</p>
                                </li>
                                <li>
                                    <br>
                                    <p class="text-justify" style="font-size:14px;">- {{'register.policyx.generalx.wtnd.rvs' | translate}}</p>
                                </li>
                                <li>
                                    <br>
                                    <p class="text-justify" style="font-size:14px;">- {{'register.policyx.generalx.wtnd.frm' | translate}}</p>
                                </li>
                                <li>
                                    <br>
                                    <p class="text-justify" style="font-size:14px;">-{{'register.policyx.generalx.wtnd.3dhma' | translate}}</p>
                                </li>

                                <li>
                                    <br>
                                    <p class="text-justify" style="font-size:14px;">- {{'register.policyx.generalx.wtnd.mrawba' | translate}}</p>
                                </li>
                                <li>
                                    <br>
                                    <p class="text-justify" style="font-size:14px;">- {{'register.policyx.generalx.wtnd.xd' | translate}}</p>
                                </li>
                            </ol>
                        </div>
                        <div class="col-md-6" style="padding-top:5%">

                        </div>
                    </div>


                </section>







        </div>

    </div>
    <!-- #tab-content1 -->
    <div id="tab-content2" class="tab-content">
        
        <div style="text-align: center;"  class="under">
            <div class="what-is-up">

                <div class="spinny-cogs">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                    <i class="fa fa-5x fa-cog fa-spin" aria-hidden="true"></i>
                    <i class="fa fa-3x fa-cog" aria-hidden="true"></i>
                </div>
                <h1  class="maintenance">{{'register.policyx.constu.header' | translate}}</h1>
                <h2>{{'register.policyx.constu.content' | translate}}</h2>
            </div>
        </div>
    </div>

    <!-- #tab-content2 -->
    <div id="tab-content3" class="tab-content">
            
        <div class="under">
            <div class="what-is-up">

                <div style="text-align: center;" class="spinny-cogs">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                    <i class="fa fa-5x fa-cog fa-spin" aria-hidden="true"></i>
                    <i class="fa fa-3x fa-cog" aria-hidden="true"></i>
                </div>
                <h1 style="text-align: center;" class="maintenance">{{'register.policyx.constu.header' | translate}}</h1>
                <h2>{{'register.policyx.constu.content' | translate}}</h2>
            </div>
        </div>
    </div>
    <!-- #tab-content3 -->
</div>
