<style>
    .md-sidenav-left,
    md-sidenav {
        background: whitesmoke
    }

    md-sidenav.md-default-theme,
    md-sidenav,
    md-sidenav.md-default-theme md-content,
    md-sidenav md-content {
        background: whitesmoke;
    }

    .chat-input {
        bottom: 0;
        width: 100%;
        height: 40px
    }

    .nav-link i {
        display: inline-block;
        font-size: 35px;
        text-align: center;
        vertical-align: middle;
        width: 30px;
    }

    .nav-link i:hover {

        color: #0690CF;
        -webkit-transition: all 0.35s ease;
        transition: all 0.35s ease;
    }

    .nav-link-game i {
        display: inline-block;
        font-size: 35px;
        text-align: center;
        vertical-align: middle;
        width: 30px;
        color: white;
    }

    .nav-link-game i:hover {

        color: darkred;
        -webkit-transition: all 0.35s ease;
        transition: all 0.35s ease;
    }


    md-autocomplete {
        border-radius: 4px;
        height: 34px;
        position: relative;
        overflow: visible;
        min-width: 20vw;
        vertical-align: middle;
    }



    .chat-messages {
        overflow-y: auto;
        height: 40vh;
        width: 100%;
        overflow-x: hidden
    }

    .oldul .oldli {
        display: inline-block;
        clear: both;
        padding: 5px;
        border-radius: 5px;
        margin: 2px;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 75%
    }

    .oldul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .nav-link {
        color: #003569 !important;
    }

    .md-whiteframe-1dp,
    .md-whiteframe-z1 {
        box-shadow: 0 0 0 0;
    }

</style>
<nav ng-hide="gamingMode" class="navbar navbar-toggleable-md  bg-inverse  fixed-top" style="position :fixed;">
    <button ng-click="toggleLeft()" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="fa fa-bars"></span>
    </button>
    <a aria-label="logo" class="navbar-brand logo" href="/" ng-click="vm.collapseNavbar()">
        <img class="logo-img" src="content/images/blue-netbedloo.png" width="auto" height="70px" alt="logo" />
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" ng-switch="vm.isAuthenticated()">
        <ul class="navbar-nav mr-auto hidden-lg-down">
            <li ng-show="vm.account != null" style="margin-left:-3px; margin-top: 15px;">
                <div style="  -webkit-box-pack: center;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center;
              " class="input-group">


                    <md-autocomplete ng-show="choice==0" style="background: #fafafa;
    border: solid 1px #dbdbdb;
  
    
    text-align: center;color:black" md-clear-button md-selected-item="vm.selectedItem" md-search-text="vm.searchText" md-items="item in querySearch(vm.searchText)"
                        md-item-text="item.title" md-delay="300" md-menu-class="autocomplete-custom-template" placeholder="{{'global.menu.find' | translate}}">
                        <md-item-template>
                            <div ng-show="item.category.id==1101||choice==1" style="background:white;color:black;border:1px solid #daa520;padding:3px;width:100%"
                                ng-click="openDetails(item)" layout="row" class="item" layout-align="start center">

                                <img ng-src="{{item.mediumImage}}" style="vertical-align: middle" height="50px" width="auto" /> &nbsp;&nbsp;
                                <span style="font-family: 'Amiri', serif;font-size:12px;display:inline-block;" md-highlight-text="vm.searchText">{{item.title | limitTo : 30}}</span>
                                <span ng-show="item.title.length>30"> .. </span>
                            </div>
                            <div ng-show="item.category.id==1102||choice==2" style="background:black;color:white;border:1px solid darkred;padding:3px;width:100%"
                                ng-click="openDetails(item)" layout="row" class="item" layout-align="start center">

                                <img ng-src="{{item.mediumImage}}" style="vertical-align: middle" height="50px" width="auto" /> &nbsp;&nbsp;
                                <span style="font-family: 'Share Tech Mono', monospace;font-size:10px;display:inline-block;" md-highlight-text="vm.searchText">{{item.title | limitTo : 30}}</span>
                                <span ng-show="item.title.length>30"> .. </span>
                            </div>

                        </md-item-template>
                        <md-not-found>
                            <div ng-show="vm.account!=null" style="padding:3px;width:100%;height:auto" layout="row" class="item" layout-align="start center"
                                ng-click="showConfirm4($event)">
                                <span ng-hide="isArab" style="font-size:10px;">{{'global.modal.notFound' | translate}}.
                                    <a style="color:#3498db;">{{'global.modal.add' | translate}}</a>
                                </span>
                                <span ng-show="isArab" dir="rtl" style="font-size:10px;">{{'global.modal.notFound' | translate}}.
                                    <a style="color:#3498db;">{{'global.modal.add' | translate}}</a>
                                </span>
                            </div>

                        </md-not-found>
                    </md-autocomplete>
                    <md-autocomplete ng-show="choice==1" style="background: #fafafa;
                    border: solid 1px #dbdbdb;
                  
                    
                    text-align: center;color:black" md-clear-button md-selected-item="vm.selectedItem" md-search-text="vm.searchText"
                        md-items="item in querySearch(vm.searchText)" md-item-text="item.title" md-delay="300" md-menu-class="autocomplete-custom-template"
                        placeholder="{{'global.menu.findb' | translate}}">
                        <md-item-template>
                            <div ng-show="item.category.id==1101" style="background:white;color:black;border:1px solid #daa520;padding:3px;width:100%"
                                ng-click="openDetails(item)" layout="row" class="item" layout-align="start center">

                                <img ng-src="{{item.mediumImage}}" style="vertical-align: middle" height="50px" width="auto" /> &nbsp;&nbsp;
                                <span style="font-family: 'Amiri', serif;font-size:12px;display:inline-block;" md-highlight-text="vm.searchText">{{item.title | limitTo : 30}}</span>
                                <span ng-show="item.title.length>30"> .. </span>
                            </div>

                        </md-item-template>
                        <md-not-found>
                            <div ng-show="vm.account!=null" style="padding:3px;width:100%;height:auto" layout="row" class="item" layout-align="start center"
                                ng-click="showConfirm4($event)">
                                <span ng-hide="isArab" style="font-size:10px;">{{'global.modal.notFound' | translate}}.
                                    <a style="color:#3498db;">{{'global.modal.add' | translate}}</a>
                                </span>
                                <span ng-show="isArab" dir="rtl" style="font-size:10px;">{{'global.modal.notFound' | translate}}.
                                    <a style="color:#3498db;">{{'global.modal.add' | translate}}</a>
                                </span>
                            </div>

                        </md-not-found>
                    </md-autocomplete>
                    <md-autocomplete ng-show="choice==2" style="background: #fafafa;
                    border: solid 1px #dbdbdb;
                  
                    
                    text-align: center;color:black" md-clear-button md-selected-item="vm.selectedItem" md-search-text="vm.searchText"
                        md-items="item in querySearch(vm.searchText)" md-item-text="item.title" md-delay="300" md-menu-class="autocomplete-custom-template"
                        placeholder="{{'global.menu.findg' | translate}}">
                        <md-item-template>
                            <div ng-show="item.category.id==1102" style="background:black;color:white;border:1px solid darkred;padding:3px;width:100%"
                                ng-click="openDetails(item)" layout="row" class="item" layout-align="start center">

                                <img ng-src="{{item.mediumImage}}" style="vertical-align: middle" height="50px" width="auto" /> &nbsp;&nbsp;
                                <span style="font-family: 'Share Tech Mono', monospace;font-size:10px;display:inline-block;" md-highlight-text="vm.searchText">{{item.title | limitTo : 30}}</span>
                                <span ng-show="item.title.length>30"> .. </span>
                            </div>
                        </md-item-template>
                        <md-not-found>
                            <div ng-show="vm.account!=null" style="padding:3px;width:100%;height:auto" layout="row" class="item" layout-align="start center"
                                ng-click="showConfirm4($event)">
                                <span ng-hide="isArab" style="font-size:10px;">{{'global.modal.notFound' | translate}}.
                                    <a style="color:#3498db;">{{'global.modal.add' | translate}}</a>
                                </span>
                                <span ng-show="isArab" dir="rtl" style="font-size:10px;">{{'global.modal.notFound' | translate}}.
                                    <a style="color:#3498db;">{{'global.modal.add' | translate}}</a>
                                </span>
                            </div>

                        </md-not-found>
                    </md-autocomplete>
                    <md-autocomplete ng-show="choice==3" style="background: #fafafa;
                    border: solid 1px #dbdbdb; text-align: center;color:black" md-clear-button md-selected-item="selectedItem"
                        md-no-cache="true" md-search-text="searchText" md-items="item in queryProfileSearch(searchText)" md-item-text="item.pseudo"
                        md-delay="300" md-menu-class="autocomplete-custom-template" placeholder="{{'global.menu.findp' | translate}}">
                        <md-item-template>
                            <div ng-click="goToProfile(item)" style="background:white;color:black;border:1px solid #0690CF;padding:3px;width:100%" layout="row"
                                class="item" layout-align="start center">

                                <img ng-src="{{item.mediumImage}}" style="vertical-align: middle;border-radius:30%" height="50px" width="auto" /> &nbsp;&nbsp;
                                <span style="font-size:14px;display:inline-block;text-align:center" md-highlight-text="vm.searchText">{{item.firstName}} {{item.lastName}}</span>

                            </div>
                        </md-item-template>

                    </md-autocomplete>
                    <div class="input-group-btn search-panel" style="vertical-align: middle;height: 34px;">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span id="search_concept">{{'global.menu.options' | translate}}</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a ng-click="onlyBooks()">{{'global.menu.books' | translate}}</a>
                            </li>
                            <li>
                                <a ng-click="onlyGames()">{{'global.menu.games' | translate}}</a>
                            </li>
                            <li>
                                <a ng-click="tnasnis()">{{'global.menu.people' | translate}}</a>
                            </li>

                        </ul>
                    </div>

                </div>

            </li>


            <li ng-hide="vm.account != null" style="margin-left:-14px; margin-top: 15px;">
                <div style="  -webkit-box-pack: center;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center;
              " class="input-group">


                    <md-autocomplete ng-disabled="true" ng-click="showConfirm2($event)" style="background: #fafafa;
    border: solid 1px #dbdbdb;
  
    
    text-align: center;color:black" md-clear-button md-selected-item="vm.selectedItem" md-search-text="vm.searchText" md-items="item in querySearch(vm.searchText)"
                        md-item-text="item.title" md-delay="300" md-menu-class="autocomplete-custom-template" placeholder="{{'global.menu.find' | translate}}">
                        <md-item-template>
                            <div ng-show="item.category.id==1101||choice==1" style="background:white;color:black;border:1px solid #daa520;padding:3px;width:100%"
                                ng-click="openDetails(item)" layout="row" class="item" layout-align="start center">

                                <img ng-src="{{item.mediumImage}}" style="vertical-align: middle" height="50px" width="auto" /> &nbsp;&nbsp;
                                <span style="font-family: 'Amiri', serif;font-size:12px;display:inline-block;" md-highlight-text="vm.searchText">{{item.title | limitTo : 30}}</span>
                                <span ng-show="item.title.length>30"> .. </span>
                            </div>
                            <div ng-show="item.category.id==1102||choice==2" style="background:black;color:white;border:1px solid darkred;padding:3px;width:100%"
                                ng-click="openDetails(item)" layout="row" class="item" layout-align="start center">

                                <img ng-src="{{item.mediumImage}}" style="vertical-align: middle" height="50px" width="auto" /> &nbsp;&nbsp;
                                <span style="font-family: 'Share Tech Mono', monospace;font-size:10px;display:inline-block;" md-highlight-text="vm.searchText">{{item.title | limitTo : 30}}</span>
                                <span ng-show="item.title.length>30"> .. </span>
                            </div>

                        </md-item-template>
                        <md-not-found>
                            <div ng-show="vm.account!=null" style="padding:3px;width:100%;height:auto" layout="row" class="item" layout-align="start center"
                                ng-click="showConfirm4($event)">
                                <span ng-hide="isArab" style="font-size:10px;">{{'global.modal.notFound' | translate}}.
                                    <a style="color:#3498db;">{{'global.modal.add' | translate}}</a>
                                </span>
                                <span ng-show="isArab" dir="rtl" style="font-size:10px;">{{'global.modal.notFound' | translate}}.
                                    <a style="color:#3498db;">{{'global.modal.add' | translate}}</a>
                                </span>
                            </div>

                        </md-not-found>
                    </md-autocomplete>

                    <div class="input-group-btn search-panel" style="vertical-align: middle;height: 34px;">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span id="search_concept">{{'global.menu.options' | translate}}</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a ng-click="onlyBooks()">{{'global.menu.books' | translate}}</a>
                            </li>
                            <li>
                                <a ng-click="onlyGames()">{{'global.menu.games' | translate}}</a>
                            </li>
                            <li>
                                <a ng-click="tnasnis()">{{'global.menu.people' | translate}}</a>
                            </li>

                        </ul>
                    </div>

                </div>

            </li>

            <li tooltip-animation="false" tooltip-placement="bottom" uib-tooltip="{{'global.menu.books' | translate}}" style="margin-left:10px"
                class="nav-item hidden-md" ui-sref-active="active">
                <a aria-label="books" class="nav-link" href="" ui-sref="books" id="book">
                    <i class="ion-ios-bookmarks-outline"></i>
                    <!--<img alt="books" style="vertical-align:middle" src="content/images/open-book.svg" height="30px" />-->

                </a>
            </li>
            <li tooltip-animation="false" tooltip-placement="bottom" uib-tooltip="{{'global.menu.games' | translate}}" style="margin-left:10px"
                class="nav-item hidden-md" ui-sref-active="active">
                <a aria-label="games" class="nav-link" href="" ui-sref="gaming" id="gaming">
                    <i class="ion-ios-game-controller-b-outline"></i>
                    <!-- <img alt="video_games" style="vertical-align:middle" src="content/images/gamepad.svg" width="30px" />-->
                </a>
            </li>
            <li class="nav-item hidden-md ">
                <div style="width:7em"></div>
            </li>
            <li tooltip-animation="false" tooltip-placement="bottom" uib-tooltip="{{'global.menu.profile' | translate}}" ng-show="vm.theImage===1"
                class="nav-item " ng-switch-when="true">
                <div ui-sref="profile-detail({pseudo:vm.account.profile.pseudo}) " class="profileLink2 row ">

                    <div class="col-lg-4 " style=" padding-bottom: 0px ">
                        <img ng-show="vm.account.profile.thumbnailImage!=null||!notFound" style="height: auto; width: 40px;margin-top:5px; border-radius: 15px; display: flex;justify-content: center; padding: 5px; filter: grayscale(100%);vertical-align:middle "
                            ng-src="{{vm.account.profile.thumbnailImage}} " />
                        <img ng-show="vm.account.profile.thumbnailImage===null||notFound" style="height: auto; width: 40px;margin-top: -8px;; border-radius: 15px; display: flex;justify-content: center; padding: 5px; filter: grayscale(100%);vertical-align:middle "
                            src="content/images/comm_user.jpg" />

                    </div>
                    <div style=" display: flex; align-items: center;margin-top:5px; " class="col-lg-8 ">
                        {{vm.account.profile.firstName}}
                    </div>

                </div>
            </li>
            <li tooltip-animation="false" tooltip-placement="right" uib-tooltip="{{'global.menu.messages' | translate}}" class="nav-item "
                ui-sref-active="active" ng-switch-when="true" uib-dropdown class="dropdown pointer">
                <a aria-label="unsmessage" class="dropdown-toggle nav-link" uib-dropdown-toggle href=""
                    ng-click="showFriends=1" id="notifMessages" style="position: relative">
                    <img alt="message" style="vertical-align:middle" src="content/images/paper-plane.svg" width="20px" />&nbsp;
                    <span ng-show="unseenMessages.length>0" class="notification-counter">{{unseenMessages.length}}</span>

                </a>
                <ul id="notif" style="width:20vw;left: -300%;  max-height:60vh;overflow-y: auto;" class="dropdown-menu" uib-dropdown-menu>
                    <li ng-repeat="talker in talkers | orderBy :'-creationDate'">
                        <a aria-label="talkto" ng-click="talkTo(talker.profile)">
                            <div class="row">
                                <div class="col-2">
                                    <img width="30px" style="border-radius: 50%;
                                    vertical-align: middle;margin-top:100%" height="auto" ng-src="{{talker.profile.mediumImage}}"
                                    />
                                </div>
                                <div class="col-10">
                                    <strong style="font-weight:bold">{{talker.profile.firstName}} {{talker.profile.lastName}}</strong>
                                    <br>
                                    <small >{{talker.message.content.substring(0, 30)}} </small>
                                    <small  ng-show="talker.message.content.length>30">...</small>
                                    <span class="badge" style="    font-size: 9px;
                                    float: right;
                                    border-radius: 30px;
                                    background: #3498db;" ng-show="talker.unseen>0">{{talker.unseen}}</span>
                                </div>
                            </div>

                        </a>
                    </li>
                    <li><a style="text-align: center" href="#" ui-sref="message">Go to Chat page</a></li>
                </ul>
            </li>
            <li tooltip-animation="false" tooltip-placement="bottom" uib-tooltip="{{'global.menu.matching' | translate}}" class="nav-item "
                ui-sref-active="active" ng-switch-when="true" uib-dropdown class="dropdown pointer">
                <a aria-label="match" ng-disabled="waitingMatching.length===0" class="dropdown-toggle nav-link" uib-dropdown-toggle href=""
                    id="notifsMatching" style="position: relative">
                    <img style="vertical-align:middle" src="content/images/infinite.svg" height="20px" />
                    <span ng-show="waitingMatching.length>0" class="notification-counter">{{waitingMatching.length}}</span>
                </a>
                <ul id="notif" style="width:20vw; max-height:60vh;overflow-y: auto;
" class="dropdown-menu " uib-dropdown-menu>
                    <li ng-repeat="matched in waitingMatching track by $index" ui-sref-active="active">
                        <a ng-click="openMatching(matched)">
                            <center>
                                <span ng-hide="isArab" style="font-family: 'Open Sans', sans-serif;padding-bottom:10px;vertical-align: text-top;">
                                    {{'global.notif.matching' | translate}}
                                    <strong style="font-weight:bold">{{matched.theOtherOne.firstName}} {{matched.theOtherOne.lastName}}</strong>
                                </span>
                                <span dir="rtl" ng-show="isArab" style="font-family: 'Open Sans', sans-serif;padding-bottom:10px;vertical-align: text-top;">
                                    {{'global.notif.matching' | translate}}
                                    <strong style="font-weight:bold">{{matched.theOtherOne.firstName}} {{matched.theOtherOne.lastName}}</strong>
                                </span>
                            </center>
                            <br>
                            <div class="row">
                                <div class="col-4" style="padding:0px">
                                    <img tooltip-animation="false" tooltip-placement="bottom" uib-tooltip="{{matched.wanted.title}} " class="center-me" class="center-me"
                                        width="80px" height="auto" ng-src="{{matched.wanted.thumbnailImage}}">
                                </div>
                                <div class="col-4" style="padding:0px">
                                    <center>
                                        <h1>
                                            <i class="fa fa-exchange" aria-hidden="true"></i>
                                        </h1>
                                    </center>
                                </div>
                                <div class="col-4" style="padding:0px">
                                    <img tooltip-animation="false" tooltip-placement="bottom" uib-tooltip="{{matched.owned.title}} " class="center-me" width="80px"
                                        height="auto" ng-src="{{matched.owned.thumbnailImage}}">
                                </div>
                            </div>
                            <div>
                                <center>
                                    <small ng-show="matched.distance===0&&!isArab">{{'global.notif.same' | translate}}</small>
                                    <small dir="rtl" ng-show="matched.distance===0&&isArab">{{'global.notif.same' | translate}}</small>
                                    <small ng-hide="isArab" ng-show="matched.distance!=0">{{matched.distance |number:0}} {{'global.notif.distances' | translate}}</small>
                                    <small dir="rtl" ng-show="matched.distance!=0&&isArab">{{matched.distance |number:0}} {{'global.notif.distances' | translate}}</small>
                                </center>
                            </div>

                        </a>
                    </li>

                </ul>
            </li>

            <li tooltip-animation="false" tooltip-placement="bottom" uib-tooltip="{{'global.menu.account.logout' | translate}}" style="margin-top:5px; float:right;"
                class="nav-item " ui-sref-active="active" ng-show="vm.account">
                <a aria-label="logout" class="nav-link" href="" ng-click="vm.logout()" id="logout">
                    <i class="ion-log-out" style="font-size: 20px;"></i>
                    <!--<img alt="Logout" style="vertical-align:middle" src="content/images/logout.svg" height="20px" />-->
                </a>
            </li>
            <li tooltip-animation="false" tooltip-placement="bottom" uib-tooltip="{{'global.menu.account.login' | translate}}" style="margin-top:5px; float:right;"
                class="nav-item " ui-sref-active="active" ng-hide="vm.account">
                <a aria-label="auth" class="nav-link" href="/#auth" id="login">

                    <img alt="Login" style="vertical-align:middle" src="content/images/login.svg" height="20px" />
                    <span data-translate="global.menu.account.login" style="display:inline;">Sign in</span>
                </a>
            </li>
            <li tooltip-animation="false" tooltip-placement="right" uib-tooltip="{{'global.menu.language' | translate}}" class="nav-item"
                style="float: right;
            margin-top: 5px;
            margin-left: 80px;" ui-sref-active="active" uib-dropdown class="dropdown pointer" ng-controller="JhiLanguageController as languageVm">
                <a class="dropdown-toggle nav-link" uib-dropdown-toggle href="" ng-if="languageVm.languages.length > 1">
                    <i class="ion-ios-world-outline" style="font-size: 25px;"></i>
                    <!-- <img alt="language" style="vertical-align:middle" src="content/images/translator.svg" width="20px" />-->&nbsp;
                </a>
                <ul style="width:20vw;  max-height:80vh;font-weight:bold" class="dropdown-menu" uib-dropdown-menu>
                    <li ng-hide="isArab">
                        <a href="" ng-click="languageVm.changeLanguage('ar-ly');vm.collapseNavbar();">{{'global.ar' | translate}}</a>
                    </li>
                    <li ng-show="isArab" style="background:#dbdbdb;">
                        <a href="" ng-click="languageVm.changeLanguage('ar-ly');vm.collapseNavbar();">{{'global.ar' | translate}}</a>
                    </li>
                    <li ng-hide="isEng">
                        <a href="" ng-click="languageVm.changeLanguage('en');vm.collapseNavbar();">{{'global.en'| translate}}</a>
                    </li>
                    <li ng-show="isEng" style="background:#dbdbdb;">
                        <a href="" ng-click="languageVm.changeLanguage('en');vm.collapseNavbar();">{{'global.en'| translate}}</a>
                    </li>
                    <li ng-hide="isFr">
                        <a href="" ng-click="languageVm.changeLanguage('fr');vm.collapseNavbar();">{{'global.fr' | translate}}</a>
                    </li>
                    <li ng-show="isFr" style="background:#dbdbdb;">
                        <a href="" ng-click="languageVm.changeLanguage('fr');vm.collapseNavbar();">{{'global.fr' | translate}}</a>
                    </li>

                </ul>
            </li>





        </ul>







    </div>
</nav>

<nav ng-show="gamingMode" class="navbar navbar-toggleable-md  bg-black  fixed-top" style="position :fixed;">
    <button ng-click="toggleLeft()" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span style="color:white" class="fa fa-bars"></span>
    </button>
    <a aria-label="logo" class="navbar-brand logo" href="/" ng-click="vm.collapseNavbar()">
        <img class="logo-img" src="content/images/red-net.png" width="auto" height="70px" alt="logo" />
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" ng-switch="vm.isAuthenticated()">
        <ul class="navbar-nav mr-auto hidden-lg-down">
            <li ng-show="vm.account != null" style="margin-left:-3px; margin-top: 15px;">
                <div style="  -webkit-box-pack: center;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center;
              " class="input-group">


                    <md-autocomplete ng-show="choice==0" style="background: #fafafa;
    border: solid 1px #dbdbdb;
  
    
    text-align: center;color:black" md-clear-button md-selected-item="vm.selectedItem" md-search-text="vm.searchText" md-items="item in querySearch(vm.searchText)"
                        md-item-text="item.title" md-delay="300" md-menu-class="autocomplete-custom-template" placeholder="{{'global.menu.find' | translate}}">
                        <md-item-template>
                            <div ng-show="item.category.id==1101||choice==1" style="background:white;color:black;border:1px solid #daa520;padding:3px;width:100%"
                                ng-click="openDetails(item)" layout="row" class="item" layout-align="start center">

                                <img ng-src="{{item.mediumImage}}" style="vertical-align: middle" height="50px" width="auto" /> &nbsp;&nbsp;
                                <span style="font-family: 'Amiri', serif;font-size:12px;display:inline-block;" md-highlight-text="vm.searchText">{{item.title | limitTo : 30}}</span>
                                <span ng-show="item.title.length>30"> .. </span>
                            </div>
                            <div ng-show="item.category.id==1102||choice==2" style="background:black;color:white;border:1px solid darkred;padding:3px;width:100%"
                                ng-click="openDetails(item)" layout="row" class="item" layout-align="start center">

                                <img ng-src="{{item.mediumImage}}" style="vertical-align: middle" height="50px" width="auto" /> &nbsp;&nbsp;
                                <span style="font-family: 'Share Tech Mono', monospace;font-size:10px;display:inline-block;" md-highlight-text="vm.searchText">{{item.title | limitTo : 30}}</span>
                                <span ng-show="item.title.length>30"> .. </span>
                            </div>

                        </md-item-template>
                        <md-not-found>
                            <div ng-show="vm.account!=null" style="padding:3px;width:100%;height:auto" layout="row" class="item" layout-align="start center"
                                ng-click="showConfirm4($event)">
                                <span ng-hide="isArab" style="font-size:10px;">{{'global.modal.notFound' | translate}}.
                                    <a style="color:#3498db;">{{'global.modal.add' | translate}}</a>
                                </span>
                                <span ng-show="isArab" dir="rtl" style="font-size:10px;">{{'global.modal.notFound' | translate}}.
                                    <a style="color:#3498db;">{{'global.modal.add' | translate}}</a>
                                </span>
                            </div>

                        </md-not-found>
                    </md-autocomplete>
                    <md-autocomplete ng-show="choice==1" style="background: #fafafa;
                    border: solid 1px #dbdbdb;
                  
                    
                    text-align: center;color:black" md-clear-button md-selected-item="vm.selectedItem" md-search-text="vm.searchText"
                        md-items="item in querySearch(vm.searchText)" md-item-text="item.title" md-delay="300" md-menu-class="autocomplete-custom-template"
                        placeholder="{{'global.menu.findb' | translate}}">
                        <md-item-template>
                            <div ng-show="item.category.id==1101" style="background:white;color:black;border:1px solid #daa520;padding:3px;width:100%"
                                ng-click="openDetails(item)" layout="row" class="item" layout-align="start center">

                                <img ng-src="{{item.mediumImage}}" style="vertical-align: middle" height="50px" width="auto" /> &nbsp;&nbsp;
                                <span style="font-family: 'Amiri', serif;font-size:12px;display:inline-block;" md-highlight-text="vm.searchText">{{item.title | limitTo : 30}}</span>
                                <span ng-show="item.title.length>30"> .. </span>
                            </div>

                        </md-item-template>
                        <md-not-found>
                            <div ng-show="vm.account!=null" style="padding:3px;width:100%;height:auto" layout="row" class="item" layout-align="start center"
                                ng-click="showConfirm4($event)">
                                <span ng-hide="isArab" style="font-size:10px;">{{'global.modal.notFound' | translate}}.
                                    <a style="color:#3498db;">{{'global.modal.add' | translate}}</a>
                                </span>
                                <span ng-show="isArab" dir="rtl" style="font-size:10px;">{{'global.modal.notFound' | translate}}.
                                    <a style="color:#3498db;">{{'global.modal.add' | translate}}</a>
                                </span>
                            </div>

                        </md-not-found>
                    </md-autocomplete>
                    <md-autocomplete ng-show="choice==2" style="background: #fafafa;
                    border: solid 1px #dbdbdb;
                  
                    
                    text-align: center;color:black" md-clear-button md-selected-item="vm.selectedItem" md-search-text="vm.searchText"
                        md-items="item in querySearch(vm.searchText)" md-item-text="item.title" md-delay="300" md-menu-class="autocomplete-custom-template"
                        placeholder="{{'global.menu.findg' | translate}}">
                        <md-item-template>
                            <div ng-show="item.category.id==1102" style="background:black;color:white;border:1px solid darkred;padding:3px;width:100%"
                                ng-click="openDetails(item)" layout="row" class="item" layout-align="start center">

                                <img ng-src="{{item.mediumImage}}" style="vertical-align: middle" height="50px" width="auto" /> &nbsp;&nbsp;
                                <span style="font-family: 'Share Tech Mono', monospace;font-size:10px;display:inline-block;" md-highlight-text="vm.searchText">{{item.title | limitTo : 30}}</span>
                                <span ng-show="item.title.length>30"> .. </span>
                            </div>
                        </md-item-template>
                        <md-not-found>
                            <div ng-show="vm.account!=null" style="padding:3px;width:100%;height:auto" layout="row" class="item" layout-align="start center"
                                ng-click="showConfirm4($event)">
                                <span ng-hide="isArab" style="font-size:10px;">{{'global.modal.notFound' | translate}}.
                                    <a style="color:#3498db;">{{'global.modal.add' | translate}}</a>
                                </span>
                                <span ng-show="isArab" dir="rtl" style="font-size:10px;">{{'global.modal.notFound' | translate}}.
                                    <a style="color:#3498db;">{{'global.modal.add' | translate}}</a>
                                </span>
                            </div>

                        </md-not-found>
                    </md-autocomplete>
                    <md-autocomplete ng-show="choice==3" style="background: #fafafa;
                    border: solid 1px #dbdbdb; text-align: center;color:black" md-no-cache="true" md-clear-button md-selected-item="selectedItem"
                        md-search-text="searchText" md-items="item in queryProfileSearch(searchText)" md-item-text="item.pseudo"
                        md-delay="300" md-menu-class="autocomplete-custom-template" placeholder="{{'global.menu.findp' | translate}}">
                        <md-item-template>
                            <div ng-click="goToProfile(item)" style="background:white;color:black;border:1px solid #0690CF;padding:3px;width:100%" layout="row"
                                class="item" layout-align="start center">

                                <img ng-src="{{item.mediumImage}}" style="vertical-align: middle;border-radius:30%" height="50px" width="auto" /> &nbsp;&nbsp;
                                <span style="font-size:14px;display:inline-block;text-align:center" md-highlight-text="searchText">{{item.firstName}} {{item.lastName}}</span>

                            </div>
                        </md-item-template>

                    </md-autocomplete>
                    <div class="input-group-btn search-panel" style="vertical-align: middle;height: 34px;">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="background: black;
                        border: 1px solid darkred;
                        color: white;">
                            <span id="search_concept">{{'global.menu.options' | translate}}</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" style="background: black;
                        border: 1px solid darkred;
                        color: white;">
                            <li>
                                <a ng-click="onlyBooks()">{{'global.menu.books' | translate}}</a>
                            </li>
                            <li>
                                <a ng-click="onlyGames()">{{'global.menu.games' | translate}}</a>
                            </li>
                            <li>
                                <a ng-click="tnasnis()">{{'global.menu.people' | translate}}</a>
                            </li>

                        </ul>
                    </div>

                </div>

            </li>
            <li ng-hide="vm.account != null" style="margin-left:-14px; margin-top: 15px;">
                <div style="  -webkit-box-pack: center;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center;
              " class="input-group">


                    <md-autocomplete ng-disabled="true" ng-click="showConfirm2($event)" style="background: #fafafa;
    border: solid 1px #dbdbdb;
  
    
    text-align: center;color:black" md-clear-button md-selected-item="vm.selectedItem" md-search-text="vm.searchText" md-items="item in querySearch(vm.searchText)"
                        md-item-text="item.title" md-delay="300" md-menu-class="autocomplete-custom-template" placeholder="{{'global.menu.find' | translate}}">
                        <md-item-template>
                            <div ng-show="item.category.id==1101||choice==1" style="background:white;color:black;border:1px solid #daa520;padding:3px;width:100%"
                                ng-click="openDetails(item)" layout="row" class="item" layout-align="start center">

                                <img ng-src="{{item.mediumImage}}" style="vertical-align: middle" height="50px" width="auto" /> &nbsp;&nbsp;
                                <span style="font-family: 'Amiri', serif;font-size:12px;display:inline-block;" md-highlight-text="vm.searchText">{{item.title | limitTo : 30}}</span>
                                <span ng-show="item.title.length>30"> .. </span>
                            </div>
                            <div ng-show="item.category.id==1102||choice==2" style="background:black;color:white;border:1px solid darkred;padding:3px;width:100%"
                                ng-click="openDetails(item)" layout="row" class="item" layout-align="start center">

                                <img ng-src="{{item.mediumImage}}" style="vertical-align: middle" height="50px" width="auto" /> &nbsp;&nbsp;
                                <span style="font-family: 'Share Tech Mono', monospace;font-size:10px;display:inline-block;" md-highlight-text="vm.searchText">{{item.title | limitTo : 30}}</span>
                                <span ng-show="item.title.length>30"> .. </span>
                            </div>

                        </md-item-template>
                        <md-not-found>
                            <div ng-show="vm.account!=null" style="padding:3px;width:100%;height:auto" layout="row" class="item" layout-align="start center"
                                ng-click="showConfirm4($event)">
                                <span ng-hide="isArab" style="font-size:10px;">{{'global.modal.notFound' | translate}}.
                                    <a style="color:#3498db;">{{'global.modal.add' | translate}}</a>
                                </span>
                                <span ng-show="isArab" dir="rtl" style="font-size:10px;">{{'global.modal.notFound' | translate}}.
                                    <a style="color:#3498db;">{{'global.modal.add' | translate}}</a>
                                </span>
                            </div>

                        </md-not-found>
                    </md-autocomplete>

                    <div class="input-group-btn search-panel" style="vertical-align: middle;height: 34px;">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="background: black;
                        border: 1px solid darkred;
                        color: white;">
                            <span id="search_concept">{{'global.menu.options' | translate}}</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a ng-click="onlyBooks()">{{'global.menu.books' | translate}}</a>
                            </li>
                            <li>
                                <a ng-click="onlyGames()">{{'global.menu.games' | translate}}</a>
                            </li>
                            <li>
                                <a ng-click="tnasnis()">{{'global.menu.people' | translate}}</a>
                            </li>

                        </ul>
                    </div>

                </div>

            </li>





            <li tooltip-animation="false" tooltip-placement="bottom" uib-tooltip="{{'global.menu.books' | translate}}" style="margin-left:10px"
                class="nav-link-game hidden-md" ui-sref-active="active">
                <a aria-label="books" class="nav-link" href="" ui-sref="books" id="book">
                    <i class="ion-ios-bookmarks"></i>
                    <!--<img alt="books" style="vertical-align:middle" src="content/images/open-book.svg" height="30px" />-->

                </a>
            </li>
            <li tooltip-animation="false" tooltip-placement="bottom" uib-tooltip="{{'global.menu.games' | translate}}" style="margin-left:10px"
                class="nav-link-game  hidden-md" ui-sref-active="active">
                <a aria-label="games" class="nav-link" href="" ui-sref="gaming" id="gaming">
                    <i class="ion-ios-game-controller-b"></i>
                    <!-- <img alt="video_games" style="vertical-align:middle" src="content/images/gamepad.svg" width="30px" />-->
                </a>
            </li>


            <li class="nav-item hidden-md ">
                <div style="width:7em"></div>
            </li>
            <li tooltip-animation="false" tooltip-placement="bottom" uib-tooltip="{{'global.menu.profile' | translate}}" ng-show="vm.theImage===1"
                class="nav-item hidden-md" ng-switch-when="true">
                <div ui-sref="profile-detail({pseudo:vm.account.profile.pseudo}) " class="profileLink2 row ">

                    <div class="col-lg-4 " style=" padding-bottom: 0px ">
                        <img ng-show="vm.account.profile.thumbnailImage!=null||!notFound" style="height: auto; width: 40px;margin-top:5px; border-radius: 15px; display: flex;justify-content: center; padding: 5px; filter: grayscale(100%);vertical-align:middle "
                            ng-src="{{vm.account.profile.thumbnailImage}} " />
                        <img ng-show="vm.account.profile.thumbnailImage===null||notFound" style="height: auto; width: 40px;margin-top: -8px;; border-radius: 15px; display: flex;justify-content: center; padding: 5px; filter: grayscale(100%);vertical-align:middle "
                            src="content/images/comm_user.jpg" />

                    </div>
                    <div style=" display: flex; align-items: center;margin-top:5px;color:white " class="col-lg-8 ">
                        {{vm.account.profile.firstName}}
                    </div>

                </div>
            </li>
            <li tooltip-animation="false" tooltip-placement="right" uib-tooltip="{{'global.menu.messages' | translate}}" class="nav-item "
                ui-sref-active="active" ng-switch-when="true" uib-dropdown class="dropdown pointer hidden-md">
                <a aria-label="unsmessage" class="dropdown-toggle nav-link" uib-dropdown-toggle href="" ng-click="showFriends=1" id="notifMessages"
                    style="position: relative">
                    <img alt="message" style="vertical-align:middle" src="content/images/paper-plane-dark.svg" width="20px" />&nbsp;
                    <span ng-show="unseenMessages.length>0" class="notification-counter">{{unseenMessages.length}}</span>

                </a>
                <ul id="notif" style="width:20vw;left: -300%;  max-height:60vh;overflow-y: auto;" class="dropdown-menu" uib-dropdown-menu>
                    <li ng-repeat="talker in talkers | orderBy :'-creationDate'">
                        <a aria-label="talkto" ng-click="talkTo(talker.profile)">
                            <div class="row">
                                <div class="col-2">
                                    <img width="30px" style="border-radius: 50%;
                                    vertical-align: middle;margin-top:100%" height="auto" ng-src="{{talker.profile.mediumImage}}"
                                    />
                                </div>
                                <div class="col-10">
                                    <strong style="font-weight:bold">{{talker.profile.firstName}} {{talker.profile.lastName}}</strong>
                                    <br>
                                    <small>{{talker.message.content.substring(0, 30)}} </small>
                                    <small ng-show="talker.message.content.length>30">...</small>
                                    <span class="badge" style="    font-size: 9px;
                                    float: right;
                                    border-radius: 30px;
                                    background: darkred;" ng-show="talker.unseen>0">{{talker.unseen}}</span>
                                </div>
                            </div>

                        </a>
                    </li>
                    <li><a style="text-align: center" href="#" ui-sref="message">Go to Chat page</a></li>
                </ul>
            </li>
            <li tooltip-animation="false" tooltip-placement="bottom" uib-tooltip="{{'global.menu.matching' | translate}}" class="nav-item "
                ui-sref-active="active" ng-switch-when="true" uib-dropdown class="dropdown pointer">
                <a aria-label="match" ng-disabled="waitingMatching.length===0" class="dropdown-toggle nav-link" uib-dropdown-toggle href=""
                    id="notifsMatching" style="position: relative">
                    <img style="vertical-align:middle" src="content/images/infinite-dark.svg" height="20px" />
                    <span ng-show="waitingMatching.length>0" class="notification-counter">{{waitingMatching.length}}</span>
                </a>
                <ul id="notif" style="width:20vw; max-height:60vh;overflow-y: auto;
" class="dropdown-menu " uib-dropdown-menu>
                    <li ng-repeat="matched in waitingMatching track by $index" ui-sref-active="active">
                        <a ng-click="openMatching(matched)">
                            <center>
                                <span ng-hide="isArab" style="font-family: 'Open Sans', sans-serif;padding-bottom:10px;vertical-align: text-top;">
                                    {{'global.notif.matching' | translate}}
                                    <strong style="font-weight:bold">{{matched.theOtherOne.firstName}} {{matched.theOtherOne.lastName}}</strong>
                                </span>
                                <span dir="rtl" ng-show="isArab" style="font-family: 'Open Sans', sans-serif;padding-bottom:10px;vertical-align: text-top;">
                                    {{'global.notif.matching' | translate}}
                                    <strong style="font-weight:bold">{{matched.theOtherOne.firstName}} {{matched.theOtherOne.lastName}}</strong>
                                </span>
                            </center>
                            <br>
                            <div class="row">
                                <div class="col-4" style="padding:0px">
                                    <img tooltip-animation="false" tooltip-placement="bottom" uib-tooltip="{{matched.wanted.title}} " class="center-me" class="center-me"
                                        width="80px" height="auto" ng-src="{{matched.wanted.thumbnailImage}}">
                                </div>
                                <div class="col-4" style="padding:0px">
                                    <center>
                                        <h1>
                                            <i class="fa fa-exchange" aria-hidden="true"></i>
                                        </h1>
                                    </center>
                                </div>
                                <div class="col-4" style="padding:0px">
                                    <img tooltip-animation="false" tooltip-placement="bottom" uib-tooltip="{{matched.owned.title}} " class="center-me" width="80px"
                                        height="auto" ng-src="{{matched.owned.thumbnailImage}}">
                                </div>
                            </div>
                            <div>
                                <center>
                                    <small ng-show="matched.distance===0&&!isArab">{{'global.notif.same' | translate}}</small>
                                    <small dir="rtl" ng-show="matched.distance===0&&isArab">{{'global.notif.same' | translate}}</small>
                                    <small ng-hide="isArab" ng-show="matched.distance!=0">{{matched.distance |number:0}} {{'global.notif.distances' | translate}}</small>
                                    <small dir="rtl" ng-show="matched.distance!=0&&isArab">{{matched.distance |number:0}} {{'global.notif.distances' | translate}}</small>
                                </center>
                            </div>

                        </a>
                    </li>

                </ul>
            </li>

            <li tooltip-animation="false" tooltip-placement="bottom" uib-tooltip="{{'global.menu.account.logout' | translate}}" style="margin-top:5px; float:right;"
                class="nav-item " ui-sref-active="active" ng-show="vm.account">
                <a aria-label="logout" class="nav-link" href="" ng-click="vm.logout()" id="logout">
                    <img alt="Logout" style="vertical-align:middle" src="content/images/logout-dark.svg" height="20px" />
                </a>
            </li>
            <li tooltip-animation="false" tooltip-placement="bottom" uib-tooltip="{{'global.menu.account.login' | translate}}" style="margin-top:5px; float:right;"
                class="nav-item " ui-sref-active="active" ng-hide="vm.account">
                <a aria-label="auth" class="nav-link" href="/#auth" id="login">

                    <img alt="Login" style="vertical-align:middle" src="content/images/login-dark.svg" height="20px" />
                    <span data-translate="global.menu.account.login" style="display:inline;display: inline;
    color: white;">Sign in</span>
                </a>
            </li>
            <li tooltip-animation="false" tooltip-placement="right" uib-tooltip="{{'global.menu.language' | translate}}" class="nav-item"
                style="float: right;
            margin-top: 5px;
            margin-left: 80px;" ui-sref-active="active" uib-dropdown class="dropdown pointer" ng-controller="JhiLanguageController as languageVm">
                <a class="dropdown-toggle nav-link-game" uib-dropdown-toggle href="" ng-if="languageVm.languages.length > 1">
                    <i class="ion-ios-world" style="font-size:25px;margin-top:15px"></i>
                </a>
                <ul style="width:20vw;  max-height:80vh;font-weight:bold" class="dropdown-menu" uib-dropdown-menu>
                    <li ng-hide="isArab">
                        <a href="" ng-click="languageVm.changeLanguage('ar-ly');vm.collapseNavbar();">{{'global.ar' | translate}}</a>
                    </li>
                    <li ng-show="isArab" style="background:#dbdbdb;">
                        <a href="" ng-click="languageVm.changeLanguage('ar-ly');vm.collapseNavbar();">{{'global.ar' | translate}}</a>
                    </li>
                    <li ng-hide="isEng">
                        <a href="" ng-click="languageVm.changeLanguage('en');vm.collapseNavbar();">{{'global.en'| translate}}</a>
                    </li>
                    <li ng-show="isEng" style="background:#dbdbdb;">
                        <a href="" ng-click="languageVm.changeLanguage('en');vm.collapseNavbar();">{{'global.en'| translate}}</a>
                    </li>
                    <li ng-hide="isFr">
                        <a href="" ng-click="languageVm.changeLanguage('fr');vm.collapseNavbar();">{{'global.fr' | translate}}</a>
                    </li>
                    <li ng-show="isFr" style="background:#dbdbdb;">
                        <a href="" ng-click="languageVm.changeLanguage('fr');vm.collapseNavbar();">{{'global.fr' | translate}}</a>
                    </li>

                </ul>
            </li>





        </ul>







    </div>
</nav>


<md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop md-whiteframe="4" style="position:fixed">

    <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Disabled Backdrop</h1>
    </md-toolbar>

    <md-content layout-margin>

        <md-autocomplete style="background: #fafafa;
            border: solid 1px #dbdbdb;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            margin-top:9px;
            text-align: center;color:black" md-clear-button md-selected-item="vm.selectedItem" md-search-text="vm.searchText"
            md-items="item in querySearch(vm.searchText)" md-item-text="item.title" md-delay="300" md-menu-class="autocomplete-custom-template"
            placeholder="Find!">
            <md-item-template>
                <div ng-show="item.category.id!=1102" style="background:white;color:black;border:1px solid #daa520;padding:3px" ng-click="openDetails(item)"
                    layout="row" class="item" layout-align="start center">

                    <img ng-src="{{item.mediumImage}}" height="100px" width="auto" /> &nbsp;&nbsp;
                    <span style="font-family: 'Open Sans', sans-serif;font-size:15px" md-highlight-text="vm.searchText">{{item.title}}</span>
                </div>
                <div ng-show="item.category.id!=1101" style="background:black;color:white;border:1px solid darkred;padding:3px" ng-click="openDetails(item)"
                    layout="row" class="item" layout-align="start center">

                    <img ng-src="{{item.mediumImage}}" height="100px" width="auto" /> &nbsp;&nbsp;
                    <span style="font-family: 'Share Tech Mono', monospace;font-size:15px" md-highlight-text="vm.searchText">{{item.title}}</span>
                </div>
            </md-item-template>
        </md-autocomplete>
        <md-list>
            <md-list-item style="border:1px solid white" ui-sref="profile-detail({pseudo:vm.account.profile.pseudo})" ng-click="toggleLeft()"
                class="noright">
                <img alt="{{ vm.account.profile.firstName }}" ng-src="{{vm.account.profile.thumbnailImage}}" class="md-avatar" />
                <p>{{ vm.account.profile.firstName}} {{ vm.account.profile.lastName}}</p>

            </md-list-item>
            <md-list-item style="border:1px solid white" aria-label="books" ng-click="toggleLeft()" ui-sref="books" class="noright">
                <img alt="books" style="vertical-align:middle" src="content/images/open-book.svg" class="md-avatar" />
                <p>{{'global.menu.books' | translate}}</p>

            </md-list-item>
            <md-list-item style="border:1px solid white" aria-label="games" ng-click="toggleLeft()" ui-sref="gaming" class="noright">
                <img alt="video_games" style="vertical-align:middle" src="content/images/gamepad.svg" class="md-avatar" />
                <p>{{'global.menu.games' | translate}}</p>
            </md-list-item>

        </md-list>
        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>


            <md-button aria-label="logout" ng-show="vm.account" class="nav-link" href="" ng-click="vm.logout()&&toggleLeft()" id="logout">
                <img alt="Logout" style="vertical-align:middle" src="content/images/logout.svg" height="20px" />
            </md-button>
            <md-button aria-label="login" class="nav-link" ng-click="toggleLeft()" href="/#auth" id="login" ng-hide="vm.account">

                <img alt="Login" style="vertical-align:middle" src="content/images/login.svg" height="20px" />
                <span data-translate="global.menu.account.login" style="display:inline;">Sign in</span>
            </md-button>
        </section>




    </md-content>

</md-sidenav>





<div class="hidden-md-down" style="position: fixed; bottom:0px; width:100%;z-index:999" ng-show="vm.account!=null&&notMessenger">
    <div class="row">
        <div class="row justify-content-end col-lg-10 col-md-8  col-xs-0">
            <div class="col-sm-3" ng-repeat="chatInfo in chatInfos | limitTo:1 track by $index " style="position: absolute;bottom :0px;">
                <md-button ng-click="chatInfo.tabPos===0?chatInfo.tabPos=1:chatInfo.tabPos=0" style="margin: 0px 8px;width:100%" class="md-raised md-primary"
                    type="button ">
                    <span style=" float:left;">
                        <a style="color:white" ng-click="chatInfo.tabPos===1?chatInfo.tabPos=0:chatInfo.tabPos=1" ui-sref="profile-detail({pseudo:chatInfo.receiver.pseudo}) ">
                            {{chatInfo.receiver.firstName}} {{chatInfo.receiver.lastName}}</a>
                    </span>
                    <span style=" float:right">
                        <a ng-click="endtalk(chatInfo)">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </a>
                    </span>
                </md-button>
                <div ng-show="chatInfo.tabPos===1" style="width:100%;min-height:10vh;background:white;margin: 0px 8px;">


                    <center>
                        <div id="messages" scroll-to-bottom="messages" style="background: lightgray;width:100%" class="chat-messages">

                            <ul class="oldul">

                                <li style="margin: 5px;padding:7px" class="oldli " ng-class="{' sent-message ':message.sender.id===vm.account.profile.id,'received-message ':message.sender.id!=vm.account.profile.id}"
                                    ng-repeat="message in messages | orderBy :'creationDate'">
                                    <a class="text-justify" style="font-family: 'Open Sans', sans-serif; font-size: 10px;
                                    line-height: 15px;" ng-show="ValidURL(message.content)==true" href="{{message.content}}">
                                        {{message.content}}</a>
                                    <p class="text-justify" style="font-family: 'Open Sans', sans-serif;font-size: 10px;
                                    line-height: 15px;" ng-hide="ValidURL(message.content)==true"> {{message.content}}</p>

                                </li>
                                <li class="oldli " style="width:100%;height:20px">&emsp;&emsp;</li>

                            </ul>
                        </div>

                        <form name="chatForm" ng-submit="sendMessage(chatInfo,message)">
                            <div class=" chat-input">
                                <div class="input-group">
                                    <input style="font-family: 'Open Sans', sans-serif;font-size: 12px;" ng-focus="seenNotifs()" type="text" class="form-control"
                                        name="message" ng-model="vm.message" autocomplete="off" placeholder="Taper un message...">
                                </div>
                            </div>
                        </form>
                    </center>



                </div>
            </div>
        </div>
        <div id="chatBox" class="col-lg-2 col-md-4  col-xs-12 " ng-show="vm.account">
            <md-button ng-click="showFriends===1? showFriends=0 :showFriends=1" style="margin: 0px 8px;width:100%" class="md-raised md-primary"
                type="button ">
                {{'global.menu.friends' | translate}}
            </md-button>
            <div ng-show="showFriends===1" style="width:100%;max-height:80vh;min-height:10vh;background:white;margin: 0px 8px;">
                <md-list id="chat">
                    <md-list-item ng-repeat="follow in vm.account.profile.followings" ng-click="talkTo(follow.followed)" class="noright">
                        <img alt="{{ follow.followed.firstName }}" ng-src="{{ follow.followed.mediumImage }}" style="width:30px;height:30px" class="md-avatar"
                        />
                        <small style="font-family: 'Open Sans', sans-serif;font-size:12px">{{ follow.followed.firstName }} {{follow.followed.lastName}}
                            <small ng-if="singleNotif>0" style="color:red">({{singleNotif}})</small>
                        </small>
                    </md-list-item>
                </md-list>
            </div>
        </div>
    </div>
</div>


<!-- welcoming page -->
