
<div>
    <h2><span data-translate="netbedlooApp.response.detail.title">Response</span> {{vm.response.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="netbedlooApp.response.response">Response</span></dt>
        <dd>
            <span>{{vm.response.response}}</span>
        </dd>
        <dt><span data-translate="netbedlooApp.response.responseTime">Response Time</span></dt>
        <dd>
            <span>{{vm.response.responseTime | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="netbedlooApp.response.comment">Comment</span></dt>
        <dd>
            <a ui-sref="comment-detail({id:vm.response.comment.id})">{{vm.response.comment.comment}}</a>
        </dd>
        <dt><span data-translate="netbedlooApp.response.profile">Profile</span></dt>
        <dd>
            <a ui-sref="profile-detail({pseudo:vm.response.profile.pseudo})">{{vm.response.profile.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="response-detail.edit({id:vm.response.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
