
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myOwnedHistoryLabel" data-translate="netbedlooApp.ownedHistory.home.createOrEditLabel">Create or edit a Owned History</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.ownedHistory.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.ownedHistory.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="netbedlooApp.ownedHistory.owningdate" for="field_owningdate">Owningdate</label>
                <div class="input-group">
                    <input id="field_owningdate" type="text" class="form-control" name="owningdate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.ownedHistory.owningdate" is-open="vm.datePickerOpenStatus.owningdate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('owningdate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="netbedlooApp.ownedHistory.eraseDate" for="field_eraseDate">Erase Date</label>
                <div class="input-group">
                    <input id="field_eraseDate" type="text" class="form-control" name="eraseDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.ownedHistory.eraseDate" is-open="vm.datePickerOpenStatus.eraseDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('eraseDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label data-translate="netbedlooApp.ownedHistory.article" for="field_article">Article</label>
            <select class="form-control" id="field_article" name="article" ng-model="vm.ownedHistory.article" ng-options="article as article.title for article in vm.articles track by article.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="netbedlooApp.ownedHistory.owner" for="field_owner">Owner</label>
            <select class="form-control" id="field_owner" name="owner" ng-model="vm.ownedHistory.owner" ng-options="profile as profile.id for profile in vm.profiles track by profile.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
