
<div>
    <h2><span data-translate="netbedlooApp.ownedHistory.detail.title">Owned History</span> {{vm.ownedHistory.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="netbedlooApp.ownedHistory.owningdate">Owningdate</span></dt>
        <dd>
            <span>{{vm.ownedHistory.owningdate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="netbedlooApp.ownedHistory.eraseDate">Erase Date</span></dt>
        <dd>
            <span>{{vm.ownedHistory.eraseDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="netbedlooApp.ownedHistory.article">Article</span></dt>
        <dd>
            <a ui-sref="article-detail({id:vm.ownedHistory.articleid})">{{vm.ownedHistory.article.title}}</a>
        </dd>
        <dt><span data-translate="netbedlooApp.ownedHistory.owner">Owner</span></dt>
        <dd>
            <a ui-sref="profile-detail({pseudo:vm.ownedHistory.owner.pseudo})">{{vm.ownedHistory.owner.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="owned-history-detail.edit({id:vm.ownedHistory.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
