<div style="height:100px; width:100%"></div>

<div ng-cloak>
    <div class="row">

        <div class="col-md-8">
            <h1 data-translate="error.title">Error Page!</h1>

            <div ng-show="errorMessage">
                <div class="alert alert-danger">{{errorMessage}}
                </div>
            </div>
        </div>
    </div>
</div>