<!doctype html>
<html>

<head>


    <title>Hello !</title>






    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,800italic,700italic,600italic,400italic,300italic,800,700,600'
        rel='stylesheet' type='text/css'>

    <link href="landingPage/css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="landingPage/css/responsive.css" rel="stylesheet" type="text/css">
    <link href="landingPage/css/animate.css" rel="stylesheet" type="text/css">

    <!--[if IE]><style type="text/css">.pie {behavior:url(PIE.htc);}</style><![endif]-->


    <script type="text/javascript" src="landingPage/js/jquery-scrolltofixed.js"></script>
    <script type="text/javascript" src="landingPage/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="landingPage/js/jquery.isotope.js"></script>
    <script type="text/javascript" src="landingPage/js/wow.js"></script>
    <script type="text/javascript" src="landingPage/js/classie.js"></script>


</head>
<div ng-hide="vm.account" id="content">


    <body style="height:100%">
        <section class="header" id="header">

            <figure class="logo2 animated fadeInDown delay-07s">
                <a href="https://naru.tn" target="_blank">
                    <img style="width: 100%; height: auto; margin-top:50px;" class="helloimg" src="content/images/logoss.png" alt="">
                </a>
            </figure>
            <h1 class="animated fadeInDown delay-07s" data-translate="home.bienvenue">Bienvenue à </h1>
            <img style="width: 35%; height: auto;" class="animated fadeInDown delay-08s" src="content/images/white-logo.png" />
            <ul class="we-create animated fadeInUp delay-1s">
                <li data-translate="home.slogan">Partagez, discuter, rencontrez, échangez !</li>
            </ul>

            <div class="show-image">
                <a target="_blank" href="https://play.google.com/store/apps/details?id=netbedloo.beta" class="btn">

                    <img style="width:200px;height:auto;" src="content/images/google-play-badge-en.png" />
                </a>
            </div>

            <br>
            <a ui-sref="register" class="call animated fadeInDown delay-05s servicelink">
                <h2 style="color:white;margin-top:5px;margin-bottom:5px" data-translate="home.join">REJOIGNEZ NOUS </h2>
            </a>
            <br>
            <a style="background:#0690CF" class="link animated fadeInUp delay-1s servicelink" href="#auth" du-smooth-scroll duration="1000">
                <span data-translate="home.connecter">Se Connecter</span>
            </a>
            <a style="background:#e77000" class="link animated fadeInUp delay-1s servicelink" href="#service" du-smooth-scroll duration="2000">
                <span data-translate="home.visite_guide">visite guidée</span>
            </a>
        </section>

        <!--header-end-->

        <section class="main-section" style="background: #e77000; color:white">
            <!--main-section-start-->
            <div class="container" id="auth">
                <div class="wrapper fadeInDown">
                    <div id="formContent" style="background: black;padding-bottom:5%">
                        <!-- Tabs Titles -->
                        <h2 class="active" data-translate="home.connecter"> Se Connecter </h2>
                        <a ui-sref="register">
                            <h2 class="inactive underlineHover" data-translate="home.inscrire">S'inscrire </h2>
                        </a>
                        <div class="alert alert-danger alert-dismissable" ng-show="vm.authenticationError">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <span data-translate="login.messages.error.authentication">
                                <strong>Failed to sign in!</strong> Please check your credentials and try again.
                            </span>
                        </div>
                        <!-- Icon -->
                        <div class="fadeIn first">
                            <img src="/content/images/white-small.png" id="icon" alt="User Icon" />
                        </div>

                        <!-- Login Form -->
                        <form ng-submit="vm.login($event)">
                            <input type="text" id="login" class="fadeIn second" placeholder="{{'global.form.username.placeholder' | translate}}" ng-model="vm.username">
                            <input type="password" id="password" class="fadeIn third" name="password" placeholder="{{'login.form.password.placeholder' | translate}}"
                                ng-model="vm.password">
                            <md-input-container class="md-block">
                                <md-checkbox md-no-ink aria-label="Remember-me" ng-model="vm.rememberMe" ng-init="vm.rememberMe=true" class="md-primary">
                                    <p>{{'login.form.rememberme' | translate}}</p>
                                </md-checkbox>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <md-button type="submit" class="md-raised md-primary">{{'home.connecter' | translate}}</md-button>
                            </md-input-container>

                        </form>

                        <!-- Remind Passowrd -->
                        <a class="underlineHover" href="" ng-click="vm.requestResetPassword()">{{'login.password.forgot' |translate }}</a>

                    </div>
                </div>

            </div>
        </section>
        <!--main-section-end-->



        <section class="main-section" id="service" style="background:white;">
            <!--main-section-start-->
            <div class="container">
                <h2>{{'home.vue_ensemble' | translate}}</h2>
                <h6>{{'home.vue_ensemble_sub'| translate}}</h6>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 wow fadeInLeft delay-05s">
                        <div class="service-list">
                            <div class="service-list-col1">
                                <i class="ion-ios-heart-outline"></i>
                            </div>
                            <div class="service-list-col2">
                                <h3>{{'home.partagez_title'| translate}}</h3>
                                <p>{{'home.partagez_des'| translate}}</p>
                            </div>
                        </div>
                        <div class="service-list">
                            <div class="service-list-col1">
                                <i class="ion-ios-chatboxes-outline"></i>
                            </div>
                            <div class="service-list-col2">
                                <h3>{{'home.discutez_title'| translate}}</h3>
                                <p>{{'home.discuter_des'| translate}}</p>
                            </div>
                        </div>
                        <div class="service-list">
                            <div class="service-list-col1">
                                <i class="ion-ios-people-outline"></i>
                            </div>
                            <div class="service-list-col2">
                                <h3>{{'home.rencontrez_title'| translate}}</h3>
                                <p>{{'home.rencontre_des'| translate}}</p>
                            </div>
                        </div>
                        <div class="service-list">
                            <div class="service-list-col1">
                                <i class="ion-ios-loop"></i>
                            </div>
                            <div class="service-list-col2">
                                <h3>{{'home.echangez_title'| translate}}</h3>
                                <p>{{'home.echangez_des'| translate}}</p>
                            </div>
                        </div>
                    </div>
                    <figure class="col-lg-6 col-sm-6  text-right wow fadeInUp delay-02s">
                        <img class="helloimg" src="content/images/1.gif" alt="">
                    </figure>
                    <figure class="col-lg-2 col-sm-6  text-right wow fadeInUp delay-02s">
                        <img class="helloimg" src="content/images/1_mobile.gif" alt="">
                    </figure>

                </div>
            </div>
        </section>
        <!--main-section-end-->



        <section class="main-section alabaster" style="background:black; color:white">
            <!--main-section alabaster-start-->
            <div class="container">
                <div class="row">
                    <div class="featured-work">
                        <h2 style="color:white">{{'home.partagez_title'| translate}}</h2>
                        <P class="padding-b">{{'home.partagez_sub'| translate}}</P>

                    </div>
                </div>
                <div class="row">
                    <figure class="col-lg-4 col-sm-4 wow fadeInLeft">
                        <img class="helloimg" src="content/images/fav.gif" alt="">
                    </figure>
                    <figure class="col-lg-4 col-sm-4 wow fadeInTop">
                        <img class="helloimg" src="content/images/3_mobile.gif" alt="">
                    </figure>
                    <figure class="col-lg-4 col-sm-4 wow fadeInRight">
                        <img class="helloimg" src="content/images/want.gif" alt="">
                    </figure>


                </div>
            </div>
        </section>
        <!--main-section alabaster-end-->
        <section style="background: #e77000; color:white" class="main-section alabaster">
            <!--main-section alabaster-start-->
            <div class="container">
                <div class="row">
                    <div class="featured-work">
                        <h2 style="color:white">{{'home.discutez_title'| translate}}</h2>
                        <P class="padding-b">{{'home.discutez_sub'| translate}}</P>
                    </div>
                </div>
                <div class="row">
                    <figure class="col-lg-6 col-sm-6 wow fadeInLeft">
                        <img class="helloimg" src="content/images/msg2.gif" alt="">
                    </figure>
                    <figure class="col-lg-6 col-sm-6 wow fadeInRight">
                        <img class="helloimg" src="content/images/8_mobile.gif" alt="">
                    </figure>

                </div>
            </div>
        </section>
        <!--main-section alabaster-end-->
        <!--main-section alabaster-end-->
        <section style="background:black; color:white" class="main-section alabaster">
            <!--main-section alabaster-start-->
            <div class="container">
                <div class="row">
                    <div class="featured-work">
                        <h2 style="color:white">{{'home.ronc_ech'| translate}}</h2>
                        <P class="padding-b">{{'home.ronc_ech_sub'| translate}}</P>

                    </div>
                </div>
                <div class="row">
                    <figure class="col-lg-6 col-sm-6 wow fadeInLeft">
                        <img class="helloimg" src="content/images/matchingNormal.gif" alt="">
                    </figure>
                    <figure class="col-lg-6 col-sm-6 wow fadeInRight">
                        <img class="helloimg" src="content/images/matchMobile.gif" alt="">
                    </figure>

                </div>
            </div>
        </section>
        <!--main-section alabaster-end-->








        <section class="business-talking">
            <!--business-talking-start-->
            <div class="container">
                <h2>made with
                    <i style="color:red" class="ion-heart"></i> By
                    <a target="_blank" href="https://www.naru.tn/">
                        <img style="vertical-align:middle" width="130px" src="content/images/logo-dark-back.png" />
                    </a>
                </h2>
            </div>
        </section>
        <!--business-talking-end-->

        <footer class="footer">
            <div class="container">
                <div class="footer-logo">

                    <a target="_blank" href="https://www.naru.tn/">

                        <img class="helloimg" src="content/images/logoss.png" alt="naru">
                    </a>
                </div>
                <span class="copyright">&copy; Netbedloo . All Rights Reserved to
                    <a target="_blank" href="https://www.naru.tn/">Naru .ltd</a>
                </span>
                <div class="credits">

                    <a>Netbedloo</a>
                    <a target="_blank" href="https://www.naru.tn/">Naru .ltd</a>
                </div>
            </div>
        </footer>


        <script type="text/javascript">
            $(document).ready(function (e) {
                $('#test').scrollToFixed();
                $('.res-nav_click').click(function () {
                    $('.main-nav').slideToggle();
                    return false

                });

            });

        </script>

        <script>
            wow = new WOW({
                animateClass: 'animated',
                offset: 100
            });
            wow.init();

        </script>


        <script type="text/javascript">
            $(window).load(function () {

                $('.main-nav li a, .servicelink').bind('click', function (event) {
                    var $anchor = $(this);

                    $('html, body').stop().animate({
                        scrollTop: $($anchor.attr('href')).offset().top - 102
                    }, 1500, 'easeInOutExpo');
                    /*
                    if you don't want to use the easing effects:
                    $('html, body').stop().animate({
                    	scrollTop: $($anchor.attr('href')).offset().top
                    }, 1000);
                    */
                    if ($(window).width() < 768) {
                        $('.main-nav').hide();
                    }
                    event.preventDefault();
                });
            })

        </script>

        <script type="text/javascript">
            $(window).load(function () {


                var $container = $('.portfolioContainer'),
                    $body = $('body'),
                    colW = 375,
                    columns = null;


                $container.isotope({
                    // disable window resizing
                    resizable: true,
                    masonry: {
                        columnWidth: colW
                    }
                });

                $(window).smartresize(function () {
                    // check if columns has changed
                    var currentColumns = Math.floor(($body.width() - 30) / colW);
                    if (currentColumns !== columns) {
                        // set new column count
                        columns = currentColumns;
                        // apply width to container manually, then trigger relayout
                        $container.width(columns * colW)
                            .isotope('reLayout');
                    }

                }).smartresize(); // trigger resize to set container width
                $('.portfolioFilter a').click(function () {
                    $('.portfolioFilter .current').removeClass('current');
                    $(this).addClass('current');

                    var selector = $(this).attr('data-filter');
                    $container.isotope({

                        filter: selector,
                    });
                    return false;
                });

            });

        </script>

    </body>
</div>

</html>
