<form ng-show="!vm.success " name="form " role="form " novalidate ng-submit="vm.save() " show-validation>
    <!-- Modal content-->
    <div class="modal-header">

        <h4 class="modal-title">Nouvel Article</h4>
        <button type="button" class="close pull-right" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-4">
                <div class="show-image ">
                    <label>Couverture</label>

                    <a data-toggle="modal" data-target="#myModal">
                        <img ng-show="myCroppedImage!=''" class="img-responsive" src="{{myCroppedImage}}" />
                        <img ng-hide="myCroppedImage!=''" class="img-responsive" src="/article_covs/defaultBookCover.jpg" />
                    </a>

                </div>


            </div>
            <div class="col-md-8">

                <div class="row">
                    <md-input-container class="col-md-4">
                        <label>Nom de l'article</label>
                        <input required md-no-asterisk id="title " name="title" ng-model="vm.article.article.title">
                        <div ng-messages="projectForm.title.$error">
                            <div ng-message="required">Le titre de l'article est obligatoire</div>

                        </div>
                    </md-input-container>
                    <md-input-container class="col-md-4">
                        <label>Auteur</label>
                        <input required md-no-asterisk name="author" ng-model="vm.article.article.author">
                        <div ng-messages="projectForm.author.$error">
                            <div ng-message="required">L'auteur est obligatoire</div>
                        </div>
                    </md-input-container>


                </div>
                <div class="row">

                    <md-input-container class="md-block">
                        <label>Description</label>
                        <textarea required type="text" name="description" ng-model="vm.article.article.description" md-maxlength="1000" rows="5" md-select-on-focus />

                        <div ng-messages="projectForm.email.$error" role="alert">
                            <div ng-message-exp="['required', 'maxlength']">
                                Cette description est obligatoire et ne doit pas dépasser 1000 charactére
                            </div>
                        </div>
                    </md-input-container>
                </div>
            </div>
        </div>
    </div>









    <div class="modal-footer">
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
        <button type="button" ng-click="vm.clear()" class="waves-effect waves-light btn btn-secondary" data-dismiss="modal">Fermer</button>
    </div>


    </div>




</form>

<!-- modal-->
<div style="  background: rgba(0, 0, 0, 0.8);
" id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div style="background:black;color: white" class="modal-content">

            <div class="modal-body">

                <center>
                    <div>Choisissez une image: <input accept="image/*" type="file" id="fileInputt" /></div>
                    <div style="min-height: 300px; height: 100%; width: 100%; background:black" class="cropArea">
                        <ui-cropper result-image-size="{w:600,h:1000}" style="height: 100%" image="myImage" area-type="rectangle" aspect-ratio="0.6" chargement="'Chargment en cours '" result-image="myCroppedImage" canvas-scalemode="true"></ui-cropper>
                    </div>

                </center>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">fermer</button>
            </div>
        </div>

    </div>
</div>