
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myMatchingHistoryLabel" data-translate="netbedlooApp.matchingHistory.home.createOrEditLabel">Create or edit a Matching History</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.matchingHistory.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.matchingHistory.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="netbedlooApp.matchingHistory.matchingDate" for="field_matchingDate">Matching Date</label>
                <div class="input-group">
                    <input id="field_matchingDate" type="text" class="form-control" name="matchingDate" datetime-picker="{{dateformat}}" ng-model="vm.matchingHistory.matchingDate" is-open="vm.datePickerOpenStatus.matchingDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('matchingDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="netbedlooApp.matchingHistory.statut" for="field_statut">Statut</label>
            <input type="text" class="form-control" name="statut" id="field_statut"
                    ng-model="vm.matchingHistory.statut"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="netbedlooApp.matchingHistory.distance" for="field_distance">Distance</label>
            <input type="number" class="form-control" name="distance" id="field_distance"
                    ng-model="vm.matchingHistory.distance"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="netbedlooApp.matchingHistory.tbedlooDate" for="field_tbedlooDate">Tbedloo Date</label>
                <div class="input-group">
                    <input id="field_tbedlooDate" type="text" class="form-control" name="tbedlooDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.matchingHistory.tbedlooDate" is-open="vm.datePickerOpenStatus.tbedlooDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('tbedlooDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="netbedlooApp.matchingHistory.eraseDate" for="field_eraseDate">Erase Date</label>
                <div class="input-group">
                    <input id="field_eraseDate" type="text" class="form-control" name="eraseDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.matchingHistory.eraseDate" is-open="vm.datePickerOpenStatus.eraseDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('eraseDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label data-translate="netbedlooApp.matchingHistory.owner" for="field_owner">Owner</label>
            <select class="form-control" id="field_owner" name="owner" ng-model="vm.matchingHistory.owner" ng-options="profile as profile.id for profile in vm.profiles track by profile.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="netbedlooApp.matchingHistory.wanter" for="field_wanter">Wanter</label>
            <select class="form-control" id="field_wanter" name="wanter" ng-model="vm.matchingHistory.wanter" ng-options="profile as profile.id for profile in vm.profiles track by profile.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="netbedlooApp.matchingHistory.owned" for="field_owned">Owned</label>
            <select class="form-control" id="field_owned" name="owned" ng-model="vm.matchingHistory.owned" ng-options="article as article.title for article in vm.articles track by article.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="netbedlooApp.matchingHistory.wanted" for="field_wanted">Wanted</label>
            <select class="form-control" id="field_wanted" name="wanted" ng-model="vm.matchingHistory.wanted" ng-options="article as article.title for article in vm.articles track by article.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
