
<div>
    <h2><span data-translate="netbedlooApp.matchingHistory.detail.title">Matching History</span> {{vm.matchingHistory.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="netbedlooApp.matchingHistory.matchingDate">Matching Date</span></dt>
        <dd>
            <span>{{vm.matchingHistory.matchingDate | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="netbedlooApp.matchingHistory.statut">Statut</span></dt>
        <dd>
            <span>{{vm.matchingHistory.statut}}</span>
        </dd>
        <dt><span data-translate="netbedlooApp.matchingHistory.distance">Distance</span></dt>
        <dd>
            <span>{{vm.matchingHistory.distance}}</span>
        </dd>
        <dt><span data-translate="netbedlooApp.matchingHistory.tbedlooDate">Tbedloo Date</span></dt>
        <dd>
            <span>{{vm.matchingHistory.tbedlooDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="netbedlooApp.matchingHistory.eraseDate">Erase Date</span></dt>
        <dd>
            <span>{{vm.matchingHistory.eraseDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="netbedlooApp.matchingHistory.owner">Owner</span></dt>
        <dd>
            <a ui-sref="profile-detail({pseudo:vm.matchingHistory.owner.pseudo})">{{vm.matchingHistory.owner.id}}</a>
        </dd>
        <dt><span data-translate="netbedlooApp.matchingHistory.wanter">Wanter</span></dt>
        <dd>
            <a ui-sref="profile-detail({pseudo:vm.matchingHistory.wanter.pseudo})">{{vm.matchingHistory.wanter.id}}</a>
        </dd>
        <dt><span data-translate="netbedlooApp.matchingHistory.owned">Owned</span></dt>
        <dd>
            <a ui-sref="article-detail({id:vm.matchingHistory.ownedid})">{{vm.matchingHistory.owned.title}}</a>
        </dd>
        <dt><span data-translate="netbedlooApp.matchingHistory.wanted">Wanted</span></dt>
        <dd>
            <a ui-sref="article-detail({id:vm.matchingHistory.wantedid})">{{vm.matchingHistory.wanted.title}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="matching-history-detail.edit({id:vm.matchingHistory.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
