<div>
    <h2 data-translate="netbedlooApp.matchingHistory.home.title">Matching Histories</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="matching-history.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="netbedlooApp.matchingHistory.home.createLabel">
                        Create new Matching History
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'netbedlooApp.matchingHistory.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="matchingDate"><span data-translate="netbedlooApp.matchingHistory.matchingDate">Matching Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="statut"><span data-translate="netbedlooApp.matchingHistory.statut">Statut</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="distance"><span data-translate="netbedlooApp.matchingHistory.distance">Distance</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tbedlooDate"><span data-translate="netbedlooApp.matchingHistory.tbedlooDate">Tbedloo Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="eraseDate"><span data-translate="netbedlooApp.matchingHistory.eraseDate">Erase Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="owner.id"><span data-translate="netbedlooApp.matchingHistory.owner">Owner</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wanter.id"><span data-translate="netbedlooApp.matchingHistory.wanter">Wanter</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="owned.title"><span data-translate="netbedlooApp.matchingHistory.owned">Owned</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="wanted.title"><span data-translate="netbedlooApp.matchingHistory.wanted">Wanted</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="matchingHistory in vm.matchingHistories track by matchingHistory.id">
                    <td><a ui-sref="matching-history-detail({id:matchingHistory.id})">{{matchingHistory.id}}</a></td>
                    <td>{{matchingHistory.matchingDate | date:'medium'}}</td>
                    <td>{{matchingHistory.statut}}</td>
                    <td>{{matchingHistory.distance}}</td>
                        <td>{{matchingHistory.tbedlooDate | date:'mediumDate'}}</td>
                        <td>{{matchingHistory.eraseDate | date:'mediumDate'}}</td>
                    <td>
                        <a ui-sref="profile-detail({pseudo:matchingHistory.owner.pseudo})">{{matchingHistory.owner.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="profile-detail({pseudo:matchingHistory.wanter.pseudo})">{{matchingHistory.wanter.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="article-detail({id:matchingHistory.ownedid})">{{matchingHistory.owned.title}}</a>
                    </td>
                    <td>
                        <a ui-sref="article-detail({id:matchingHistory.wantedid})">{{matchingHistory.wanted.title}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="matching-history-detail({id:matchingHistory.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="matching-history.edit({id:matchingHistory.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="matching-history.delete({id:matchingHistory.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
