
<div>
    <h2><span data-translate="netbedlooApp.owned.detail.title">Owned</span> {{vm.owned.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="netbedlooApp.owned.creationDate">Creation Date</span></dt>
        <dd>
            <span>{{vm.owned.creationDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span data-translate="netbedlooApp.owned.article">Article</span></dt>
        <dd>
            <a ui-sref="article-detail({id:vm.owned.articleid})">{{vm.owned.article.title}}</a>
        </dd>
        <dt><span data-translate="netbedlooApp.owned.owner">Owner</span></dt>
        <dd>
            <a ui-sref="profile-detail({pseudo:vm.owned.owner.pseudo})">{{vm.owned.owner.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="owned-detail.edit({id:vm.owned.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
