<!-- Modal content needs fix-->
<form ng-show="!vm.success " name="form " role="form " novalidate ng-submit="vm.save() " show-validation>
    <!-- Modal content-->
    <div class="modal-header">

        <h4 class="modal-title">Nouvel Article</h4>
        <button type="button" class="close pull-right" data-dismiss="modal">&times;</button>
    </div>
    <div style="background:black;color: white" class="modal-content">

        <div class="modal-body">

            <center>
                <div>Choisissez une image: <input accept="image/*" type="file" id="fileInput" /></div>
                <div style="min-height: 300px; height: 100%; width: 100%; background:black" class="cropArea">
                    <ui-cropper style="height: 100%; z-index:1500;" image="myImage" area-type="circle" chargement="'Chargment en cours '" result-image="myCroppedImage" canvas-scalemode="true"></ui-cropper>
                </div>

            </center>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">fermer</button>
        </div>
    </div>
</form>