<style>
    @import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
    .snip1344 {
        font-family: 'Open Sans', Arial, sans-serif;
        position: relative;
        float: left;
        overflow: hidden;
        margin: 10px 1%;
        min-width: 230px;
        max-width: 200px;
        width: 100%;
        color: #ffffff;
        text-align: center;
        line-height: 1.4em;
        background-color: #141414;
    }

    .snip1344 * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.25s ease;
        transition: all 0.25s ease;
    }

    .snip1344 .background {
        width: 100%;
        vertical-align: top;
        opacity: 0.2;
        -webkit-filter: grayscale(100%) blur(10px);
        filter: grayscale(100%) blur(10px);
        -webkit-transition: all 2s ease;
        transition: all 2s ease;
    }

    .snip1344 figcaption {
        width: 100%;
        padding: 15px 25px;
        position: absolute;
        left: 0;
        top: 50%;
    }

    .snip1344 .profiler {
        border-radius: 50%;
        position: absolute;
        bottom: 50%;
        left: 50%;
        max-width: 100px;
        opacity: 1;
        box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
        border: 2px solid rgba(255, 255, 255, 0.5);
        -webkit-transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
    }

    .snip1344 h3 {
        margin: 0 0 5px;
        font-weight: 400;
        color:white
    }

    .snip1344 h3 span {
        display: block;
        font-size: 0.6em;
        color: #f39c12;
        opacity: 0.75;
    }

    .snip1344 i {
        padding: 10px 5px;
        display: inline-block;
        font-size: 32px;
        color: #ffffff;
        text-align: center;
        opacity: 0.65;
    }

    .snip1344 a {
        text-decoration: none;
    }

    .snip1344 i:hover {
        opacity: 1;
        color: #0690CF;
        -webkit-transition: all 0.35s ease;
        transition: all 0.35s ease;
    }

    .snip1344:hover .background,
    .snip1344.hover .background {
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
    }

    /* Demo purposes only */

    body {
        background-color: #212121;
    }

</style>
<div style="height:70px; width:100%"></div>

<!--<figure class="snip0051" ng-repeat="profile in vm.profiles track by profile.id">
        <img ng-src="{{profile.normalImage}}" alt="sample1"/>	
        <div class="icons">
            <a  ui-sref="profile-detail({pseudo:profile.pseudo})" ><i class="ion-ios-eye-outline"></i></a>
            <a href="#"><i class="ion-ios-chatbubble-outline"></i></a>
            <a href="#"><i class="ion-ios-personadd"></i></a>
        </div>
        <figcaption>
            <h2>{{profile.firstName}} <span>{{profile.lastName}} </span></h2>
            <p ng-show="profile.bio">{{profile.bio}}</p>
            <p ng-hide="profile.bio">{{profile.firstName}} {{profile.lastName}}
            <span data-translate="netbedlooApp.profile.nobio">ne posséde pas encore de Bio! </span> </p>
        </figcaption>	
    </figure>
-->
<figure class="snip1344" ng-repeat="profile in vm.profiles track by profile.id">
    <img  ng-src="{{profile.normalImage}}" alt="profile-sample1" class="background"
    />
    <img  ng-src="{{profile.normalImage}}" alt="profile-sample1" class="profiler"
    />
    <figcaption>
        <h3>{{profile.firstName}} {{profile.lastName}} 
                <span>{{profile.gouv.name}}, {{profile.country.name}}  <img style="margin-left:1px;vertical-align: middle" ng-src="{{profile.country.flag}}" width="12" height="9" class="avatar"> </span>
        </h3>
        <div class="icons">
                <a  ui-sref="profile-detail({pseudo:profile.pseudo})" ><i class="ion-ios-eye-outline"></i></a>
                <a href="#"><i class="ion-ios-chatbubble-outline"></i></a>
                <a href="#"><i class="ion-ios-personadd-outline"></i></a>
        </div>
    </figcaption>
</figure>
<!--<div>
    <h2 data-translate="netbedlooApp.profile.home.title">Profiles</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="profile.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="netbedlooApp.profile.home.createLabel">
                        Create new Profile
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'netbedlooApp.profile.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="netbedlooApp.profile.firstName">First Name</span></th>
                    <th><span data-translate="netbedlooApp.profile.lastName">Last Name</span></th>
                    <th><span data-translate="netbedlooApp.profile.birthDate">Birth Date</span></th>
                    <th><span data-translate="netbedlooApp.profile.imagePath">Image Path</span></th>
                    <th><span data-translate="netbedlooApp.profile.sexe">Sexe</span></th>
                    <th><span data-translate="netbedlooApp.profile.adress">Adress</span></th>
                    <th><span data-translate="netbedlooApp.profile.zipCode">Zip Code</span></th>
                    <th><span data-translate="netbedlooApp.profile.email">Email</span></th>
                    <th><span data-translate="netbedlooApp.profile.phoneNumber">Phone Number</span></th>
                    <th><span data-translate="netbedlooApp.profile.bio">Bio</span></th>
                    <th><span data-translate="netbedlooApp.profile.gouv">Gouv</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="profile in vm.profiles track by profile.id">
                    <td><a ui-sref="profile-detail({pseudo:profile.pseudo})">{{profile.id}}</a></td>
                    <td>{{profile.firstName}}</td>
                    <td>{{profile.lastName}}</td>
                        <td>{{profile.birthDate | date:'mediumDate'}}</td>
                    <td>{{profile.imagePath}}</td>
                    <td>{{profile.sexe}}</td>
                    <td>{{profile.adress}}</td>
                    <td>{{profile.zipCode}}</td>
                    <td>{{profile.email}}</td>
                    <td>{{profile.phoneNumber}}</td>
                    <td>{{profile.bio}}</td>
                    <td>
                        <a ui-sref="gouv-detail({id:profile.gouv.id})">{{profile.gouv.name}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="profile-detail({id:profile.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="profile.edit({id:profile.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="profile.delete({id:profile.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>-->
