<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Netbedloo | Profils</title>
    <meta name="description" content="The netbedloo exchange network for gaming and books!" />
    <meta name="keywords" content="Netbedloo books games exchange network culture" />
    <meta name="author" content="Naru .inc" />






    <style>
        #map-canvas {
            height: 100%;
            width: 100%;
            margin: 0px;
            padding: 0px
        }

        .md-autocomplete-suggestions-container {
            z-index: 100000 !important;
        }

        html,
        body {
            overflow-x: hidden;
            font-family: 'Open Sans', sans-serif;
            font-size:15px;
            color:black
        }

        .item {
            display: inline-block;
            vertical-align: middle;
            padding: 10px 50px;
            margin-right: 10px;
        }

        .scroll_outer {
            width: auto;
            overflow-x: scroll;
            overflow-y: hidden;
            white-space: nowrap;
        }

        .chat-input {
            bottom: 0;
            width: 60%;
            height: 60px
        }

        .chat-messages {
            overflow-y: scroll;
            height: 500px;
            width: 100%
        }
    </style>

</head>

<body>


    <md-fab-speed-dial style="position: fixed;left:0px;bottom:0px" ng-hide="hidden" md-direction="up" md-open="vm.isOpen" class="md-fab md-fab-bottom-left md-scale  docs-scroll-fab  scrolling"
        ng-mouseenter="vm.isOpen=true" ng-mouseleave="vm.isOpen=false">
        <md-fab-trigger>
            <md-button style="background: #0690CF;" aria-label="menu" class="md-fab md-warn">
                <md-tooltip md-direction="right" md-visible="tooltipVisible">{{'netbedlooApp.profile.share' | translate}}</md-tooltip>
                <md-icon md-svg-src="content/images/sharethis-logo.svg" aria-label="menu"></md-icon>
            </md-button>
        </md-fab-trigger>

        <md-fab-actions>
            <div>
                <a href="#" socialshare socialshare-provider="twitter" socialshare-text="{{vm.profile.firstName}} {{vm.profile.lastName}} Profile in netbedloo"
                    socialshare-hashtags="netbedloo,Profile,{{vm.profile.firstName}},naru" socialshare-url="{{document.location}}">
                    <md-button style="background: #55acee;" aria-label="twitter" class="md-fab md-raised md-mini">
                        <md-tooltip md-direction="top" md-visible="tooltipVisible" md-autohide="false">
                            Twitter
                        </md-tooltip>




                        <md-icon style="color: white;" md-svg-src="content/images/twitter.svg" aria-label="twitter"></md-icon>

                    </md-button>
                </a>
                <a href="#" socialshare socialshare-provider="linkedin" socialshare-text="{{vm.profile.firstName}} {{vm.profile.lastName}} Profile in netbedloo"
                    socialshare-hashtags="netbedloo,Profile,{{vm.profile.firstName}},naru" socialshare-url="{{document.location}}">
                    <md-button style="background:#0084B1;" aria-label="linkedin" class="md-fab md-raised md-mini">
                        <md-tooltip md-direction="top" md-visible="tooltipVisible" md-autohide="false">
                            Linkedin
                        </md-tooltip>

                        <md-icon md-svg-src="content/images/linkedin.svg" aria-label="linkedin"></md-icon>
                    </md-button>
                </a>
                <a href="#" socialshare socialshare-provider="facebook" socialshare-text="{{vm.profile.firstName}} {{vm.profile.lastName}} Profile in netbedloo"
                    socialshare-hashtags="netbedloo,Profile,{{vm.profile.firstName}},naru" socialshare-url="{{document.location}}">
                    <md-button style="background: #475993" aria-label="facebook" class="md-fab md-raised md-mini">
                        <md-tooltip md-direction="top" md-visible="tooltipVisible" md-autohide="false">
                            Facebook
                        </md-tooltip>

                        <md-icon md-svg-src="content/images/facebook.svg" aria-label="facebook"></md-icon>
                    </md-button>
                </a>
            </div>
        </md-fab-actions>
    </md-fab-speed-dial>

    <div style="height:70px; width:100%"></div>
    <div ng-show="isNotActivated" class="row">
    <div ng-show="isArab" dir="rtl"  class="alert alert-info alert-dismissable" style="background:#3498db;text-align:center;height:60px">
            <a href="#" class="close" data-dismiss="alert" aria-label="close"><img alt="close" style="vertical-align:middle" src="content/images/error.svg" height="30px" /></a>
            <strong  style="font-weight: bold;" >{{'netbedlooApp.profile.not-activated' | translate}}</strong> {{'netbedlooApp.profile.mail' | translate}}
          </div>
          <div ng-hide="isArab" class="alert alert-info alert-dismissable" style="background:#3498db;text-align:center;height:60px">
                <a href="#" class="close" data-dismiss="alert" aria-label="close"><img alt="close" style="vertical-align:middle" src="content/images/error.svg" height="30px" /></a>
                <strong  style="font-weight: bold;" >{{'netbedlooApp.profile.not-activated' | translate}}</strong> {{'netbedlooApp.profile.mail' | translate}}
              </div>

        </div>
        <div style="height:20px; width:100%"></div>
    <div class="row">
       
            
        
        
   
    <div style="height: 100vh;" class="col-lg-2 hidden-md-down">
        </div>


        <div style="min-height: 40vh;" class="col-md-8">
            <div class="row">
                <div class="col-lg-5" style="padding-left:0%">
                    <div class="loading" ng-show="loading" style="margin:30% auto">
                        <div class='loader'>
                            <span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                            <div class='base'>
                                <span></span>
                                <div class='face'></div>
                            </div>
                        </div>
                        <div class='longfazers'>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <h1 ng-hide="isArab" style="margin-left: -25%;">{{'netbedlooApp.profile.add.loading' | translate}}</h1>
                        <h1 ng-show="isArab" dir="rtl" style="margin-left: -25%;">{{'netbedlooApp.profile.add.loading' | translate}}</h1>
                    </div>

                    <div ng-hide="loading" class="show-image">
                        <img ng-show="vm.profile.normalImage!=null||!notFound" class="maincard" style="width:100%;  height:auto;" ng-src="{{vm.profile.normalImage}}"
                        />
                        <img ng-hide="vm.profile.normalImage!=null||!notFound" class="maincard" style="width:100%;  height:auto;" src="content/images/comm_user.jpg"
                        />

                        <div ng-show="vm.profile.id===vm.account.profile.id" class="edit">
                            <a data-toggle="modal" data-target="#myModal">
                                <i tooltip-animation="false" tooltip-append-to-body="true" tooltip-placement="bottom" uib-tooltip="{{'netbedlooApp.profile.modify' | translate}}"
                                    style="margin:20px;     text-shadow: 1px 1px 5px black" class="fa fa-picture-o fa-2x"></i>
                            </a>
                        </div>
                    </div>


                </div>

                <div class="col-lg-7 profileTitle maincard" style="background: white;">



                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab  label="{{'netbedlooApp.profile.general' | translate}}">
                            <div class="md-padding">
                                <span ng-show="isAFiend&&vm.profile.id!=vm.account.profile.id">
                                    <a class="addingIcon" ng-click="showConfirm2($event)">
                                        <i tooltip-animation="false" tooltip-placement="left" uib-tooltip="{{'netbedlooApp.profile.unfollow' | translate}} {{vm.profile.firstName}}"
                                            class="fa fa-user-times fa-pull-right" style="color: gray"></i>
                                    </a>
                                </span>


                                <h1 style="margin-bottom:3px;margin-top:3px">{{vm.profile.firstName}} {{vm.profile.lastName}}
                                    <img ng-src="{{vm.profile.country.flag}}" width="35" height="35" class="img-thumbnail">
                                    <span ng-hide="isAFiend||vm.profile.id===vm.account.profile.id|| vm.account==null" class="fa-stack fa-pull-right">
                                        <a class="addingIcon" ng-click="showConfirm($event)">
                                            <i tooltip-animation="false" tooltip-placement="left" uib-tooltip="Suivre {{vm.profile.firstName}}" class="fa fa-user-plus fa-stack-1x"
                                                style="color: #3498db"></i>
                                        </a>
                                    </span>
                                    <span ng-show="vm.account!=null&&vm.profile.id!=vm.account.profile.id" class="fa-stack fa-pull-right">
                                        <a class="addingIcon" data-toggle="modal" data-target="#myReport">
                                            <i tooltip-animation="false" tooltip-placement="left" uib-tooltip="{{'netbedlooApp.profile.report' | translate}}" class="fa fa-ban fa-stack-1x"
                                                style="color: #3498db"></i>
                                        </a>
                                    </span>

                                </h1>
                                <small ng-hide="isArab">
                                    <span data-translate="netbedlooApp.profile.lives">Habite à</span>
                                    <i style="color:#3498db">{{profilegouv}}</i>,{{vm.profile.country.code}}</small>
                                <small ng-show="isArab" dir="rtl">
                                    <span data-translate="netbedlooApp.profile.lives">Habite à</span>
                                    <i style="color:#3498db">{{profilegouv}}</i>,{{vm.profile.country.code}}</small>
                                <div class="well" style="margin-top:10px">
                                    <p ng-hide="vm.profile.bio||edit===1"> {{vm.profile.firstName}} {{vm.profile.lastName}}
                                        <span data-translate="netbedlooApp.profile.nobio">ne posséde pas encore de Bio! </span>
                                        <p ng-show="vm.profile.bio&&edit===0"> {{vm.profile.bio}}</p>
                                        <form name="editForm" ng-submit="saveBio()">
                                            <md-input-container style="margin-bottom:5px" ng-show="edit===1" class="md-block">
                                                <label data-translate="netbedlooApp.profile.bio">Bio</label>
                                                <textarea ng-model="vm.profile.bio" md-maxlength="100" rows="3" md-select-on-focus md-no-autogrow required></textarea>
                                            </md-input-container>

                                            <md-button data-translate="netbedlooApp.profile.update" style="background: #3498db" ng-show="edit===1" type="submit" ng-disabled="editForm.$invalid || vm.isSaving"
                                                class="md-raised md-primary">{{'netbedlooApp.profile.update' | translate}}</md-button>
                                            <md-button ng-show="edit===1" ng-click="edit=0" type="button" class="md-raised">{{'netbedlooApp.profile.cancel' | translate}}</md-button>

                                        </form>

                                        <a ng-click="editBio()" ng-show="vm.profile.id===vm.account.profile.id&&edit===0">
                                            <i tooltip-animation="false" tooltip-append-to-body="true" tooltip-placement="bottom" uib-tooltip="Modifier ma Bio" style="float: right;"
                                                class="fa fa-pencil" aria-hidden="true"></i>
                                        </a>

                                </div>
                                <div class="row" style="margin:5%">
                                    <div class="col-xs-4 breveStats">
                                        <i ng-show="livresPossedes.length===0" tooltip-animation="false" tooltip-append-to-body="true" tooltip-placement="bottom"
                                            uib-tooltip="{{'netbedlooApp.profile.noowned' | translate}}" class="fa fa-bookmark-o fa-3x"
                                            aria-hidden="true"></i>
                                        <i ng-show="livresPossedes.length!=0" tooltip-animation="false" tooltip-append-to-body="true" tooltip-placement="bottom"
                                            uib-tooltip="{{'netbedlooApp.profile.owned' | translate}}" class="fa fa-bookmark fa-3x"
                                            aria-hidden="true"></i>
                                        <small>{{livresPossedes.length}}</small>
                                    </div>
                                    <div class="col-xs-4 breveStats">
                                        <i ng-show="livresFavoris.length===0" tooltip-animation="false" tooltip-append-to-body="true" tooltip-placement="bottom"
                                            uib-tooltip="{{'netbedlooApp.profile.nowanted' | translate}}" class="fa fa-heart-o fa-3x"
                                            aria-hidden="true"></i>
                                        <i ng-show="livresFavoris.length!=0" tooltip-animation="false" tooltip-append-to-body="true" tooltip-placement="bottom" uib-tooltip="{{'netbedlooApp.profile.wanted' | translate}}"
                                            class="fa fa-heart fa-3x" aria-hidden="true"></i>
                                        <small>{{livresFavoris.length}}</small>
                                    </div>

                                    <div class="col-xs-4 breveStats">
                                        <i tooltip-animation="false" tooltip-append-to-body="true" tooltip-placement="bottom" uib-tooltip="{{'netbedlooApp.profile.exchange' | translate}}"
                                            class="fa fa-exchange fa-3x" aria-hidden="true"></i>
                                        <small>{{tbedl.length}}</small>
                                    </div>

                                </div>
                            </div>
                        </md-tab>
                        <md-tab label="{{'netbedlooApp.profile.personal' | translate}}">
                            <div class="md-padding">
                                <span ng-show="vm.profile.id===vm.account.profile.id" class="fa-stack fa-pull-right">
                                    <a class="addingIcon" data-toggle="modal" data-target="#changePassword">
                                        <img tooltip-animation="false" tooltip-placement="left" uib-tooltip="{{'netbedlooApp.profile.password' | translate}}" src="content/images/padlock.svg"
                                            width="25px" />
                                    </a>
                                </span>
                                <div ng-hide="editInfo===1">
                                    <div class="row">
                                        <div class="col-xs-1">
                                            <p class="float-right">
                                                <i class="fa fa-mobile" aria-hidden="true"></i>
                                            </p>
                                        </div>
                                        <div class="col-xs-11">
                                            <p ng-show=" vm.profile.phoneNumber"> {{vm.profile.phoneNumber}}</p>
                                            <small ng-hide="vm.profile.phoneNumber">{{vm.profile.firstName}}
                                                <small data-translate="netbedlooApp.profile.nophone">n'a pas encore de téléphone</small>
                                            </small>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-1">
                                            <p class="float-right">
                                                <i class="fa fa-venus-mars" aria-hidden="true"></i>
                                            </p>
                                        </div>
                                        <div class="col-xs-11">
                                            <p ng-show=" vm.profile.sexe"> {{vm.profile.sexe}}</p>
                                            <small ng-hide="vm.profile.sexe">{{vm.profile.firstName}}
                                                <small data-translate="netbedlooApp.profile.nogender">n'a pas de sexe</small>
                                            </small>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-1">
                                            <p class="float-right">
                                                <i class="fa fa-birthday-cake" aria-hidden="true"></i>
                                            </p>
                                        </div>
                                        <div class="col-xs-11">
                                            <p ng-show=" vm.profile.birthDate"> {{vm.profile.birthDate | date:'fullDate'}}</p>
                                            <small ng-hide="vm.profile.birthDate">{{vm.profile.firstName}}
                                                <span data-translate="netbedlooApp.profile.nobirth">n'est pas encore né</span>

                                            </small>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-1">
                                            <p class="float-right">
                                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                            </p>
                                        </div>
                                        <div class="col-xs-11">
                                            <p ng-show=" vm.profile.adress"> {{vm.profile.adress}}</p>
                                            <small ng-hide="vm.profile.adress">{{vm.profile.firstName}}
                                                <span data-translate="netbedlooApp.profile.noadress">n'est pas encore né</span>
                                            </small>
                                        </div>
                                    </div>
                                </div>

                                <form ng-show="editInfo===1" name="editInfoForm" ng-submit="saveInfos()">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <md-input-container class="md-block">
                                                <label data-translate="netbedlooApp.profile.phoneNumber">Numéro de téléphone</label>
                                                <input type="phone" ng-model="vm.profile.phoneNumber" ng-pattern="/^[0-9]{8}$/">
                                                <div ng-messages="editInfoForm.phone.$error" ng-hide="showHints">
                                                    <div ng-message="pattern">veuillez saisir un numéro de téléphone valide</div>
                                                </div>
                                            </md-input-container>
                                        </div>
                                        <div class="col-md-4">
                                            <md-input-container class="md-block">
                                                <label data-translate="netbedlooApp.profile.zipCode">Code Postale</label>
                                                <input name="zipCode" ng-model="vm.profile.zipCode" ng-pattern="/^[0-9]{4}$/">
                                                <div ng-messages="editInfoForm.zipCode.$error" ng-hide="showHints">
                                                    <div ng-message="pattern">veuillez saisir un code postale valide</div>
                                                </div>
                                            </md-input-container>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <md-input-container class="md-block">
                                                <label data-translate="netbedlooApp.profile.adress">Adresse</label>

                                                <input data-toggle="modal" data-target="#myMap" name="adress" ng-model="vm.profile.adress">

                                            </md-input-container>
                                        </div>


                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <md-input-container class="md-block">
                                                <label data-translate="netbedlooApp.profile.sexe">Sexe</label>
                                                <md-select ng-model="vm.profile.sexe" class="md-no-underline">
                                                    <md-option data-translate="netbedlooApp.profile.female" value="Feminin">Feminin</md-option>
                                                    <md-option data-translate="netbedlooApp.profile.male" value="Masculin">Masculin</md-option>
                                                    <md-option data-translate="netbedlooApp.profile.other" value="Autre">Autre</md-option>
                                                </md-select>
                                            </md-input-container>
                                        </div>
                                        <div class="col-md-6">
                                            <label data-translate="netbedlooApp.profile.birthDate">Date de naissance</label>
                                            <input type="date" ng-model="birthdate" />
                                        </div>
                                    </div>
                                    <md-button data-translate="netbedlooApp.profile.update" style="background: #3498db" type="submit" ng-disabled="editInfoForm.$invalid || vm.isSaving"
                                        class="md-raised md-primary">{{'netbedlooApp.profile.update' | translate}}</md-button>
                                    <md-button ng-click="editInfo=0" type="button" class="md-raised">{{'netbedlooApp.profile.cancel' | translate}}</md-button>

                                </form>

                                <a ng-click="editInfo=1" style="color:#3498db" ng-show="vm.profile.id===vm.account.profile.id&&editInfo===0">
                                    <p data-translate="netbedlooApp.profile.info" style="float: right;"> Modifier mes Infos</p>
                                </a>





                            </div>

                        </md-tab>

                    </md-tabs>


                </div>
            </div>
            <div>

                <div style="height: 5vh"></div>

                <div style="background: white" class="row maincard">
                    <md-toolbar ng-show="vm.profile.id!=vm.account.profile.id" class="md-hue-2" style="background:darkgoldenrod;height:45px">
                        <div class="md-toolbar-tools">
                            <h2 ng-hide="isArab" style="color: white">{{'netbedlooApp.profile.library' | translate}}
                                <strong style=" text-transform: capitalize;">{{vm.profile.firstName}} </strong>
                                <span ng-show="biblioBooks.length>1" class="label label-default" style="background:#0690CF; float:right;margin-left:10px">{{biblioBooks.length}} {{'netbedlooApp.profile.books' | translate}}</span>
                                <span ng-hide="biblioBooks.length!=1" class="label label-default" style="background:#0690CF; float:right;margin-left:10px">{{biblioBooks.length}} {{'netbedlooApp.profile.book' | translate}}</span>
                                <span ng-hide="biblioBooks.length!=0" class="label label-default" style="background:#0690CF; float:right;margin-left:10px">{{biblioBooks.length}} {{'netbedlooApp.profile.book' | translate}}</span>
                            </h2>
                            <h2 ng-show="isArab" dir="rtl" style="color: white">{{'netbedlooApp.profile.library' | translate}}
                                <strong style=" text-transform: capitalize;">{{vm.profile.firstName}} </strong>
                                <span ng-show="biblioBooks.length>1" class="label label-default" style="background:#0690CF; float:right;margin-left:10px">{{biblioBooks.length}} {{'netbedlooApp.profile.books' | translate}}</span>
                                <span ng-hide="biblioBooks.length!=1" class="label label-default" style="background:#0690CF; float:right;margin-left:10px">{{biblioBooks.length}} {{'netbedlooApp.profile.book' | translate}}</span>
                                <span ng-hide="biblioBooks.length!=0" class="label label-default" style="background:#0690CF; float:right;margin-left:10px">{{biblioBooks.length}} {{'netbedlooApp.profile.book' | translate}}</span>
                            </h2>


                        </div>
                    </md-toolbar>
                    <md-toolbar ng-hide="vm.profile.id!=vm.account.profile.id" class="md-hue-2" style="background:darkgoldenrod;height:45px">
                        <div class="md-toolbar-tools">


                            <h2 ng-hide="isArab" style="color: white">{{'netbedlooApp.profile.mine' | translate}}
                                <span ng-show="biblioBooks.length>1" class="label label-default" style="background:#0690CF; float:right;margin-left:10px">{{biblioBooks.length}} {{'netbedlooApp.profile.books' | translate}}</span>
                                <span ng-hide="biblioBooks.length!=1" class="label label-default" style="background:#0690CF; float:right;margin-left:10px">{{biblioBooks.length}} {{'netbedlooApp.profile.book' | translate}}</span>
                                <span ng-hide="biblioBooks.length!=0" class="label label-default" style="background:#0690CF; float:right;margin-left:10px">{{biblioBooks.length}} {{'netbedlooApp.profile.book' | translate}}</span>
                            </h2>
                            <h2 ng-show="isArab" dir="rtl" style="color: white;float:right">{{'netbedlooApp.profile.mine' | translate}}

                                <span ng-show="biblioBooks.length>1" class="label label-default" style="background:#0690CF; float:right;margin-left:10px">{{biblioBooks.length}} {{'netbedlooApp.profile.books' | translate}}</span>
                                <span ng-hide="biblioBooks.length!=1" class="label label-default" style="background:#0690CF; float:right;margin-left:10px">{{biblioBooks.length}} {{'netbedlooApp.profile.book' | translate}}</span>
                                <span ng-hide="biblioBooks.length!=0" class="label label-default" style="background:#0690CF; float:right;margin-left:10px">{{biblioBooks.length}} {{'netbedlooApp.profile.book' | translate}}</span>
                            </h2>

                        </div>
                    </md-toolbar>

                    <div ng-hide="isArab" ng-show="biblioBooks.length===0" class="container">
                        <div class="jumbotron">
                            <div class="container">
                                <h1 class="display-3">{{'netbedlooApp.profile.humm' | translate}} </h1>
                                <p class="lead" style="font-family: 'Satisfy', cursive;font-size:25px">
                                    <strong style=" text-transform: capitalize;">{{vm.profile.firstName}}</strong> {{'netbedlooApp.profile.nobooks' | translate}} ...</p>
                            </div>
                        </div>
                    </div>
                    <div ng-show="biblioBooks.length===0&&isArab" dir="rtl" class="container">
                        <div class="jumbotron">
                            <div class="container">
                                <h1 class="display-3">{{'netbedlooApp.profile.humm' | translate}} </h1>
                                <p class="lead" style="font-family: 'Satisfy', cursive;font-size:25px">
                                    <strong style=" text-transform: capitalize;">{{vm.profile.firstName}}</strong> {{'netbedlooApp.profile.nobooks' | translate}} ...</p>
                            </div>
                        </div>
                    </div>

                    <div class="row grid" style="width:100%;">
                        <div class="col-xl-2 col-lg-3 col-md-4" ng-repeat="livre in biblioBooks">
                            <figure style="max-height:70vh; max-width: 42vh;" class="effect-zoe">
                                <img ng-click="openDetails(livre.article)" ng-src="{{livre.article.mediumImage}}" alt="img25" style="width: 100%; height: auto;"
                                />
                                <figcaption>
                                    <br/>

                                    <p class="description">{{livre.article.title}}</p>
                                </figcaption>
                            </figure>
                        </div>
                    </div>



                </div>


                <div style="height:50px"></div>
                <div style="background: white" class="row maincard">
                    <md-toolbar ng-show="vm.profile.id!=vm.account.profile.id" class="md-hue-2" style="background:darkgoldenrod;height:45px">
                        <div class="md-toolbar-tools">


                            <h2 ng-hide="isArab" style="color: white">{{'netbedlooApp.profile.wishof' | translate}}
                                <strong style=" text-transform: capitalize;">{{vm.profile.firstName}} </strong>
                                <span ng-show="bookswishlist.length>1" class="label label-default" style="background:#0690CF; float:right;margin-left:10px">{{bookswishlist.length}} {{'netbedlooApp.profile.books' | translate}}</span>
                                <span ng-hide="bookswishlist.length!=1" class="label label-default" style="background:#0690CF; float:right;margin-left:10px">{{bookswishlist.length}} {{'netbedlooApp.profile.book' | translate}}</span>
                                <span ng-hide="bookswishlist.length!=0" class="label label-default" style="background:#0690CF; float:right;margin-left:10px">{{bookswishlist.length}} {{'netbedlooApp.profile.book' | translate}}</span>

                            </h2>
                            <h2 ng-show="isArab" dir="rtl" style="color: white;float:right">{{'netbedlooApp.profile.wishof' | translate}}
                                <strong style=" text-transform: capitalize;">{{vm.profile.firstName}} </strong>
                                <span ng-show="bookswishlist.length>1" class="label label-default" style="background:#0690CF; float:right;margin-left:10px">{{bookswishlist.length}} {{'netbedlooApp.profile.books' | translate}}</span>
                                <span ng-hide="bookswishlist.length!=1" class="label label-default" style="background:#0690CF; float:right;margin-left:10px">{{bookswishlist.length}} {{'netbedlooApp.profile.book' | translate}}</span>
                                <span ng-hide="bookswishlist.length!=0" class="label label-default" style="background:#0690CF; float:right;margin-left:10px">{{bookswishlist.length}} {{'netbedlooApp.profile.book' | translate}}</span>
                            </h2>

                        </div>
                    </md-toolbar>
                    <md-toolbar ng-hide="vm.profile.id!=vm.account.profile.id" class="md-hue-2" style="background:darkgoldenrod;height:45px">
                        <div class="md-toolbar-tools">

                            <h2 ng-hide="isArab" style="color: white">{{'netbedlooApp.profile.mywish' | translate}}

                                <span ng-show="bookswishlist.length>1" class="label label-default" style="background:#0690CF; float:right;margin-left:10px">{{bookswishlist.length}} {{'netbedlooApp.profile.books' | translate}}</span>
                                <span ng-hide="bookswishlist.length!=1" class="label label-default" style="background:#0690CF; float:right;margin-left:10px">{{bookswishlist.length}} {{'netbedlooApp.profile.book' | translate}}</span>
                                <span ng-hide="bookswishlist.length!=0" class="label label-default" style="background:#0690CF; float:right;margin-left:10px">{{bookswishlist.length}} {{'netbedlooApp.profile.book' | translate}}</span>

                            </h2>
                            <h2 ng-show="isArab" dir="rtl" style="color: white;float:right">{{'netbedlooApp.profile.mywish' | translate}}
                                <span ng-show="bookswishlist.length>1" class="label label-default" style="background:#0690CF; float:right;margin-left:10px">{{bookswishlist.length}} {{'netbedlooApp.profile.books' | translate}}</span>
                                <span ng-hide="bookswishlist.length!=1" class="label label-default" style="background:#0690CF; float:right;margin-left:10px">{{bookswishlist.length}} {{'netbedlooApp.profile.book' | translate}}</span>
                                <span ng-hide="bookswishlist.length!=0" class="label label-default" style="background:#0690CF; float:right;margin-left:10px">{{bookswishlist.length}} {{'netbedlooApp.profile.book' | translate}}</span>
                            </h2>

                        </div>
                    </md-toolbar>
                    <div ng-hide="isArab" ng-show="bookswishlist.length===0" class="container">
                        <div class="jumbotron">
                            <div class="container">
                                <h1 class="display-3">{{'netbedlooApp.profile.humm' | translate}} </h1>
                                <p class="lead" style="font-family: 'Satisfy', cursive;font-size:25px">
                                    <strong style=" text-transform: capitalize;">{{vm.profile.firstName}}</strong> {{'netbedlooApp.profile.nofab' | translate}} ...</p>
                            </div>
                        </div>
                    </div>
                    <div ng-show="bookswishlist.length===0&&isArab" dir="rtl" class="container">
                        <div class="jumbotron">
                            <div class="container">
                                <h1 class="display-3">{{'netbedlooApp.profile.humm' | translate}} </h1>
                                <p class="lead" style="font-family: 'Satisfy', cursive;font-size:25px">
                                    <strong style=" text-transform: capitalize;">{{vm.profile.firstName}}</strong> {{'netbedlooApp.profile.nofab' | translate}} ...</p>
                            </div>
                        </div>
                    </div>

                    <div class="row grid" style="width:100%;">
                        <div class="col-xl-2 col-lg-3 col-md-4" ng-repeat="livre in bookswishlist">
                            <figure style="max-height:70vh; max-width: 42vh;" class="effect-zoe">
                                <img ng-click="openDetails(livre.article)" ng-src="{{livre.article.mediumImage}}" alt="img25" style="width: 100%; height: auto;"
                                />
                                <figcaption>
                                    <br/>
                                    <p class="description">{{livre.article.title}}</p>
                                </figcaption>
                            </figure>
                        </div>
                    </div>



                </div>

                <div style="height:50px"></div>
                <div style="background: black;" class="row maincard">
                    <md-toolbar ng-show="vm.profile.id!=vm.account.profile.id" class="md-hue-2" style="background:darkred;height:45px">
                        <div class="md-toolbar-tools">
                            <h2 ng-hide="isArab" style="color: white">{{'netbedlooApp.profile.glibrary' | translate}}
                                <strong style=" text-transform: capitalize;">{{vm.profile.firstName}} </strong>
                                <span ng-show="biblioGames.length>1" class="label label-default" style="background:black; float:right;margin-left:10px">{{biblioGames.length}} {{'netbedlooApp.profile.games' | translate}}</span>
                                <span ng-hide="biblioGames.length!=1" class="label label-default" style="background:black; float:right;margin-left:10px">{{biblioGames.length}} {{'netbedlooApp.profile.game' | translate}}</span>
                                <span ng-hide="biblioGames.length!=0" class="label label-default" style="background:black; float:right;margin-left:10px">{{biblioGames.length}} {{'netbedlooApp.profile.game' | translate}}</span>

                            </h2>
                            <h2 ng-show="isArab" dir="rtl" style="color: white;float:right">{{'netbedlooApp.profile.glibrary' | translate}}
                                <strong style=" text-transform: capitalize;">{{vm.profile.firstName}} </strong>
                                <span ng-show="biblioGames.length>1" class="label label-default" style="background:black; float:right;margin-left:10px">{{biblioGames.length}} {{'netbedlooApp.profile.games' | translate}}</span>
                                <span ng-hide="biblioGames.length!=1" class="label label-default" style="background:black; float:right;margin-left:10px">{{biblioGames.length}} {{'netbedlooApp.profile.game' | translate}}</span>
                                <span ng-hide="biblioGames.length!=0" class="label label-default" style="background:black; float:right;margin-left:10px">{{biblioGames.length}} {{'netbedlooApp.profile.game' | translate}}</span>
                            </h2>

                        </div>
                    </md-toolbar>
                    <md-toolbar ng-hide="vm.profile.id!=vm.account.profile.id" class="md-hue-2" style="background:darkred;height:45px">
                        <div class="md-toolbar-tools">

                            <h2 ng-hide="isArab" style="color: white">{{'netbedlooApp.profile.gmine' | translate}}

                                <span ng-show="biblioGames.length>1" class="label label-default" style="background:black; float:right;margin-left:10px">{{biblioGames.length}} {{'netbedlooApp.profile.games' | translate}}</span>
                                <span ng-hide="biblioGames.length!=1" class="label label-default" style="background:black; float:right;margin-left:10px">{{biblioGames.length}} {{'netbedlooApp.profile.game' | translate}}</span>
                                <span ng-hide="biblioGames.length!=0" class="label label-default" style="background:black; float:right;margin-left:10px">{{biblioGames.length}} {{'netbedlooApp.profile.game' | translate}}</span>

                            </h2>
                            <h2 ng-show="isArab" dir="rtl" style="color: white;float:right">{{'netbedlooApp.profile.gmine' | translate}}

                                <span ng-show="biblioGames.length>1" class="label label-default" style="background:black; float:right;margin-left:10px">{{biblioGames.length}} {{'netbedlooApp.profile.games' | translate}}</span>
                                <span ng-hide="biblioGames.length!=1" class="label label-default" style="background:black; float:right;margin-left:10px">{{biblioGames.length}} {{'netbedlooApp.profile.game' | translate}}</span>
                                <span ng-hide="biblioGames.length!=0" class="label label-default" style="background:black; float:right;margin-left:10px">{{biblioGames.length}} {{'netbedlooApp.profile.game' | translate}}</span>
                            </h2>

                        </div>
                    </md-toolbar>

                    <div style="background: black;" ng-hide="isArab" ng-show="biblioGames.length===0" class="container">
                        <div style="background: black;" class="jumbotron">
                            <div class="container">
                                <h1 class="display-3" style="color: #ffffff">{{'netbedlooApp.profile.humm' | translate}}</h1>
                                <p class="lead" style="color:white;font-family: 'Share Tech Mono', monospace;font-size:25px">
                                    <strong style=" text-transform: capitalize;">{{vm.profile.firstName}}</strong> {{'netbedlooApp.profile.nogames' | translate}} ...</p>
                            </div>
                        </div>
                    </div>
                    <div style="background: black;" ng-show="biblioGames.length===0&&isArab" dir="rtl" class="container">
                        <div style="background: black;" class="jumbotron">
                            <div class="container">
                                <h1 class="display-3" style="color: #ffffff">{{'netbedlooApp.profile.humm' | translate}} </h1>
                                <p class="lead" style="color:white;font-family: 'Share Tech Mono', monospace;font-size:25px">
                                    <strong style=" text-transform: capitalize;">{{vm.profile.firstName}}</strong> {{'netbedlooApp.profile.nogames' | translate}} ...</p>
                            </div>
                        </div>
                    </div>


                    <div class="row gridgames">
                        <div class="col-xl-2 col-lg-3 col-md-4" ng-repeat="livre in biblioGames">
                            <figure style="max-height:70vh; max-width: 42vh; min-width: 100%" class="effect-zoe">
                                <img ng-click="openDetails(livre.article)" ng-src="{{livre.article.mediumImage}}" alt="img25" style="width: 100%; height: auto;"
                                />
                                <figcaption>
                                    <p class="description">{{livre.article.title}}</p>
                                </figcaption>
                            </figure>
                        </div>
                    </div>

                </div>
                <div style="height:50px"></div>
                <div style="background: black" class="row maincard">

                    <md-toolbar ng-show="vm.profile.id!=vm.account.profile.id" class="md-hue-2" style="background:darkred;height:45px">
                        <div class="md-toolbar-tools">
                            <h2 ng-hide="isArab" style="color: white">{{'netbedlooApp.profile.gwishof' | translate}}
                                <strong style=" text-transform: capitalize;">{{vm.profile.firstName}} </strong>
                                <span ng-show="gameswishlist.length>1" class="label label-default" style="background:black; float:right;margin-left:10px">{{gameswishlist.length}} {{'netbedlooApp.profile.games' | translate}}</span>
                                <span ng-hide="gameswishlist.length!=1" class="label label-default" style="background:black; float:right;margin-left:10px">{{gameswishlist.length}} {{'netbedlooApp.profile.game' | translate}}</span>
                                <span ng-hide="gameswishlist.length!=0" class="label label-default" style="background:black; float:right;margin-left:10px">{{gameswishlist.length}} {{'netbedlooApp.profile.game' | translate}}</span>

                            </h2>
                            <h2 ng-show="isArab" dir="rtl" style="color: white;float:right">{{'netbedlooApp.profile.gwishof' | translate}}
                                <strong style=" text-transform: capitalize;">{{vm.profile.firstName}} </strong>
                                <span ng-show="gameswishlist.length>1" class="label label-default" style="background:black; float:right;margin-left:10px">{{gameswishlist.length}} {{'netbedlooApp.profile.games' | translate}}</span>
                                <span ng-hide="gameswishlist.length!=1" class="label label-default" style="background:black; float:right;margin-left:10px">{{gameswishlist.length}} {{'netbedlooApp.profile.game' | translate}}</span>
                                <span ng-hide="gameswishlist.length!=0" class="label label-default" style="background:black; float:right;margin-left:10px">{{gameswishlist.length}} {{'netbedlooApp.profile.game' | translate}}</span>
                            </h2>

                        </div>
                    </md-toolbar>
                    <md-toolbar ng-hide="vm.profile.id!=vm.account.profile.id" class="md-hue-2" style="background:darkred;height:45px">
                        <div class="md-toolbar-tools">


                            <h2 ng-hide="isArab" style="color: white">{{'netbedlooApp.profile.gmywish' | translate}}

                                <span ng-show="gameswishlist.length>1" class="label label-default" style="background:black; float:right;margin-left:10px">{{gameswishlist.length}} {{'netbedlooApp.profile.games' | translate}}</span>
                                <span ng-hide="gameswishlist.length!=1" class="label label-default" style="background:black; float:right;margin-left:10px">{{gameswishlist.length}} {{'netbedlooApp.profile.game' | translate}}</span>
                                <span ng-hide="gameswishlist.length!=0" class="label label-default" style="background:black; float:right;margin-left:10px">{{gameswishlist.length}} {{'netbedlooApp.profile.game' | translate}}</span>

                            </h2>
                            <h2 ng-show="isArab" dir="rtl" style="color: white;float:right">{{'netbedlooApp.profile.gmywish' | translate}}

                                <span ng-show="gameswishlist.length>1" class="label label-default" style="background:black; float:right;margin-left:10px">{{gameswishlist.length}} {{'netbedlooApp.profile.games' | translate}}</span>
                                <span ng-hide="gameswishlist.length!=1" class="label label-default" style="background:black; float:right;margin-left:10px">{{gameswishlist.length}} {{'netbedlooApp.profile.game' | translate}}</span>
                                <span ng-hide="gameswishlist.length!=0" class="label label-default" style="background:black; float:right;margin-left:10px">{{gameswishlist.length}} {{'netbedlooApp.profile.game' | translate}}</span>
                            </h2>

                        </div>
                    </md-toolbar>
                    <div style="background: black;" ng-show="gameswishlist.length===0" ng-hide="isArab" class="container">
                        <div style="background: black;" class="jumbotron">
                            <div class="container">
                                <h1 class="display-3" style="color: #ffffff">{{'netbedlooApp.profile.humm' | translate}} </h1>
                                <p class="lead" style="color:white;font-family: 'Share Tech Mono', monospace;font-size:25px">
                                    <strong style=" text-transform: capitalize;">{{vm.profile.firstName}}</strong> {{'netbedlooApp.profile.nofag' | translate}} ...</p>
                            </div>
                        </div>
                    </div>
                    <div style="background: black;" ng-show="gameswishlist.length===0&&isArab" dir="rtl" class="container">
                        <div style="background: black;" class="jumbotron">
                            <div class="container">
                                <h1 class="display-3" style="color: #ffffff">{{'netbedlooApp.profile.humm' | translate}} </h1>
                                <p class="lead" style="color:white;font-family: 'Share Tech Mono', monospace;font-size:25px">
                                    <strong style=" text-transform: capitalize;">{{vm.profile.firstName}}</strong> {{'netbedlooApp.profile.nofag' | translate}} ...</p>
                            </div>
                        </div>
                    </div>


                    <div class="row gridgames">
                        <div class="col-xl-2 col-lg-3 col-md-4" ng-repeat="livre in gameswishlist">
                            <figure style="max-height:70vh; max-width: 42vh; min-width: 100%" class="effect-zoe">
                                <img ng-click="openDetails(livre.article)" ng-src="{{livre.article.mediumImage}}" alt="img25" style="width: 100%; height: auto;"
                                />
                                <figcaption>
                                    <p class="description">{{livre.article.title}}</p>
                                </figcaption>
                            </figure>
                        </div>
                    </div>

                </div>
                <div style="height: 50px "></div>
                <div style="bottom:0px; height: 80px">
                    <div style="height: 40px;  text-align: center;  padding: 12px; color: darkgray;
            " ng-cloak>
                        <center>
                            <small> {{'global.copyrights' | translate}} 2017, Netbedloo.com,
                                <a style="color:#F37601" target="_blank" href="https://www.naru.tn/">{{'global.ltd' | translate}}</a>
                            </small>
                        </center>

                    </div>
                    <div style="height: 40px"></div>
                </div>


            </div>
        </div>

        <div style="height: 100vh;" class="col-lg-2 hidden-md-down">
        </div>
        <div ng-hide="vm.profile.followed.length===0" has-any-authority="ROLE_ADMIN, ROLE_USER" style="position: fixed; top:100px; right: 10px ;height: 100vh; padding:40px"
            class="col-lg-2 hidden-md-down">
            <div class="sideCard">

                <Strong ng-hide="isArab" class="sideTitle" data-translate="netbedlooApp.profile.home.followed">Suivi Par </Strong>
                <Strong ng-show="isArab" dir="rtl" class="sideTitle" style="float: right;" data-translate="netbedlooApp.profile.home.followed">Suivi Par </Strong>
                <div>
                    <br>
                    <div ng-repeat="follower in vm.profile.followed" class="col-md-4" style="margin:0px">
                        <a ui-sref="profile-detail({pseudo:follower.follower.pseudo})">
                            <img style="height: auto; width: 100%; border-radius: 5px; display: flex;justify-content: center; padding: 5px; filter: grayscale(100%);"
                                ng-src="{{follower.follower.thumbnailImage}}" />
                        </a>
                    </div>

                </div>
            </div>

        </div>


    </div>










    <!-- modal-->
    <div style=" background: rgba(0, 0, 0, 0.8);" id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content needs fix-->
            <div style="background:black;color: white" class="modal-content">

                <div class="modal-body">

                    <center>
                        <div>
                            <label style="width:40%" for="fileInput" class="btn btn-primary btn-block btn-outlined">{{'netbedlooApp.profile.add.select' | translate}}</label>
                            <input accept="image/*" type="file" id="fileInput" style="visibility:hidden" />
                        </div>

                        <div style="min-height: 300px; height: 100%; width: 100%; background:black" class="cropArea">
                            <ui-cropper style="height: 100%" image="myImage" area-type="circle" chargement=" 'Chargment en cours'" result-image-size="1000"
                                result-image="myCroppedImage" canvas-scalemode="true"></ui-cropper>
                        </div>

                    </center>
                </div>
                <div class="modal-footer">
                    <button style="float: right" ng-show="myCroppedImage===''" type="button" class="btn btn-secondary" data-dismiss="modal">{{'netbedlooApp.profile.cancel' | translate}}</button>
                    <button ng-hide="myCroppedImage===''" ng-click="smt()" type="button" class="btn btn-primary" data-dismiss="modal">{{'netbedlooApp.profile.add.update' | translate}}</button>

                </div>
            </div>

        </div>
    </div>
    <div class="modal fade" id="changePassword" role="dialog" aria-labelledby="reportbook" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="margin-top: 15vh">
                <form ng-submit="vm.changePassword()" name="Passwordform" role="form">
                    <div class="modal-header">
                        <center>
                            <h4 class="modal-title" id="exampleModalLabel">Change My Password</h4>
                        </center>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div ng-show="vm.success!=null" class="well">
                            <strong>Password Changed!</strong> Please keep it confidential
                        </div>
                        <div ng-show="vm.error!=null" class="well">
                            <strong>Something went wrong!</strong> Try to change your password later
                        </div>
                        <div ng-hide="vm.success!=null||vm.error!=null">
                            <md-input-container class="md-block">
                                <label> New Password </label>
                                <input type="password" id="password" name="password" md-maxlength="50" md-minlength="4" required ng-model="vm.password" />
                                <password-strength-bar password-to-check="vm.password"></password-strength-bar>

                                <div style="margin-top:10px">
                                    <span class="label label-danger" ng-hide="vm.password.length!=0" data-translate="global.messages.validate.newpassword.required">
                                        Your password is required.
                                    </span>
                                    <span class="label label-danger" ng-hide="vm.password.length>4" data-translate="global.messages.validate.newpassword.minlength">
                                        Your password is required to be at least 4 characters.
                                    </span>
                                    <span class="label label-danger" ng-hide="vm.password.length<50" data-translate="global.messages.validate.newpassword.maxlength">
                                        Your password password cannot be longer than 50 characters.
                                    </span>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label> confirm password </label>
                                <input type="password" id="confirmPassword" name="confirmPassword" ng-model="vm.confirmPassword" ng-minlength=4 ng-maxlength=50
                                    required />

                                <div style="padding-top:40px">
                                    <span class="label label-danger" ng-hide="vm.confirmPassword.length!=0">
                                        Your Confirmation is required.
                                    </span>
                                    <span class="label label-danger" ng-show="vm.confirmPassword!=vm.password&&vm.confirmPassword.length!=0">
                                        Your password doesn't match with your confirmation
                                    </span>

                                </div>
                            </md-input-container>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button ng-hide="vm.success!=null||vm.error!=null" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button ng-hide="vm.success!=null||vm.error!=null" type="submit" class="btn btn-primary">Change It</button>
                        <button ng-show="vm.success!=null||vm.error!=null" type="button" class="btn btn-primary" style="background:#3498db;border-color:#3498db"
                            data-dismiss="modal">Okay!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myReport" role="dialog" aria-labelledby="reportbook" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form ng-submit="saveReport()" name="form" role="form">
                    <div class="modal-header">
                        <center>
                            <h4 ng-hide="isArab" class="modal-title" id="exampleModalLabel">{{'netbedlooApp.profile.report' | translate}} {{vm.profile.firstName}}</h4>
                            <h4 ng-show="isArab" dir="rtl" class="modal-title" id="exampleModalLabel">{{'netbedlooApp.profile.report' | translate}} {{vm.profile.firstName}}</h4>
                        </center>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div ng-hide="isArab" class="modal-body">

                        <div ng-show="reported" class="alert alert-info">
                            {{'netbedlooApp.profile.success' | translate}}
                        </div>

                        <md-input-container ng-hide="reported" class="md-block">
                            <label> {{'netbedlooApp.profile.reason' | translate}}</label>
                            <textarea required ng-model="content" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                        </md-input-container>

                    </div>
                    <div ng-show="isArab" dir="rtl" class="modal-body">

                        <div ng-show="reported" s class="alert alert-info">
                            {{'netbedlooApp.profile.success' | translate}}
                        </div>

                        <md-input-container ng-hide="reported" class="md-block">
                            <label> {{'netbedlooApp.profile.reason' | translate}}</label>
                            <textarea required ng-model="content" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                        </md-input-container>

                    </div>
                    <div class="modal-footer">
                        <button ng-hide="reported" type="button" class="btn btn-secondary" data-dismiss="modal">{{'netbedlooApp.profile.cancel' | translate}}</button>
                        <button ng-hide="reported" type="submit" class="btn btn-primary">{{'netbedlooApp.profile.done' | translate}}</button>
                        <button ng-show="reported" type="button" class="btn btn-primary" style="background:#3498db;border-color:#3498db" data-dismiss="modal">{{'netbedlooApp.profile.ok' | translate}}</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myMap" role="dialog" aria-labelledby="reportbook" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form name="form" role="form">
                    <div class="modal-header">

                        <h4 class="modal-title" id="myMap">My Adress</h4>
                        <button type="button" class="pull-right" style="background:white;border:1px solid white" data-dismiss="modal" aria-label="Close">
                            <span class="fa fa-times"></span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <div id="map" style="width: 100%; height: 400px;"></div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                        <button type="button" class="btn btn-primary" style="background:#3498db;border-color:#3498db" data-dismiss="modal">Okay!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>



</body>

</html>