
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myProfileLabel" data-translate="netbedlooApp.profile.home.createOrEditLabel">Create or edit a Profile</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.profile.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.profile.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="netbedlooApp.profile.firstName" for="field_firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" id="field_firstName"
                    ng-model="vm.profile.firstName"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="netbedlooApp.profile.lastName" for="field_lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" id="field_lastName"
                    ng-model="vm.profile.lastName"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="netbedlooApp.profile.birthDate" for="field_birthDate">Birth Date</label>
                <div class="input-group">
                    <input id="field_birthDate" type="text" class="form-control" name="birthDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.profile.birthDate" is-open="vm.datePickerOpenStatus.birthDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('birthDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="netbedlooApp.profile.imagePath" for="field_imagePath">Image Path</label>
            <input type="text" class="form-control" name="imagePath" id="field_imagePath"
                    ng-model="vm.profile.imagePath"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="netbedlooApp.profile.sexe" for="field_sexe">Sexe</label>
            <input type="text" class="form-control" name="sexe" id="field_sexe"
                    ng-model="vm.profile.sexe"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="netbedlooApp.profile.adress" for="field_adress">Adress</label>
            <input type="text" class="form-control" name="adress" id="field_adress"
                    ng-model="vm.profile.adress"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="netbedlooApp.profile.zipCode" for="field_zipCode">Zip Code</label>
            <input type="number" class="form-control" name="zipCode" id="field_zipCode"
                    ng-model="vm.profile.zipCode"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="netbedlooApp.profile.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                    ng-model="vm.profile.email"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="netbedlooApp.profile.phoneNumber" for="field_phoneNumber">Phone Number</label>
            <input type="text" class="form-control" name="phoneNumber" id="field_phoneNumber"
                    ng-model="vm.profile.phoneNumber"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="netbedlooApp.profile.bio" for="field_bio">Bio</label>
            <input type="text" class="form-control" name="bio" id="field_bio"
                    ng-model="vm.profile.bio"
                    />
        </div>

        <div class="form-group">
            <label data-translate="netbedlooApp.profile.gouv" for="field_gouv">Gouv</label>
            <select class="form-control" id="field_gouv" name="gouv" ng-model="vm.profile.gouv" ng-options="gouv as gouv.name for gouv in vm.gouvs track by gouv.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
