
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myGouvLabel" data-translate="netbedlooApp.gouv.home.createOrEditLabel">Create or edit a Gouv</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.gouv.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.gouv.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="netbedlooApp.gouv.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.gouv.name"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="netbedlooApp.gouv.longitude" for="field_longitude">Longitude</label>
            <input type="number" class="form-control" name="longitude" id="field_longitude"
                    ng-model="vm.gouv.longitude"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="netbedlooApp.gouv.latitude" for="field_latitude">Latitude</label>
            <input type="number" class="form-control" name="latitude" id="field_latitude"
                    ng-model="vm.gouv.latitude"
                    />
        </div>

        <div class="form-group">
            <label data-translate="netbedlooApp.gouv.country" for="field_country">Country</label>
            <select class="form-control" id="field_country" name="country" ng-model="vm.gouv.country" ng-options="country as country.id for country in vm.countries track by country.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
