
<div>
    <h2><span data-translate="netbedlooApp.gouv.detail.title">Gouv</span> {{vm.gouv.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="netbedlooApp.gouv.name">Name</span></dt>
        <dd>
            <span>{{vm.gouv.name}}</span>
        </dd>
        <dt><span data-translate="netbedlooApp.gouv.longitude">Longitude</span></dt>
        <dd>
            <span>{{vm.gouv.longitude}}</span>
        </dd>
        <dt><span data-translate="netbedlooApp.gouv.latitude">Latitude</span></dt>
        <dd>
            <span>{{vm.gouv.latitude}}</span>
        </dd>
        <dt><span data-translate="netbedlooApp.gouv.country">Country</span></dt>
        <dd>
            <a ui-sref="country-detail({id:vm.gouv.country.id})">{{vm.gouv.country.id}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="gouv-detail.edit({id:vm.gouv.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
